*,*::before,*::after{
  box-sizing: border-box;
  vertical-align: middle;
}

body{
  padding-top: 86px;
  @media (max-width:992px) {
    padding-top: 62px;
  }
}

img{
  width: 100%;
  height: auto;
}

ul,ol,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

// Buttons
.btn-primary{
  color: $white;
  &:hover{
    color: $white;
  }
}

.btn-outline-primary{
  &:hover{
    background-color: rgba($primary, 20%);
    color: $primary;
  }
}

.btn-warning{
  border-radius: 5px;
  border: 0;
  &:hover{
    background-color: lighten($warning, 20%);
    color: $black;
  }
}

.btn-outline-warning{
  padding: 8px;
  border-radius: 5px;
  &:hover{
    background-color: rgba($warning, 20%);
    color: $warning;
  }
}

.btn-link{
  padding: 4px 0;
}

.btn-outline-dark{
  &:hover{
    background-color: rgba($light, 20%);
    color: $dark;
  }
}


// badge
.badge{
  border: 1px solid $light ;
  color: $light;
}

.badge-primary{
  border: 0;
  color: $white;
  background-color: $primary;
}

.badge-secondary{
  border: 0;
  color: $dark;
  background-color: $secondary;
}

.badge-outline-primary{
  border: 1px solid $primary;
  color: $primary;
}


// Form
.form-control, .form-select{
  border-bottom: 1px solid $light;
}


// Nav Tab
.tabs{
  .nav-item{
    border-bottom: 2px solid $light;
  }
}

// modal
.modal{
  &-footer{
    .btn{
      width: 128px;
    }
  }
  &-title{
    font-size: 20px;
  }
}


// table
.td-124{
  max-width: 124px;
  min-width: 116px;
}

.td-88{
  max-width: 88px;
  min-width: 80px;
}

.td-56{
  max-width: 56px;
}

.table-pagination{
  .pagination-select{
    width: 88px;
  }
  .page-link{
    background-color: transparent;
  }
  .active{
    background-color: $primary;
  }
}