*,*::before,*::after{
  box-sizing: border-box;
  vertical-align: middle;
}

body{
  padding-top: 86px;
  @media (max-width:992px) {
    padding-top: 57px;
  }
}

img{
  width: 100%;
  height: auto;
}

ul,ol,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

// Buttons
.btn-primary{
  color: $white;
  &:hover{
    color: $white;
  }
}

.btn-outline-primary{
  &:hover{
    background-color: rgba($primary, 20%);
    color: $primary;
  }
}

.btn-warning{
  border-radius: 5px;
  border: 0;
  &:hover{
    background-color: lighten($warning, 20%);
    color: $black;
  }
}

.btn-outline-warning{
  padding: 8px;
  border-radius: 5px;
  &:hover{
    background-color: rgba($warning, 20%);
    color: $warning;
  }
}

.btn-link{
  padding: 4px 0;
}

.btn-outline-dark{
  &:hover{
    background-color: rgba($light, 20%);
    color: $dark;
  }
}


// badge
.badge{
  border: 1px solid $light ;
  color: $light;
}

.badge-primary{
  border: 0;
  color: $white;
  background-color: $primary;
}

.badge-secondary{
  border: 0;
  color: $dark;
  background-color: $secondary;
}

.badge-outline-primary{
  border: 1px solid $primary;
  color: $primary;
}


// Form
.form-control, .form-select{
  border-bottom: 1px solid $light;
}


// Nav Tab
.tabs{
  .nav-item{
    border-bottom: 2px solid $light;
  }
}

// modal
.modal{
  &-footer{
    .btn{
      width: 128px;
    }
  }
  &-title{
    font-size: 20px;
  }
}


// table
.td-124{
  max-width: 124px;
  min-width: 116px;
}

.td-88{
  max-width: 88px;
  min-width: 80px;
}

.td-56{
  max-width: 56px;
}

.table-pagination{
  .pagination-select{
    width: 88px;
  }
  .page-link{
    background-color: transparent;
  }
  .active{
    background-color: $primary;
  }
}

// incrementer
.incrementer{
  width: 128px;
  input{
    border: 0;
    font-size: 20px;
  }
  button{
    padding: 4px;
    border-radius: 0;
    color: $dark;
    font-size: 20px;
    border: 0;
    strong{
      display: none;
    }
  }
  .btn-minus{
    background-image: url('https://raw.githubusercontent.com/xuannn0915/CareForCook/3c163f374ceeeca7c279887e587b9a285182246a/assets/images/shopping/remove.svg');
    background-repeat: no-repeat;
    background-position: center center;
    &:hover{
      background-color: rgba($light, 10%);
    }
  }
  .btn-plus{
    background-image: url('https://raw.githubusercontent.com/xuannn0915/CareForCook/3c163f374ceeeca7c279887e587b9a285182246a/assets/images/shopping/add.svg');
    background-repeat: no-repeat;
    background-position: center center;
    &:hover{
      background-color: rgba($primary, 10%);
    }
  }
}

// scrollBar
    //捲軸底色
    #scrollBar::-webkit-scrollbar-track {
      background-color:transparent;
    }
    //捲軸寬度
    #scrollBar::-webkit-scrollbar {
      height: 0px;
      background-color: transparent;
    }