@mixin red_comma {
  content: "";
  background-image: url("https://github.com/xuannn0915/CareForCook/blob/main/assets/images/home/comma.png?raw=true");
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 21px;

  @media (max-width: 992px) {
    width: 10px;
    height: 18px;
    margin: 0 0 12px 12px;
    left: 70%;
  }
}

@mixin secondary_bg {
  background: linear-gradient(
      0deg,
      rgba(254, 227, 197, 0.1) 0%,
      rgba(254, 227, 197, 0.1) 100%
    ),
    #fff;
}

@mixin multiline-ellipsis($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

@mixin bg_wave($desktop_place, $mobile_place) {
  background-image: url("https://raw.githubusercontent.com/xuannn0915/CareForCook/e4ca5a23e7f99ecbc70a5224b65522239e92a972/assets/images/home/bottom_lineargrdient-1.svg"),
    url("https://raw.githubusercontent.com/xuannn0915/CareForCook/e4ca5a23e7f99ecbc70a5224b65522239e92a972/assets/images/home/bottom_lineargrdient-2.svg");
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center, bottom $desktop_place center;

  @media (max-width:992px) {
    background-position: bottom center, bottom $mobile_place center;
  }
}

@mixin fadeInOut ($x, $y, $opacity){
  opacity: $opacity;
  transition: 1.5s;
  transform: translate($x, $y);
}

