<section class="backstage-sidebar-desktop d-lg-inline-flex d-none flex-column p-6 bg-white align-items-center position-sticky top-0 vh-100">
      <button class="bg-white border-0 p-0 position-absolute menu-btn z-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <span class="material-symbols-rounded me-2"> menu </span>
      </button>
    <div class="sidebar-bottom position-absolute">
      <div class="account-info mb-4 text-nowrap">
        <h5 class="mb-1">陳子瑄</h5>
        <p class="fs-6">A4322 資訊單位</p>
      </div>
      <a href="backstage_login.html" class="btn btn-outline-primary d-flex align-items-center justify-content-center logout-btn px-1">
        <p class="logout text-nowrap">
          登出
        </p>
        <span class="material-symbols-rounded ms-2"> logout </span>
      </a>
    </div>
  <div class="collapse collapse-horizontal" id="collapseExample">
      <ul>
        <li class="mb-7">
          <img src="../assets/images/layout/logo.png" alt="logo" class="ms-auto d-block">
        </li>
        <li class="text-nowrap mb-6 d-flex align-items-center">
          <a href="backstage_order.html">
            <span class="material-symbols-rounded me-2">
              space_dashboard 
            </span>
            訂單管理
          </a>
        </li>
        <li class="text-nowrap mb-6">
          <a href="backstage_product.html">
            <span class="material-symbols-rounded me-2"> 
              inventory_2 
            </span>
            商品管理
          </a>
        </li>
        <li class="text-nowrap mb-6">
          <a href="backstage_article.html">
            <span class="material-symbols-rounded me-2"> 
              newsmode 
            </span>
            文章管理
          </a>
        </li>
        <li class="text-nowrap mb-6">
          <a href="backstage_feedback.html">
            <span class="material-symbols-rounded me-2"> 
              mark_chat_unread
            </span>
            留言管理
          </a>
        </li>
        <li class="text-nowrap mb-6">
          <a href="backstage_contact.html">
            <span class="material-symbols-rounded me-2"> 
              description 
            </span>
            問卷管理
          </a>
        </li>
      </ul>
  </div>
</section>


<section class="backstage-sidebar-mobile d-lg-none bg-transparent position-fixed w-100 z-1">
  <div class="d-flex align-items-center justify-content-between bg-white px-4 py-2">
    <button class="bg-white border-0 p-0" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
      <span class="material-symbols-rounded me-2"> menu </span>
    </button>
    <img src="../assets/images/layout/logo.png" alt="logo">
    <a href="backstage_login.html" class="material-symbols-rounded ms-2 text-primary"> logout </a>
  </div>

<div class="offcanvas offcanvas-start p-6 d-flex flex-column justify-content-between" data-bs-scroll="true" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <ul>
    <li class="text-nowrap mb-6 d-flex align-items-center">
      <a href="backstage_order.html">
        <span class="material-symbols-rounded me-2">
          space_dashboard 
        </span>
        訂單管理
      </a>
    </li>
    <li class="text-nowrap mb-6">
      <a href="backstage_product.html">
        <span class="material-symbols-rounded me-2"> 
          inventory_2 
        </span>
        商品管理
      </a>
    </li>
    <li class="text-nowrap mb-6">
      <a href="backstage_article.html">
        <span class="material-symbols-rounded me-2"> 
          newsmode 
        </span>
        文章管理
      </a>
    </li>
    <li class="text-nowrap mb-6">
      <a href="backstage_feedback.html">
        <span class="material-symbols-rounded me-2"> 
          mark_chat_unread
        </span>
        留言管理
      </a>
    </li>
    <li class="text-nowrap mb-6">
      <a href="backstage_contact.html">
        <span class="material-symbols-rounded me-2"> 
          description 
        </span>
        問卷管理
      </a>
    </li>
  </ul>
  <div class="sidebar-bottom">
    <h5 class="mb-1">陳子瑄</h5>
    <p class="fs-6">A4322 資訊單位</p>
</div>
</div>
</section>