<section class="backstage-sidebar d-inline-flex p-6 bg-white justify-content-center vh-100 position-relative">
    <div class="d-flex flex-column align-items-center">
      <button class="bg-transparent border-0 mb-7 menu-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <span class="material-symbols-rounded"> menu </span>
      </button>
        <ul class="sidebar-icon d-flex flex-column">
          <li class="material-symbols-rounded mb-6">
            <a href="backstage_order.html" class="align-top">
              space_dashboard 
            </a> 
          </li>
          <li class="material-symbols-rounded mb-6">
            <a href="backstage_product.html" class="align-top">
              inventory_2 
            </a> 
          </li>
          <li class="material-symbols-rounded mb-6"> 
            <a href="backstage_article.html" class="align-top">
              newsmode
            </a>
          </li>
          <li class="material-symbols-rounded mb-6"> 
            <a href="backstage_feedback.html" class="align-top">
              mark_chat_unread 
            </a>
          </li>
          <li class="material-symbols-rounded mb-6">
            <a href="backstage_contact.html" class="align-top">
              description 
            </a>
          </li>
        </ul>
    </div>
    <div class="sidebar-bottom position-absolute">
      <div class="account-info mb-4 text-nowrap">
        <h5 class="mb-1">陳子瑄</h5>
        <p class="fs-6">A4322 資訊單位</p>
      </div>
      <div class="btn btn-outline-primary d-flex align-items-center justify-content-center logout-btn px-2">
        <p class="logout text-nowrap">
          登出
        </p>
        <span class="material-symbols-rounded ms-2"> logout </span>
      </div>
    </div>
  <div class="collapse collapse-horizontal ms-4" id="collapseExample">
      <ul>
        <li class="mb-7">
          <img src="../assets/images/layout/logo.png" alt="logo">
        </li>
        <li class="text-nowrap mb-6">
          <a href="backstage_order.html" class="align-top">
            訂單管理
          </a>
        </li>
        <li class="text-nowrap mb-6">
          <a href="backstage_product.html" class="align-top">
            商品管理
          </a>
        </li>
        <li class="text-nowrap mb-6">
          <a href="backstage_article.html" class="align-top">
            文章管理
          </a>
        </li>
        <li class="text-nowrap mb-6">
          <a href="backstage_feedback.html" class="align-top">
            留言管理
          </a>
        </li>
        <li class="text-nowrap mb-6">
          <a href="backstage_contact.html" class="align-top">
            問卷管理
          </a>
        </li>
      </ul>
  </div>
</section>