<div class="incrementer d-flex">
  <button type="button" class="btn-minus border-0 text-dark p-2">
    <span class="material-symbols-rounded fw-bold fs-2"> remove </span>
  </button>
  <input type="text" class="form-control text-center fs-4 border-0 counter" value="1" id="counter">
  <button type="button" class="btn-plus border-0 text-primary p-2">
    <span class="material-symbols-rounded fw-bold fs-2"> add </span>
  </button>
</div>