<div class="incrementer d-flex">
  <button type="button" class="btn-minus border-0 text-dark p-2" onclick="decrement()">
    <span class="material-symbols-rounded fw-bold fs-2"> remove </span>
  </button>
  <input type="text" class="form-control text-center fs-4 border-0" value="1" id="counter-value">
  <button type="button" class="btn-plus border-0 text-primary p-2" onclick="increment()">
    <span class="material-symbols-rounded fw-bold fs-2"> add </span>
  </button>
</div>