<section class="recommend py-9">
  <div class="container">
    <h4 class="fw-bold mb-4">推薦商品</h4>
    <div class="row gx-5 flex-nowrap overflow-x-scroll" id="scrollBar">
      <div class="col-lg-3 col-9">
        <a href="shopping_customInfo.html" class="card border-0 bg-transparent ">
          <div class="card-box overflow-hidden rounded position-relative">
            <img src="../assets/images/product/custom01-m.png" alt="product" class="card-pic">
          </div>
          <div class="card-body px-0 py-2">
            <div class="d-flex flex-lg-row flex-column align-items-lg-start justify-content-between">
                <h5 class="fs-lg-4 mb-lg-0 mb-2">
                  術後照護餐01
                  <p class="fs-5">
                    NT$350
                  </p>
                </h5>
                <div class="badge badge-secondary align-self-start">
                  膽囊切除
                </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-9">
        <a href="shopping_soupInfo.html" class="card border-0 bg-transparent ">
          <div class="card-box overflow-hidden rounded position-relative">
            <img src="../assets/images/product/soup01-m.png" alt="product" class="card-pic">
          </div>
          <div class="card-body px-0 py-2">
            <div class="d-flex flex-lg-row flex-column align-items-lg-start justify-content-between">
                <h5 class="fs-lg-4 mb-lg-0 mb-2">
                  高蛋白燉飲01
                  <p class="fs-5">
                    NT$350
                  </p>
                </h5>
                <div class="badge badge-secondary align-self-start">
                  苷醇雙雞
                </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-9">
        <a href="shopping_lunchInfo.html" class="card border-0 bg-transparent ">
          <div class="card-box overflow-hidden rounded position-relative">
            <img src="../assets/images/product/lunch01-m.png" alt="product" class="card-pic">
          </div>
          <div class="card-body px-0 py-2">
            <div class="d-flex flex-lg-row flex-column align-items-lg-start justify-content-between">
                <h5 class="fs-lg-4 mb-lg-0 mb-2">
                  機能調理餐01
                  <p class="fs-5">
                    NT$350
                  </p>
                </h5>
                <div class="badge badge-secondary align-self-start">
                  低糖好新纖
                </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-9">
        <a href="shopping_customInfo.html" class="card border-0 bg-transparent ">
          <div class="card-box overflow-hidden rounded position-relative">
            <img src="../assets/images/product/custom02-m.png" alt="product" class="card-pic">
          </div>
          <div class="card-body px-0 py-2">
            <div class="d-flex flex-lg-row flex-column align-items-lg-start justify-content-between">
                <h5 class="fs-lg-4 mb-lg-0 mb-2">
                  術後照護餐02
                  <p class="fs-5">
                    NT$350
                  </p>
                </h5>
                <div class="badge badge-secondary align-self-start">
                  婦科術後
                </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>