<div class="swipe-button position-relative">
  <span class="material-symbols-rounded swiper-button-next fs-lg-2 fs-4 p-lg-6 p-5">
    arrow_forward
  </span>
  <span class="material-symbols-rounded swiper-button-prev fs-lg-2 fs-4 p-lg-6 p-5">
    arrow_back
  </span>
</div>