<div class="table-pagination d-flex flex-lg-row flex-column align-items-center justify-content-between p-4 border-top">
  <div class="d-flex align-items-center mb-lg-0 mb-4">
    <select class="form-select pagination-select me-4" aria-label="Default select example">
      <option value="5" selected>5筆</option>
      <option value="10">10筆</option>
      <option value="15">15筆</option>
      <option value="20">20筆</option>
    </select>
    <div class="text-light fs-lg-5 fs-6">顯示第 1 至 5 項結果，共 24 項</div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span class="material-symbols-rounded">
            navigate_before
            </span>
        </a>
      </li>
      <li class="page-item"><a class="page-link active" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span class="material-symbols-rounded">
            navigate_next
            </span>
        </a>
      </li>
    </ul>
  </nav>
</div>