.backstage-sidebar-desktop{
  
  .collapsing{
    width: 24px;
  }
  .collapse{
    width: 24px;
    display: block;
    overflow: hidden;
  }
  .show{
    width: 114px;
  }

  img{
    width: 40px;
  }
  .menu-btn{
    position: absolute;
    top: 24px;
    left: 24px;
  }

  .sidebar-bottom{
    bottom: 24px;
  }
  .logout, .account-info{
    display: none;
  }
  .visible{
    display: block;
  }
  .px-6{
    padding-left: 24px;
    padding-right: 24px;
  }

  li:hover{
    a{
      color: $primary;
    }
  }
}

.backstage-sidebar-mobile{

  img{
    width: 40px;
  }

  li:hover{
    a{
      color: $primary;
    }
  }
}