.navbar{
  background: linear-gradient(0deg, rgba(254, 227, 197, 0.10) 0%, rgba(254, 227, 197, 0.10) 100%), var(--white, #FFF);


  img{
    height: 38px;
  }

  .nav-item:hover{
    .nav-link{
      color: $primary;
    }
  }

  .dropdown-menu{
    min-width: 112px;
  }

  .icons{
    li:nth-child(1),li:nth-child(2){
      border-right: 1px solid rgba(0,0,0,0.1);
    }
    li:hover{
      a{
        color: $primary;
      }
    }
  }

  @media (max-width:992px) {
    .icons{
      li:nth-child(3){
        border-right: 1px solid rgba(0,0,0,0.1);
      }
    }
    .mobile-nav-item{
      li:hover{
        color: white;
        background-color: $primary;

      }
    }
  }
}