.page-title {
  @include page_title(
    "https://github.com/xuannn0915/CareForCook/blob/main/assets/images/about/banner1-desktop.png?raw=true",
    "https://github.com/xuannn0915/CareForCook/blob/main/assets/images/about/banner1-mobile.png?raw=true"
  );
}

.about_food {
  .cardList {
    background-image: url('https://raw.githubusercontent.com/xuannn0915/CareForCook/d8da4393b0ed6c3878c6a1837ceb2c3a1448d8a1/assets/images/bg_blurCircle.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 50px;
  }

  .swiper-button-prev::after, .swiper-button-next::after{
    content: '';
  }

  .swiper-button-prev, .swiper-button-next {
    border: 1px solid $primary;
    border-radius: 50%;
    color: $primary;
  }

  .swiper-button-disabled{
    opacity: 1;
    border: 1px solid $dark;
    color: $dark;
  }


  .card {
    border-radius: 24px;
    border: 1px solid white;
    background: linear-gradient(223deg, #fff 0%, rgba(255, 255, 255, 0.2) 100%);
    backdrop-filter: blur(10px);
    max-width: 368px;
    img {
      width: 56px;
      height: 56px;
    }
    .card-title::after {
      content: "";
      width: 100px;
      height: 6px;
      background-color: $primary;
      border-radius: 10px;
      margin: 12px 0;
    }
  }
}
