.page-title {
  @include page_title(
    "https://github.com/xuannn0915/CareForCook/blob/main/assets/images/about/banner1-desktop.png?raw=true",
    "https://github.com/xuannn0915/CareForCook/blob/main/assets/images/about/banner1-mobile.png?raw=true"
  );
}

.food-intro {
  @include swiper-buttons;
  @include bg_blur(center, top 40px, center, top 20px);

  .card {
    @include swiper-card-coverflow;
  }
}

.proccess{
  .active::after {
    content: "";
    background-image: url("https://raw.githubusercontent.com/xuannn0915/CareForCook/3ee479ba97444004513a11eb97cdddf7401af98f/assets/images/red_drop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 11px;
    height: 16px;
    margin-left: 8px;
  }
  li::before{
    content: '';
    
  }
}
