.about-team-pageTitle{
  @include page_title(
    "https://github.com/xuannn0915/CareForCook/blob/main/assets/images/about/banner2-desktop.png?raw=true",
    "https://github.com/xuannn0915/CareForCook/blob/main/assets/images/about/banner2-mobile.png?raw=true"
  );
}

.about_team {
  .about-intro {
    margin-bottom: 88px;
  }

  .card {
    &-pic {
      border-radius: 10px;
      transition: 0.5s ease-in-out;
      height: 342px;
      background: rgba($secondary, 30%);
    }
    &-slogan {
      width: 73%;
      top: 0;
      left: 50%;
      @include fadeInOut(-50%, -40%, 0, 0.5s);
    }
    span {
      color: $dark;
    }
    &-content {
      @include fadeInOut(0%, 10%, 0, 0.5s);
    }
  }

  .card:hover {
    .card-pic {
      transition: 0.5s ease-in-out;
      background: rgba($primary, 80%);
      height: 300px;
    }
    .card-slogan {
      @include fadeInOut(-50%, -40%, 1, 0.5s);
    }
    span {
      color: $primary;
    }
    .card-content {
      @include fadeInOut(0%, 0%, 1, 0.5s);
    }
  }

  @media (max-width: 992px) {
    .about-intro {
      margin-bottom: 72px;
    }
    .card {
      &-slogan {
        width: 80%;
      }
      &-content {
        display: none;
      }
    }
    .card:hover {
      margin-top: 24px;
      .card-content {
        display: block;
      }
    }
  }
}
