.article-healthNews-page-title{
  @include page_title('https://github.com/xuannn0915/CareForCook/blob/main/assets/images/article/banner2-d.png?raw=true','https://github.com/xuannn0915/CareForCook/blob/main/assets/images/article/banner2-m.png?raw=true');
}

.healthNews{
  .nav{
    top: 64px;
    right:40px ;
  }

  .nav-item:hover{
    border: 1px solid white;
  }

  .active{
    background: $primary;
    border-color: $primary;
  }

  .banner-title{
    height: 300px;
    
    &::after{
      content: '';
      background: linear-gradient(90deg, rgba(0,0,0,0.15), rgba(0, 0, 0, 0.3));
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
    .wording{
      width: 70%;
      padding-left: 100px;
    }
    .wording::before{
      content: '';
      background-image: url('https://raw.githubusercontent.com/xuannn0915/CareForCook/565b20ec04d12332249a434d404f8de33031e26c/assets/images/article/white-comma.svg');
      display: block;
      background-repeat: space no-repeat;
      width: 34px;
      height: 21px;
      margin-bottom: 8px;
    }
  }


  @media (max-width:992px) {
    .banner-title{
      height: 200px;
      &::after{
        background: linear-gradient(180deg, rgba(0,0,0,0.15), rgba(0, 0, 0, 0.3));
      }
      .wording{
        width: 90%;
        padding-left: 0px;
        padding-top: 16px;
      }
      
      .wording::before{
        display: none;
      }
    }
    .nav{
      top: 166px;
      left: 24px;
      overflow-x: scroll;
    }
    .nav-item{
      padding: 8px 4px;
    }
    .nav-link::after{
      display: none;
    }
  
  }
}

#cancer{
  .banner-title{
    background-image: url('https://github.com/xuannn0915/CareForCook/blob/main/assets/images/article/articlebanner1-d.png?raw=true');
    background-size: cover;
  }

  @media (max-width:992px) {
    .banner-title{
      background-image: url('https://github.com/xuannn0915/CareForCook/blob/main/assets/images/article/articlebanner1-m.png?raw=true');
    }
  }
}

#special{
  .banner-title{
    background-image: url('https://github.com/xuannn0915/CareForCook/blob/main/assets/images/article/articlebanner2-d.png?raw=true');
    background-size: cover;
  }

  @media (max-width:992px) {
    .banner-title{
      background-image: url('https://github.com/xuannn0915/CareForCook/blob/main/assets/images/article/articlebanner2-m.png?raw=true');
    }
  }
}

#knowledge{
  .banner-title{
    background-image: url('https://github.com/xuannn0915/CareForCook/blob/main/assets/images/article/articlebanner3-d.png?raw=true');
    background-size: cover;
  }

  @media (max-width:992px) {
    .banner-title{
      background-image: url('https://github.com/xuannn0915/CareForCook/blob/main/assets/images/article/articlebanner3-m.png?raw=true');
    }
  }
}

#profession{
  .banner-title{
    background-image: url('https://github.com/xuannn0915/CareForCook/blob/main/assets/images/article/articlebanner4-d.png?raw=true');
    background-size: cover;
  }

  @media (max-width:992px) {
    .banner-title{
      background-image: url('https://github.com/xuannn0915/CareForCook/blob/main/assets/images/article/articlebanner4-m.png?raw=true');
    }
  }
}