.article-feedback-page-title {
  @include page_title(
    'https://github.com/xuannn0915/CareForCook/blob/main/assets/images/article/banner1-d.png?raw=true',
    'https://github.com/xuannn0915/CareForCook/blob/main/assets/images/article/banner1-m.png?raw=true'
  )
}

// feedback page
.feedback-page {
  .brief-intro::after,
  .brief-intro::before {
    @include red_drop;
    margin: 0 8px;
  }

  .collapse-item {
    border: 1px solid rgba(black, 10%);
    ol {
      span {
        width: 24px;
        height: 24px;
      }
      p {
        width: 90%;
        @include multiline-ellipsis(2);
      }
    }
    .less {
      display: none;
    }
  }
  .open {
    border: 1px solid $primary;
    .collapse-btn {
      color: $primary;
    }
    .more {
      display: none;
    }
    .less {
      display: block;
    }
  }

  @media (max-width: 992px) {
    .brief-intro::after,
    .brief-intro::before {
      display: none;
    }
  }
}
