.backstage_order {
  transition: all 0.5s;
  .accordion-header {
    background-color: rgba($secondary, 20%);
  }
  .form-item,
  .form-check {
    width: 32%;
  }

  .form-check-input {
    width: 16px;
    height: 16px;
  }

  @media (max-width: 992px) {
    margin-top: 44px;
    .form-item,
    .form-check {
      width: 100%;
    }

    .mobile-card {
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}

