.backstage_login{
  background-image: url('https://raw.githubusercontent.com/xuannn0915/CareForCook/fba05473de4abb168280e01669eba048c6fdb609/assets/images/backstage/login-bg.svg');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: top left;

  .login{
    width: 50vw;
    height: 100vh;
    .logo{
      width: 188px;
      margin-bottom: 80px;
    }
    .btn {
      width: 124px;
    }
    .verifyPic{
      width: 120px;
    }
  }

  

  @media(max-width:992px){
    height: 100vh;
    background-position: center bottom;
    background-size: cover;
    .login{
      width: 100vw;
      height: 80vh;
      border-radius: 0 0 10px 10px;;
      padding: 0 16px;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    }
  }
}