.index_banner{
  @include bg_secondary;

  .swiper {
    z-index: 1;
    width: 70%;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        270deg,
        #fffcf9 0%,
        rgba(255, 249, 243, 0.2) 100%
      );
    }
  }

  .swiper-slide img {
    max-height: 683px;
    object-fit: cover;
  }

  .banner-wording {
    z-index: 3;
    max-width: 30%;
    margin-left: -96px;
  }

  .comma::after {
    @include red_comma;
  }

  @media (max-width: 992px) {
    .swiper {
      width: 100%;
      &::after {
        background: linear-gradient(
          0deg,
          #fffdfa 0%,
          rgba(255, 253, 250, 0.2) 100%
        );
      }
    }
    .banner-wording {
      max-width: 80%;
      margin-left: 0px;
      margin-top: -96px;
    }
  }
}

.painPoint {
  @include bg_secondary;
}

.service {
  @include bg_secondary;

  h2::after {
    @include red_comma;
  }

  .company {
    .pic-box::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0%;
      opacity: 0;
      background: linear-gradient(to bottom, rgba(black, 0%), rgba(black, 25%));
      transition: height 0.5s, opacity 0.5s;
    }

    .item-info {
      margin-bottom: -64px;
      transition: margin-bottom 0.5s;
      .title {
        transition: margin-bottom 0.5s;
        margin-bottom: 16px;
      }
    }

    .item:hover {
      .pic-box::after {
        height: 100%;
        opacity: 1;
      }
      .item-info {
        margin-bottom: 0;
        .title {
          margin-bottom: 0;
        }
      }
    }
  }

  .product {
    .pic-box::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba(black, 25%);
      transition: opacity 0.5s;
      display: flex;
      align-items: center;
    }

    .item:hover {
      .pic-box::after {
        content: "餐點非完全符合每個客戶狀況，請評估自身狀況與餐點營養成分後再進行購買";
        color: $white;
        opacity: 1;
        padding: 0 48px;
      }
    }
  }

  .active::after {
    content: "";
    background-image: url("https://raw.githubusercontent.com/xuannn0915/CareForCook/3ee479ba97444004513a11eb97cdddf7401af98f/assets/images/red_drop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 11px;
    height: 16px;
    margin-left: 8px;
  }

  .swiper-pagination {
    position: relative;
    &-bullet {
      background-color: lighten($warning, 1%);
    }
    &-bullet-active {
      background-color: $warning;
    }
  }
}

.comment {
  @include bg_secondary;
  @include swiper-buttons;

  h2::after {
    @include red_comma;
  }

  .swiper{
    max-height: 475px;
    .swiper-wrapper{
      height: 100%;
    }
  }

  .swiper-slide {
    background: rgba(254, 227, 197, 0.2);
    border: 1px solid transparent;
    img {
      width: 60px;
      height: 60px;
    }

    .truncate {
      color: $light;
      @include multiline-ellipsis(2);
    }

    &:hover{
      border: 1px solid $warning;
      background: rgba(255, 180, 69, 0.3);
      .badge{
        background-color: $primary;
        color: $white;
        border: 0px solid transparent;
      }
    }
  }

  .illustration{
    width: 286px;
    bottom: -8px;
  }

  @media (max-width: 992px) {
    .swiper-slide {
      img {
        width: 48px;
        height: 48px;
      }
    }
  }
}

.home_slogan{
  padding-bottom: 124px;
  .wording::before{
    content: '';
    background-image: url('https://raw.githubusercontent.com/xuannn0915/CareForCook/32bb4620627ff5d81609d364c60615df4a545b62/assets/images/home/drop.svg');
    display: block;
    background-size: contain;
    margin-bottom: 40px;
    width: 24px;
    height: 35px;
  }

  @include bg_wave(64px, 16px);

    @media (max-width:992px) {
      padding-bottom: 96px;

      .wording::before{
        margin-bottom: 32px;
        width: 16px;
        height: 24px;
      }
    }
}