.member_login{
  padding: 64px 0 100px 0;
  @include secondary_bg;
  @include bg_wave(64px, 16px);

  .login{
    transform: translateX(100%);
    &.active{
      opacity: 1;
      transition: 1.5s;
      transform: translateX(100%);
    }
    &.disabled{
      opacity: 0;
      transition: 1.5s;
      transform: translateX(0%);
    }
  }

  .forgetPassword{
    transform: translateX(100%);
    opacity: 0;
    &.active{
      opacity: 1;
      transition: 1.5s;
      transform: translateX(0%);
    }
    &.disabled{
      opacity: 0;
      transition: 1.5s;
      transform: translateX(100%);
    }
  }

  .register{
    transform: translateX(0%);
    opacity: 0;
    &.active{
      opacity: 1;
      transition: 1.5s;
      transform: translateX(-100%);
    }
    &.disabled{
      opacity: 0;
      transition: 1.5s;
      transform: translateX(0%);
    }
  }

  @media (max-width:992px) {
    padding: 40px 0 100px 0;

    .login{
      transform: translateX(0%);
      &.active{
        @include fadeInOut(0%,0%,1);
      }
      &.disabled{
        @include fadeInOut(-100%,0%,0);
      }
    }
  
    .forgetPassword{
      transform: translateX(0%);
      opacity: 0;
      &.active{
        @include fadeInOut(-100%,0%,1);
      }
      &.disabled{
        @include fadeInOut(0%,0%,0);
      }
    }
  
    .register{
      transform: translateX(-100%);
      opacity: 0;
      &.active{
        @include fadeInOut(-200%,0%,1);
      }
      &.disabled{
        @include fadeInOut(-100%,0%,0);
      }
    }
  }
}