.others-faq-page-title{
  @include page_title('https://github.com/xuannn0915/CareForCook/blob/main/assets/images/other/banner2-d.png?raw=true','https://github.com/xuannn0915/CareForCook/blob/main/assets/images/other/banner2-m.png?raw=true')
}

.faq{
  padding-bottom: 96px;
  .sidebar{
    top: 48px;
    left: 6%;
  }

  .active:after {
    @include red_drop;
  }

  .search{
    max-width: 200px;
  }

  .accordion{
    &-bg{
      background-color: rgba($secondary, 20%);
    }
    &-title{
      font-weight: bold;
      color: $primary;
    }
  }

  .collapsed {
      color: black;
      font-weight: normal;
      background-color: transparent;
  }

  @media (max-width:992px) {
    padding-bottom: 0;
    .sidebar{
      width: 100vw;
      overflow-x: scroll;
      background: rgba($warning, 20%);
      left: 0;
      top: 0;
    }
  }

}
