.product-customize-page-title {
  @include page_title(
    "https://github.com/xuannn0915/CareForCook/blob/main/assets/images/product/banner1-desktop.png?raw=true",
    "https://github.com/xuannn0915/CareForCook/blob/main/assets/images/product/banner1-mobile.png?raw=true"
  );
}

.product-protein-page-title {
  @include page_title(
    "https://github.com/xuannn0915/CareForCook/blob/main/assets/images/product/banner2-desktop.png?raw=true",
    "https://github.com/xuannn0915/CareForCook/blob/main/assets/images/product/banner2-mobile.png?raw=true"
  );
}

.product-lunchBox-page-title {
  @include page_title(
    "https://github.com/xuannn0915/CareForCook/blob/main/assets/images/product/banner3-desktop.png?raw=true",
    "https://github.com/xuannn0915/CareForCook/blob/main/assets/images/product/banner3-mobile.png?raw=true"
  );
}

.product-customize {
  .nav-lg {
    box-shadow: 0px 0px 50px 30px rgba($warning, 20%);
    .nav-link:hover {
      border-bottom: 5px solid $primary;
    }
    .active {
      border-bottom: 5px solid $primary;
    }
  }

  .foreword {
    border-radius: 10px;
    img {
      width: 200px;
    }
    h3 {
      &::before {
        @include red_drop;
        margin: 0 8px 0 0;
      }
      &::after {
        @include red_drop;
      }
    }
  }

  .custom-menu {
    @include bg_secondary;

    .active:after {
      @include red_drop;
    }
    .card-pic {
      border-radius: 10px;
      &::after{
        @include mask(0%,0);
      }
      .btn{
        @include fadeInOut(-50%,-40%,0,0.5s)
      }
      .menu-name{
        @include fadeInOut(0%,10%,0,0.5s)
      }
    }
    .card-body {
      li::before, .content::before {
        @include thumbsUp;
      }
    }

    .card:hover {
      .card-pic::after {
        @include mask(100%,1);
      }
      .btn{
        @include fadeInOut(-50%,-50%,1,0.5s)
      }
      .menu-name{
        @include fadeInOut(0%,0%,1,0.5s)
      }
    }
  }
}