.mall{
  @include bg_secondary;

  .sidebar {
    position: absolute;
    top: 60px;
    .active:after {
      @include red_drop;
    }
  }

  .card-box{
    .card-pic{
      height: 250px;
      object-fit: cover;
      object-position: center center;
      transition: 1s;
    }
    &::after{
      transition: 0.5s;
      @include mask(0%,0);
    }
    .btn{
      @include fadeInOut(-50%, -40%,0, 0.5s);
    }
  }

  .card:hover{
    .card-box::after{
      transition: 0.5s;
      @include mask(100%,1);
    }
    .card-pic{
      transition: 1s;
      transform: scale(1.1);
    }
    .btn{
      z-index: 1;
      @include fadeInOut(-50%, -50%,1,0.5s);
    }
  }

  .modal{
    .modal-pic{
      height: 200px;
      object-fit: cover;
      object-position: center center;
    }

    .card-body{
      background-color: rgba($light, 10%);
    }

    .close{
      display: none;
    }
    .open{
      display: none;
    }
    .collapsed{
      .open{
        display: block;
      }
      .close{
        display: none;
      }
    }
    .item-name::after{
      content: '*';
      vertical-align: top;
      color: $danger;
    }
    .form-check{
      width: 33%;
    }
  }

  @media (max-width:992px) {
    .sidebar{
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0;
      background: #FFF0DA;
    }
    .card-box{
      .card-pic{
        height: 200px;
      }
    }

    .modal{
      .form-check{
        width: 100%;
      }
    }
  }
}