.shoppingBag{
  @include bg_secondary;
  
  .wizard{
    h3{
      width: 40px;
      height: 40px;
      border: 1px solid $dark;
      color: $dark;
    }
  }

  .active{
    color: $primary;
    h3{
      color: $primary;
      border: 1px solid $primary;
    }
  }

  table{
    .deliver{
      border-left: 5px solid $primary;
    }
  }
}