.mall{
  @include bg_secondary;

  .sidebar {
    position: absolute;
    top: 60px;
    .active:after {
      @include red_drop;
    }
  }


  @media (max-width:992px) {
    .sidebar{
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0;
      background: #FFF0DA;
    }
  }
}