<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>
    <div class="page-title  d-flex flex-column justify-content-center">
      <div class="container">
        <h1 class="fw-bold text-white mb-lg-4 fs-lg-1 fs-3">品質好安心</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-white fs-lg-6 fs-7 mb-0">
            <li class="breadcrumb-item">
              首頁
            </li>
            <li class="breadcrumb-item">
              關於照料理
            </li>
            <li class="breadcrumb-item" aria-current="page">食材製程
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="about_food">
      <div class="container pt-lg-9 py-7">
        <div class="about-intro text-center mb-lg-9">
          <h2 class="fw-bold fs-lg-2 fs-4 mb-lg-2">無毒安心食材</h2>
          <subtitle class="fs-lg-3 fs-5">高要求的在地食材，零漏洞的安全衛生</subtitle>
        </div>
      </div>
      <div class="cardList">
        <div class="card border-0 p-6">
          <div class="card-title d-flex justify-content-between align-items-center">
            <div class="food-name fw-bold text-primary fs-lg-1 d-flex flex-column">雞肉</div>
            <img src="../assets/images/about/chicken.svg" alt="food icon">
          </div>
          <div class="fw-bold fs-lg-6 mb-2">洽富</div>
          <p class="text-light">
            出品的「氣冷雞」能取得產銷履歷，因為每隻雞從入廠到出廠全程都在品管監控之下，進行完善的「溯源管理」。
          </p>
        </div>
      </div>

    </div>




    <%- include('./layout/footer') -%> 
    <%- include('./layout/body_bottom') -%>
  </body>
</html>