<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>

    <main class="page-title  d-flex flex-column justify-content-center">
      <div class="container">
        <h1 class="fw-bold text-white mb-lg-4 fs-lg-1 fs-3">品質好安心</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-white fs-lg-6 fs-7 mb-0">
            <li class="breadcrumb-item">
              首頁
            </li>
            <li class="breadcrumb-item">
              關於照料理
            </li>
            <li class="breadcrumb-item" aria-current="page">食材製程
            </li>
          </ol>
        </nav>
      </div>
    </main>

    <section class="food-intro pt-lg-9 pb-lg-11 pt-7 pb-9">
        <div class="about-intro text-center mb-lg-8 mb-7">
          <h2 class="fw-bold fs-lg-2 fs-4 mb-lg-2">無毒安心食材</h2>
          <subtitle class="fs-lg-3 fs-5">高要求的在地食材，零漏洞的安全衛生</subtitle>
        </div>
        <div class="swiper coverflowSwiper mb-lg-9 mb-6">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 fs-3 d-flex flex-column">雞肉</div>
                    <img src="../assets/images/about/chicken.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 fs-5 mb-2">洽富</div>
                <p class="text-light fs-lg-5 fs-6">
                  出品的「氣冷雞」能取得產銷履歷，因為每隻雞從入廠到出廠全程都在品管監控之下，進行完善的「溯源管理」。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 fs-3 d-flex flex-column">豬肉</div>
                    <img src="../assets/images/about/pig.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 fs-5 mb-2">究好豬</div>
                <p class="text-light fs-lg-5 fs-6">
                  從飼糧到餐桌，每一步嚴謹管控，並全程冷鏈運送，相信「動物過得好、土地照顧好，人的生活也會更好」。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 fs-3 d-flex flex-column">米飯</div>
                    <img src="../assets/images/about/rice.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 fs-5 mb-2">獨家自種。契作小島米</div>
                <p class="text-light fs-lg-5 fs-6">
                  與小農契作自種的友善裁種米，是來自好山好水的花東，獨立山泉水源與自然孕育的天然美味。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 fs-3 d-flex flex-column">蔬菜</div>
                    <img src="../assets/images/about/vegtable.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 fs-5 mb-2">好食機農食整合</div>
                <p class="text-light fs-lg-5 fs-6">
                  嚴選具有產銷履歷的蔬菜，注重生態平衡及永續管理建立友善農食生產，並以「公平貿易模式」發展交易機制。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 fs-3 d-flex flex-column">豆腐</div>
                    <img src="../assets/images/about/beans.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 fs-5 mb-2">禾乃川豆製所</div>
                <p class="text-light fs-lg-5 fs-6">
                  友善栽作100%國產非基改黃豆製品，以古法天然鹽鹵凝結、手工壓製而成，不添加「熟石灰」
                  「石膏」等化學添加物。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 fs-3 d-flex flex-column">牛肉</div>
                    <img src="../assets/images/about/cow.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 fs-5 mb-2">統賀肉品</div>
                <p class="text-light fs-lg-5 fs-6">
                  每塊肉必經過繁瑣的程序進行嚴格把關，並且秉持好東西一定要和所有人分享，認為「吃肉不是有錢人的權利」。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 fs-3 d-flex flex-column">蝦子</div>
                    <img src="../assets/images/about/shrimp.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 fs-5 mb-2">蝦覓世界</div>
                <p class="text-light fs-lg-5 fs-6">
                  通過SGS檢驗無藥物並具產銷履歷驗證，讓你安心買健康吃，同時打造青年返鄉從事養殖自產自銷平台，讓事業永續發展。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 fs-3 d-flex flex-column">漁產</div>
                    <img src="../assets/images/about/fish.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 fs-5 mb-2">台灣好漁</div>
                <p class="text-light fs-lg-5 fs-6">
                  自然生態養殖，健康、無毒的漁產品，通過SGS 200項以上檢驗通過-重金屬檢驗合格、無抗生素、無動物用藥。
                </p>
              </div>
            </div>
          </div>
        </div>
        <%- include('./layout/swiper-buttons') -%>
    </section>

    <section class="proccess pb-lg-11 pb-7">
      <div class="container">
        <div class="about-intro text-center mb-lg-8 mb-6">
          <subtitle class="fs-lg-3 fs-5 mb-lg-2">從進貨、備料到烹煮，專業的分區管控</subtitle>
          <h2 class="fw-bold fs-lg-2 fs-4 ">看不見的秘密，最深處的用心</h2>
        </div>
        <div id="tabs">
          <div
            class="d-flex align-items-center justify-content-lg-start justify-content-center mb-lg-7 mb-6"
          >
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a
                  class="nav-link active d-flex align-items-center px-6 py-3"
                  aria-current="page"
                  href="#management"
                >
                嚴守分區管理
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link d-flex align-items-center px-6 py-3"
                  href="#deliver"
                  >公司介紹</a
                >
              </li>
            </ul>
          </div>
          <div class="row gx-9" id="management">
            <div class="col-lg-4 col-md-6 col-10 mx-md-0 mx-auto mb-lg-0 mb-6">
              <div class="fw-bold fs-lg-2 fs-4 mb-lg-6 mb-2 d-flex align-items-center">
                <span class="border border-dark text-center rounded-circle me-3 d-flex align-items-center justify-content-center fs-lg-3 fs-4">
                  1
                </span>
                食材進貨
              </div>
              <ul class="fs-lg-4 fs-5">
                <li class="mb-2 d-flex align-items-center">不落地、無紙箱分區管理</li>
                <li class="mb-2 d-flex align-items-center">使用四槽式超音波洗菜機</li>
                <li class="mb-2 d-flex align-items-center">設有食安檢驗室自我管理</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-10 mx-md-0 mx-auto mb-lg-0 mb-6">
              <div class="fw-bold fs-lg-2 fs-4 mb-lg-6 mb-2 d-flex align-items-center">
                <span class="border border-dark text-center rounded-circle me-3 d-flex align-items-center justify-content-center fs-lg-3 fs-4">
                  2
                </span>
                細部備料
              </div>
              <ul class="fs-lg-4 fs-5">
                <li class="mb-2 d-flex align-items-center">砧板刀具分色管理</li>
                <li class="mb-2 d-flex align-items-center">用具每日次氯酸水消毒</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-10 mx-md-0 mx-auto mb-lg-0 mb-6">
              <div class="fw-bold fs-lg-2 fs-4 mb-lg-6 mb-2 d-flex align-items-center">
                <span class="border border-dark text-center rounded-circle me-3 d-flex align-items-center justify-content-center fs-lg-3 fs-4">
                  3
                </span>
                廚師烹煮
              </div>
              <ul class="fs-lg-4 fs-5">
                <li class="mb-2 d-flex align-items-center">各區皆有專責廚師</li>
                <li class="mb-2 d-flex align-items-center">分為大型蒸櫃、迴轉鍋爐及小型廣式炒爐</li>
              </ul>
            </div>
          </div>
          <div class="row gx-9" id="deliver">
            <div class="col-lg-4 col-md-6 col-10 mx-md-0 mx-auto mb-lg-0 mb-6">
              <div class="fw-bold fs-lg-2 fs-4 mb-lg-6 mb-2 d-flex align-items-center">
                <span class="border border-dark text-center rounded-circle me-3 d-flex align-items-center justify-content-center fs-lg-3 fs-4">
                  1
                </span>
                熱食配送
              </div>
              <ul class="fs-lg-4 fs-5">
                <li class="mb-2 d-flex align-items-start">選用韓國進口314、316不鏽鋼餐具，配專屬條碼</li>
                <li class="mb-2 d-flex align-items-start">出餐前置於高溫浴槽熱存，使用特製保溫箱及熱敷墊</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-10 mx-md-0 mx-auto mb-lg-0 mb-6">
              <div class="fw-bold fs-lg-2 fs-4 mb-lg-6 mb-2 d-flex align-items-center">
                <span class="border border-dark text-center rounded-circle me-3 d-flex align-items-center justify-content-center fs-lg-3 fs-4">
                  2
                </span>
                低溫宅配
              </div>
              <ul class="fs-lg-4 fs-5">
                <li class="mb-2 d-flex align-items-center">砧板刀具分色管理</li>
                <li class="mb-2 d-flex align-items-center">雙層耐熱LLDPE立體包裝袋</li>
                <li class="mb-2 d-flex align-items-center">黑貓宅急便合作低溫配送</li>
                <li class="mb-2 d-flex align-items-start">急速冷卻機降溫，降低細菌滋生風險</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-10 mx-md-0 mx-auto mb-lg-0 mb-6">
              <div class="fw-bold fs-lg-2 fs-4 mb-lg-6 mb-2 d-flex align-items-center">
                <span class="border border-dark text-center rounded-circle me-3 d-flex align-items-center justify-content-center fs-lg-3 fs-4">
                  3
                </span>
                餐具消毒
              </div>
              <ul class="fs-lg-4 fs-5 d-flex flex-column">
                <li class="mb-2 d-flex align-items-center">三槽式隧道洗碗機</li>
                <li class="mb-2 d-flex align-items-center">三合一高溫自動洗滌機</li>
                <li class="mb-2 d-flex align-items-center">紅外線雙側門消毒櫃</li>
                <li class="mb-2 d-flex align-items-start"> 三大清潔流程：清水擦拭、次氯酸水消毒檸檬油除臭</li>
              </ul>
            </div>
          </div>
        </div>
  
      </div>
    </section>

    <%- include('./layout/cta-mall') -%> 
    <%- include('./layout/footer') -%> 
    <%- include('./layout/body_bottom') -%>
  </body>
</html>