<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>
    <div class="page-title  d-flex flex-column justify-content-center">
      <div class="container">
        <h1 class="fw-bold text-white mb-lg-4 fs-lg-1 fs-3">品質好安心</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-white fs-lg-6 fs-7 mb-0">
            <li class="breadcrumb-item">
              首頁
            </li>
            <li class="breadcrumb-item">
              關於照料理
            </li>
            <li class="breadcrumb-item" aria-current="page">食材製程
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="about_food">
      <div class="cardList py-lg-9 py-7">
        <div class="about-intro text-center mb-lg-8">
          <h2 class="fw-bold fs-lg-2 fs-4 mb-lg-2">無毒安心食材</h2>
          <subtitle class="fs-lg-3 fs-5">高要求的在地食材，零漏洞的安全衛生</subtitle>
        </div>
        <div class="swiper foodlistSwiper mb-lg-9">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card border-0 p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 d-flex flex-column">雞肉</div>
                    <img src="../assets/images/about/chicken.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 mb-2">洽富</div>
                <p class="text-light">
                  出品的「氣冷雞」能取得產銷履歷，因為每隻雞從入廠到出廠全程都在品管監控之下，進行完善的「溯源管理」。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border-0 p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 d-flex flex-column">豬肉</div>
                    <img src="../assets/images/about/pig.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 mb-2">究好豬</div>
                <p class="text-light">
                  從飼糧到餐桌，每一步嚴謹管控，並全程冷鏈運送，相信「動物過得好、土地照顧好，人的生活也會更好」。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border-0 p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 d-flex flex-column">米飯</div>
                    <img src="../assets/images/about/rice.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 mb-2">獨家自種。契作小島米</div>
                <p class="text-light">
                  與小農契作自種的友善裁種米，是來自好山好水的花東，獨立山泉水源與自然孕育的天然美味。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border-0 p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 d-flex flex-column">蔬菜</div>
                    <img src="../assets/images/about/vegtable.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 mb-2">好食機農食整合</div>
                <p class="text-light">
                  嚴選具有產銷履歷的蔬菜，注重生態平衡及永續管理建立友善農食生產，並以「公平貿易模式」發展交易機制。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border-0 p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 d-flex flex-column">豆腐</div>
                    <img src="../assets/images/about/beans.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 mb-2">禾乃川豆製所</div>
                <p class="text-light">
                  友善栽作100%國產非基改黃豆製品，以古法天然鹽鹵凝結、手工壓製而成，不添加「熟石灰」
                  「石膏」等化學添加物。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border-0 p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 d-flex flex-column">牛肉</div>
                    <img src="../assets/images/about/cow.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 mb-2">統賀肉品</div>
                <p class="text-light">
                  每塊肉必經過繁瑣的程序進行嚴格把關，並且秉持好東西一定要和所有人分享，認為「吃肉不是有錢人的權利」。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border-0 p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 d-flex flex-column">蝦子</div>
                    <img src="../assets/images/about/shrimp.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 mb-2">蝦覓世界</div>
                <p class="text-light">
                  通過SGS檢驗無藥物並具產銷履歷驗證，讓你安心買健康吃，同時打造青年返鄉從事養殖自產自銷平台，讓事業永續發展。
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border-0 p-6">
                <div class="card-title m-0 d-flex flex-column">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="food-name fw-bold text-primary fs-lg-1 d-flex flex-column">漁產</div>
                    <img src="../assets/images/about/fish.svg" alt="food icon">
                  </div>
                </div>
                <div class="fw-bold fs-lg-3 mb-2">台灣好漁</div>
                <p class="text-light">
                  自然生態養殖，健康、無毒的漁產品，通過SGS 200項以上檢驗通過-重金屬檢驗合格、無抗生素、無動物用藥。
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swipe-button position-relative">
          <span class="material-symbols-rounded swiper-button-next fs-2 p-6 end-45">
            arrow_forward
          </span>
          <span class="material-symbols-rounded swiper-button-prev fs-2 p-6 start-45">
            arrow_back
          </span>
        </div>
        </div>
        <!-- <div class=" d-flex">
          <div class="card border-0 p-6">
            <div class="card-title m-0 d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="food-name fw-bold text-primary fs-lg-1 d-flex flex-column">雞肉</div>
                <img src="../assets/images/about/chicken.svg" alt="food icon">
              </div>
            </div>
            <div class="fw-bold fs-lg-3 mb-2">洽富</div>
            <p class="text-light">
              出品的「氣冷雞」能取得產銷履歷，因為每隻雞從入廠到出廠全程都在品管監控之下，進行完善的「溯源管理」。
            </p>
          </div>
          <div class="card border-0 p-6">
            <div class="card-title m-0 d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="food-name fw-bold text-primary fs-lg-1 d-flex flex-column">雞肉</div>
                <img src="../assets/images/about/chicken.svg" alt="food icon">
              </div>
            </div>
            <div class="fw-bold fs-lg-3 mb-2">洽富</div>
            <p class="text-light">
              出品的「氣冷雞」能取得產銷履歷，因為每隻雞從入廠到出廠全程都在品管監控之下，進行完善的「溯源管理」。
            </p>
          </div>
          <div class="card border-0 p-6">
            <div class="card-title m-0 d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="food-name fw-bold text-primary fs-lg-1 d-flex flex-column">雞肉</div>
                <img src="../assets/images/about/chicken.svg" alt="food icon">
              </div>
            </div>
            <div class="fw-bold fs-lg-3 mb-2">洽富</div>
            <p class="text-light">
              出品的「氣冷雞」能取得產銷履歷，因為每隻雞從入廠到出廠全程都在品管監控之下，進行完善的「溯源管理」。
            </p>
          </div>
        </div> -->
      </div>


    </div>




    <%- include('./layout/footer') -%> 
    <%- include('./layout/body_bottom') -%>
  </body>
</html>