<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>
    <main class="about-team-pageTitle  d-flex flex-column justify-content-center">
      <div class="container">
        <h1 class="fw-bold text-white mb-lg-4 fs-lg-1 fs-3">品牌秉初心</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-white fs-lg-6 fs-7 mb-0">
            <li class="breadcrumb-item">
              首頁
            </li>
            <li class="breadcrumb-item">
              關於照料理
            </li>
            <li class="breadcrumb-item" aria-current="page">團隊介紹
            </li>
          </ol>
        </nav>
      </div>
    </main>
    
    <section class="about_team">
      <div class="container pt-lg-9 py-7">
        <div class="about-intro text-center">
          <h2 class="fw-bold fs-lg-2 fs-4 mb-lg-2">專業的環環相扣，用溫度將彼此包裹...</h2>
          <subtitle class="fs-lg-3 fs-5">將我們全面的團隊一一介紹給你</subtitle>
        </div>
        <div class="row justify-content-md-start justify-content-center">
          <div class="col-lg-4 col-md-6 col-10 mb-lg-0 mb-6">
            <div class="card border-0 position-relative bg-transparent">
              <div class="card-pic overflow-hidden">
                <img src="../assets/images/about/營養團隊.svg" alt="team pic">
                <p class="card-slogan px-6 py-4 rounded-pill border border-primary bg-white position-absolute  fs-6">
                  「來源、份量和烹調皆嚴謹思量，追求健康與美味的黃金平衡！」
                </p>
              </div>
              <div class="card-body p-2">
                <div class="card-title text-black fw-bold fs-lg-4 mb-2 d-flex align-items-center">
                  營養團隊
                  <span class="material-symbols-rounded ms-1"> cooking </span>
                </div>
                <p class="card-content">
                  我們是由「營養護理照護團隊」與「產品研發中心」組成，其中包含護理師與營養師，以不同面向的專業提供所有癌病友日常居家及飲食照護建議。同時根據不同客群在營養素、口味等需求、與料理團隊共同研發健康營養的料理。
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-10 mb-lg-0 mb-6">
            <div class="card border-0 position-relative bg-transparent ">
              <div class="card-pic overflow-hidden">
                <img src="../assets/images/about/料理團隊.svg" alt="team pic">
                <p class="card-slogan px-6 py-4 rounded-pill border border-primary bg-white position-absolute  fs-6">
                  「我們製作零添加的營養餐食，滿足每個不同需求的你！」
                </p>
              </div>
              <div class="card-body p-2">
                <div class="card-title text-black fw-bold fs-lg-4 mb-2 d-flex align-items-center">
                  料理團隊
                  <span class="material-symbols-rounded ms-1"> edit_document </span>
                </div>
                <p class="card-content">
                  我們是由「中西餐廚師團隊」與「品質管理團隊」組成，囊括中餐及西餐主廚，並與營養師聯手，做出符合營養又兼具美味的菜餚。同時根據ISO22000、HACCP國際認證規格，每日廠房環境衛生、用具清潔、料理品質都細心檢驗。
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-10 mb-lg-0 mb-6">
            <div class="card border-0 position-relative bg-transparent ">
              <div class="card-pic overflow-hidden">
                <img src="../assets/images/about/配送團隊.svg" alt="team pic">
                <p class="card-slogan px-6 py-4 rounded-pill border border-primary bg-white position-absolute  fs-6">
                  「我們從人員培訓到車輛整潔，猶如照護家人般為您服務！」
                </p>
              </div>
              <div class="card-body p-2">
                <div class="card-title text-black fw-bold fs-lg-4 mb-2 d-flex align-items-center">
                  配送團隊
                  <span class="material-symbols-rounded ms-1"> local_shipping </span>
                </div>
                <p class="card-content">
                  我們是由「運輸管理團隊」與「倉儲管理中心」組成，從生鮮蔬果、冷凍肉品到熟食料理，堅持每日盤點、先進先出，提供最新鮮的選擇。同時安排每日路線，讓有營養照護需求的癌病友們，能準時享用餐點。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <%- include('./layout/cta-mall') -%> 


    <%- include('./layout/footer') -%> 
    <%- include('./layout/body_bottom') -%>
  </body>
</html>