<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>
    <main class="feedback-page pb-lg-11 pb-9 pt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb mb-4">
              <ol class="breadcrumb text-dark fs-lg-6 fs-7">
                <li class="breadcrumb-item">首頁</li>
                <li class="breadcrumb-item">大家怎麼說</li>
                <li class="breadcrumb-item">成功案例</li>
                <li class="breadcrumb-item" aria-current="page">舌癌</li>
              </ol>
            </nav>
            <h1 class="fw-bold fs-lg-1 fs-2 mb-lg-4 mb-2">
              堅定信念，積極補充營養，舌癌三期順利恢復
            </h1>
            <p class="fs-lg-5 fs-6 mb-6">
              <span class="material-symbols-rounded me-2"> calendar_today </span>
              2023/09/15
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 mb-lg-0 mb-9">
            <div class="d-flex flex-column align-items-center">
              <div class="mb-lg-9 mb-6">
                <div class="brief-intro fw-bold fs-4 text-primary mb-6 d-inline-flex align-items-center p-lg-4 py-3 px-6 border border-primary rounded-pill">
                  77歲的張媽媽，107年因為舌頭潰瘍一直無法痊癒，就醫後確認為舌癌
                </div>
                <p class="mb-6">
                  手術後因切除右側一小部分舌頭初期只能吃流質，但天天喝營養品讓張媽媽非常的害怕，很希望吃到正常風味的食物跟相對比較清爽口感的餐點，但因為個案先生不擅長烹飪因此轉而尋求我們的協助。
                </p>
                <div class="fw-bold fs-4 text-black mb-1">
                  術後照護，泥狀飲食好吞嚥
                </div>
                <p class="mb-6">
                  一開始因為舌頭切除手術，飲食上我們將餐點分開打成泥狀，方便張媽媽進食避免刺激傷口，且因每天傷口不同變化，張媽媽對於食物泥狀濃稠度方面有不同的需求，因此我們另外熬煮無調味的高湯隨餐附贈，讓阿姨用餐時若有濃稠度需要調整時可以使用。
                </p>
                <p class="mb-6">
                  張媽媽告訴我們，醫生在手術前有告訴她：<span class="text-primary">
                    通常口腔癌、鼻咽癌、舌癌患者在手術後常常會因為用餐量降低、營養不夠而有體重降低的情況發生
                  </span> 
                  ，因此特別提醒若是傷口疼痛、體重掉太多都要趕快回診。但她很高興的是，自從吃了我們的餐，因為每一道菜會分開盛裝，不是全部混在一起，因此她可以聞到青菜的香氣、感受到每道菜不同的口感，加上不同菜品的顏色刺激，每一餐只要努力一點，分成兩三次就能夠全部吃光光，因此體重都沒有掉！
                </p>
                <div class="fw-bold fs-4 text-black mb-1">
                  第二階段傷口癒合，細碎飲食訓練進食
                </div>
                <p class="mb-6">
                  而在半個月後，隨著傷口逐漸癒合，為了訓練進食能力，飲食上我們也開始調整細碎處理，但一開始因為渣渣多卡在口腔不舒服、因此在嘗試後決定僅將湯水較多的湯品維持細碎處理，其他的菜色仍使用泥狀餐點，慢慢地隨著傷口更加恢復，再直接將肉菜改成以小塊小塊的樣貌呈現，一方面不會因為太碎而卡在口腔但又不會太難以咀嚼吞嚥；一方面可以讓用餐者看到餐點的樣貌，視覺上能有更好的感受。
                  <span class="text-primary">
                    我們的用心、細心與專業。不會因為要補充蛋白質而疏忽了其他的營養。
                  </span>
                </p>
                <p class="mb-6">
                  而在治療期間，張媽媽告訴我們她另外一件在用餐期間的收穫就是「沒有便秘」。在醫院治療的空檔，病友們很常彼此聊天、關心、打氣。因此也讓她發現，不知道是不是因為我們的餐點會幫她將蔬菜的纖維打得很細緻，所以她都能全部吃下去，因此她沒有其他病友常發生的便秘的問題。這些也讓她再次感受到
                </p>
                <div class="fw-bold fs-4 text-black mb-1">
                  成功關鍵，在於堅定信念
                </div>
                <p class="mb-6">
                  手術後開始化放療的過程中，雖然也有因為口腔黏膜破損、吞嚥疼痛等問題，一度將餐點改回流質的型態，但在整個治療結束後不久，又逐漸的從小塊處理恢復到軟質的正常料理，終於張媽媽完成了整個療程。張媽媽說，雖然生病很難過，但也讓她知道原來身邊還有這麼多專業的人關心她，加上家人的陪伴，是一段走來艱辛、但卻能感受到愛的旅程。
                </p>
              </div>
              <a href="article_feedback.html" class="btn btn-outline-primary d-inline-flex align-items-center">
                返回成功案例
                <span class="material-symbols-rounded ms-2">
                  arrow_right_alt
                  </span>
              </a>
            </div>
          </div>
          <div class="col-lg-3 mb-lg-0 mb-9">
            <h3 class="fw-bold mb-4">相關分享</h3>
            <div class="accordion mb-4" id="relatedShare">
              <div class="accordion-item border border-1 rounded mb-3">
                <button class="accordion-button accordion-header collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#customShare" aria-expanded="true" aria-controls="collapseOne">
                  客製照護餐
                </button>
                <div id="customShare" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#relatedShare">
                  <div class="accordion-body">
                    <ol>
                      <li class="d-flex justify-content-between py-3 border-bottom">
                        <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                          1
                        </span>
                        <p>
                          膽囊切除後需要低油飲食控制，術後有腹瀉問題。後來透過照料理積極飲控，讓身體已恢復原本狀態，偶而能吃一點垃圾食物，但消化都是相當正常且順利...
                        </p>
                      </li>
                      <li class="d-flex justify-content-between py-3 border-bottom">
                        <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                          2
                        </span>
                        <p>
                          術後有腹脹和排便困擾，照料理規劃忌產氣食物且需要足夠熱量與蛋白質。原本靠自己在家煮蛋總是無法達到需要的營養熱量，因此術後恢復相當緩慢，幸好遇到了照料理...
                        </p>
                      </li>
                      <li class="d-flex justify-content-between py-3">
                        <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                          3
                        </span>
                        <p>
                          77歲的張媽媽，107年因為舌頭潰瘍一直無法痊癒，就醫後確認為舌癌。手術後因切除右側一小部分舌頭初期只能吃流質，但天天喝營養品讓張媽媽非常的害怕...
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="accordion-item border border-1 rounded mb-3">
                <button class="accordion-button accordion-header collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#proteinShare" aria-expanded="true" aria-controls="collapseOne">
                  高蛋白燉飲
                </button>
                <div id="proteinShare" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#relatedShare">
                  <div class="accordion-body">
                    <ol>
                      <li class="d-flex justify-content-between py-3 border-bottom">
                        <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                          1
                        </span>
                        <p>
                          膽囊切除後需要低油飲食控制，術後有腹瀉問題。後來透過照料理積極飲控，讓身體已恢復原本狀態，偶而能吃一點垃圾食物，但消化都是相當正常且順利...
                        </p>
                      </li>
                      <li class="d-flex justify-content-between py-3 border-bottom">
                        <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                          2
                        </span>
                        <p>
                          術後有腹脹和排便困擾，照料理規劃忌產氣食物且需要足夠熱量與蛋白質。原本靠自己在家煮蛋總是無法達到需要的營養熱量，因此術後恢復相當緩慢，幸好遇到了照料理...
                        </p>
                      </li>
                      <li class="d-flex justify-content-between py-3">
                        <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                          3
                        </span>
                        <p>
                          77歲的張媽媽，107年因為舌頭潰瘍一直無法痊癒，就醫後確認為舌癌。手術後因切除右側一小部分舌頭初期只能吃流質，但天天喝營養品讓張媽媽非常的害怕...
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="accordion-item border border-1 rounded">
                <button class="accordion-button accordion-header collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#lunchShare" aria-expanded="true" aria-controls="collapseOne">
                  機能調理餐
                </button>
                <div id="lunchShare" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#relatedShare">
                  <div class="accordion-body">
                    <ol>
                      <li class="d-flex justify-content-between py-3 border-bottom">
                        <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                          1
                        </span>
                        <p>
                          膽囊切除後需要低油飲食控制，術後有腹瀉問題。後來透過照料理積極飲控，讓身體已恢復原本狀態，偶而能吃一點垃圾食物，但消化都是相當正常且順利...
                        </p>
                      </li>
                      <li class="d-flex justify-content-between py-3 border-bottom">
                        <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                          2
                        </span>
                        <p>
                          術後有腹脹和排便困擾，照料理規劃忌產氣食物且需要足夠熱量與蛋白質。原本靠自己在家煮蛋總是無法達到需要的營養熱量，因此術後恢復相當緩慢，幸好遇到了照料理...
                        </p>
                      </li>
                      <li class="d-flex justify-content-between py-3">
                        <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                          3
                        </span>
                        <p>
                          77歲的張媽媽，107年因為舌頭潰瘍一直無法痊癒，就醫後確認為舌癌。手術後因切除右側一小部分舌頭初期只能吃流質，但天天喝營養品讓張媽媽非常的害怕...
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer') -%>
    <%- include('./layout/body_bottom') -%>
  </body>
</html>
