<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>

    <main
      class="article-healthNews-page-title d-flex flex-column justify-content-center"
    >
      <div class="container">
        <h1 class="fw-bold text-white mb-lg-4 fs-lg-2 fs-3">健康專欄</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-white fs-lg-6 fs-7 mb-0">
            <li class="breadcrumb-item">首頁</li>
            <li class="breadcrumb-item">大家怎麼說</li>
            <li class="breadcrumb-item" aria-current="page">健康專欄</li>
          </ol>
        </nav>
      </div>
    </main>

    <section class="healthNews container py-lg-9 py-4 mb-lg-0 mb-11 position-relative" id="tabs">

      <!-- 癌症飲食 -->
      <div id="cancer">
        <div class="banner-title rounded overflow-hidden position-relative d-flex align-items-lg-center justify-content-lg-start justify-content-center mb-lg-6 mb-4">
          <div class="wording text-white z-1">
            <h2 class="mb-2 text-white fs-lg-2 fs-4">抗癌該怎麼吃才夠營養？ <br>確診、治療、癌後3 階段大不同！</h2>
            <p class="d-lg-block d-none">掌握手術前、治療中、治療後三大階段的飲食方法，才有足夠的免疫力與體力對抗癌細胞。</p>
          </div>
        </div>
        <div class=" swiper articleSwiper mb-6">
          <div class="row swiper-wrapper flex-nowrap">
            <div class="col-lg-10 swiper-slide">
              <a href="article_healthNews_page.html" class="d-flex align-items-center ">
                <img src="../assets/images/article/article01.png" alt="article" class="me-lg-6 me-3">
                <div class="article-content">
                  <h4 class="fw-bold fs-lg-4 fs-5">抗癌飲食不能吃糖？營養師揭癌症患者該怎麼吃？</h4>
                  <p class="fs-lg-5 fs-6">許多癌症患者易誤信偏方、謠言、迷思，包括「聽說癌細胞喜歡吃糖，那就不要吃糖把癌細胞餓死」，進而變成除了甜點、手搖飲等甜品不吃，白飯、麵條等澱粉不吃，就連水果、全榖雜糧類等也通通不吃。嫚嫚營養師指出，這樣的極端作法反而容易使得癌症病程更不樂觀、更加惡化，並分享有助抗癌的飲食關鍵及促進食慾的妙招</p>
                </div>
              </a>
            </div>
            <div class="col-lg-10 swiper-slide">
              <a href="article_healthNews_page.html" class="d-flex align-items-center ">
                <img src="../assets/images/article/article02.png" alt="article" class="me-lg-6 me-3">
                <div class="article-content">
                  <h4 class="fw-bold fs-lg-4 fs-5">抗癌飲食不能吃糖？營養師揭癌症患者該怎麼吃？</h4>
                  <p class="fs-lg-5 fs-6">許多癌症患者易誤信偏方、謠言、迷思，包括「聽說癌細胞喜歡吃糖，那就不要吃糖把癌細胞餓死」，進而變成除了甜點、手搖飲等甜品不吃，白飯、麵條等澱粉不吃，就連水果、全榖雜糧類等也通通不吃。嫚嫚營養師指出，這樣的極端作法反而容易使得癌症病程更不樂觀、更加惡化，並分享有助抗癌的飲食關鍵及促進食慾的妙招</p>
                </div>
              </a>
            </div>
            <div class="col-lg-10 swiper-slide">
              <a href="article_healthNews_page.html" class="d-flex align-items-center ">
                <img src="../assets/images/article/article01.png" alt="article" class="me-lg-6 me-3">
                <div class="article-content">
                  <h4 class="fw-bold fs-lg-4 fs-5">抗癌飲食不能吃糖？營養師揭癌症患者該怎麼吃？</h4>
                  <p class="fs-lg-5 fs-6">許多癌症患者易誤信偏方、謠言、迷思，包括「聽說癌細胞喜歡吃糖，那就不要吃糖把癌細胞餓死」，進而變成除了甜點、手搖飲等甜品不吃，白飯、麵條等澱粉不吃，就連水果、全榖雜糧類等也通通不吃。嫚嫚營養師指出，這樣的極端作法反而容易使得癌症病程更不樂觀、更加惡化，並分享有助抗癌的飲食關鍵及促進食慾的妙招</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <%- include('./layout/swiper-buttons') -%>
      </div>

      <!-- 特殊飲食 -->
      <div id="special">
        <div class="banner-title rounded overflow-hidden position-relative d-flex align-items-lg-center justify-content-lg-start justify-content-center mb-lg-6 mb-4">
              <div class="wording text-white z-1">
                <h2 class="mb-2 text-white fs-lg-2 fs-4">熱門特殊飲食評比 <br>怎麼吃不挨餓又能降體脂？</h2>
                <p class="d-lg-block d-none">時下熱門的特殊飲食法，像是「生酮飲食」、「蘋果減肥法」、「168斷食」，各有其優缺點。</p>
              </div>
        </div>
        <div class=" swiper articleSwiper mb-6">
          <div class="row swiper-wrapper flex-nowrap">
            <div class="col-lg-10 swiper-slide">
              <a href="article_healthNews_page.html" class="d-flex align-items-center ">
                <img src="../assets/images/article/article03.png" alt="article" class="me-lg-6 me-3">
                <div class="article-content">
                  <h4 class="fw-bold fs-lg-4 fs-5">抗癌飲食不能吃糖？營養師揭癌症患者該怎麼吃？</h4>
                  <p class="fs-lg-5 fs-6">許多癌症患者易誤信偏方、謠言、迷思，包括「聽說癌細胞喜歡吃糖，那就不要吃糖把癌細胞餓死」，進而變成除了甜點、手搖飲等甜品不吃，白飯、麵條等澱粉不吃，就連水果、全榖雜糧類等也通通不吃。嫚嫚營養師指出，這樣的極端作法反而容易使得癌症病程更不樂觀、更加惡化，並分享有助抗癌的飲食關鍵及促進食慾的妙招</p>
                </div>
              </a>
            </div>
            <div class="col-lg-10 swiper-slide">
              <a href="article_healthNews_page.html" class="d-flex align-items-center ">
                <img src="../assets/images/article/article04.png" alt="article" class="me-lg-6 me-3">
                <div class="article-content">
                  <h4 class="fw-bold fs-lg-4 fs-5">抗癌飲食不能吃糖？營養師揭癌症患者該怎麼吃？</h4>
                  <p class="fs-lg-5 fs-6">許多癌症患者易誤信偏方、謠言、迷思，包括「聽說癌細胞喜歡吃糖，那就不要吃糖把癌細胞餓死」，進而變成除了甜點、手搖飲等甜品不吃，白飯、麵條等澱粉不吃，就連水果、全榖雜糧類等也通通不吃。嫚嫚營養師指出，這樣的極端作法反而容易使得癌症病程更不樂觀、更加惡化，並分享有助抗癌的飲食關鍵及促進食慾的妙招</p>
                </div>
              </a>
            </div>
            <div class="col-lg-10 swiper-slide">
              <a href="article_healthNews_page.html" class="d-flex align-items-center ">
                <img src="../assets/images/article/article03.png" alt="article" class="me-lg-6 me-3">
                <div class="article-content">
                  <h4 class="fw-bold fs-lg-4 fs-5">抗癌飲食不能吃糖？營養師揭癌症患者該怎麼吃？</h4>
                  <p class="fs-lg-5 fs-6">許多癌症患者易誤信偏方、謠言、迷思，包括「聽說癌細胞喜歡吃糖，那就不要吃糖把癌細胞餓死」，進而變成除了甜點、手搖飲等甜品不吃，白飯、麵條等澱粉不吃，就連水果、全榖雜糧類等也通通不吃。嫚嫚營養師指出，這樣的極端作法反而容易使得癌症病程更不樂觀、更加惡化，並分享有助抗癌的飲食關鍵及促進食慾的妙招</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <%- include('./layout/swiper-buttons') -%>
      </div>

      <!-- 飲食知識 -->
      <div id="knowledge">
        <div class="banner-title rounded overflow-hidden position-relative d-flex align-items-lg-center justify-content-lg-start justify-content-center mb-lg-6 mb-4">
          <div class="wording text-white z-1">
            <h2 class="mb-2 text-white fs-lg-2 fs-4">飲食怎麼樣才算健康？ <br>營養師曝「最佳飲食法」操作指南</h2>
            <p class="d-lg-block d-none">近幾年因健康相關風氣盛行，更多人開始討論健康飲食，到底有什麼樣的飲食法有助於促進健康？</p>
          </div>
        </div>
        <div class=" swiper articleSwiper mb-6">
          <div class="row swiper-wrapper flex-nowrap">
            <div class="col-lg-10 swiper-slide">
              <a href="article_healthNews_page.html" class="d-flex align-items-center ">
                <img src="../assets/images/article/article05.png" alt="article" class="me-lg-6 me-3">
                <div class="article-content">
                  <h4 class="fw-bold fs-lg-4 fs-5">抗癌飲食不能吃糖？營養師揭癌症患者該怎麼吃？</h4>
                  <p class="fs-lg-5 fs-6">許多癌症患者易誤信偏方、謠言、迷思，包括「聽說癌細胞喜歡吃糖，那就不要吃糖把癌細胞餓死」，進而變成除了甜點、手搖飲等甜品不吃，白飯、麵條等澱粉不吃，就連水果、全榖雜糧類等也通通不吃。嫚嫚營養師指出，這樣的極端作法反而容易使得癌症病程更不樂觀、更加惡化，並分享有助抗癌的飲食關鍵及促進食慾的妙招</p>
                </div>
              </a>
            </div>
            <div class="col-lg-10 swiper-slide">
              <a href="article_healthNews_page.html" class="d-flex align-items-center ">
                <img src="../assets/images/article/article06.png" alt="article" class="me-lg-6 me-3">
                <div class="article-content">
                  <h4 class="fw-bold fs-lg-4 fs-5">抗癌飲食不能吃糖？營養師揭癌症患者該怎麼吃？</h4>
                  <p class="fs-lg-5 fs-6">許多癌症患者易誤信偏方、謠言、迷思，包括「聽說癌細胞喜歡吃糖，那就不要吃糖把癌細胞餓死」，進而變成除了甜點、手搖飲等甜品不吃，白飯、麵條等澱粉不吃，就連水果、全榖雜糧類等也通通不吃。嫚嫚營養師指出，這樣的極端作法反而容易使得癌症病程更不樂觀、更加惡化，並分享有助抗癌的飲食關鍵及促進食慾的妙招</p>
                </div>
              </a>
            </div>
            <div class="col-lg-10 swiper-slide">
              <a href="article_healthNews_page.html" class="d-flex align-items-center ">
                <img src="../assets/images/article/article05.png" alt="article" class="me-lg-6 me-3">
                <div class="article-content">
                  <h4 class="fw-bold fs-lg-4 fs-5">抗癌飲食不能吃糖？營養師揭癌症患者該怎麼吃？</h4>
                  <p class="fs-lg-5 fs-6">許多癌症患者易誤信偏方、謠言、迷思，包括「聽說癌細胞喜歡吃糖，那就不要吃糖把癌細胞餓死」，進而變成除了甜點、手搖飲等甜品不吃，白飯、麵條等澱粉不吃，就連水果、全榖雜糧類等也通通不吃。嫚嫚營養師指出，這樣的極端作法反而容易使得癌症病程更不樂觀、更加惡化，並分享有助抗癌的飲食關鍵及促進食慾的妙招</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <%- include('./layout/swiper-buttons') -%>
      </div>

      <!-- 專業照護 -->
      <div id="profession">
        <div class="banner-title rounded overflow-hidden position-relative d-flex align-items-lg-center justify-content-lg-start justify-content-center mb-lg-6 mb-4">
          <div class="wording text-white z-1">
            <h2 class="mb-2 text-white fs-lg-2 fs-4">長照路上不孤單 <br>來看看政府提供哪些照護資源！</h2>
            <p class="d-lg-block d-none">長期照顧是條漫長而辛苦的過程，無論被照護者或是家屬，都可能承受極大的經濟與心理壓力。</p>
          </div>
        </div>
        <div class=" swiper articleSwiper mb-6">
          <div class="row swiper-wrapper flex-nowrap">
            <div class="col-lg-10 swiper-slide">
              <a href="article_healthNews_page.html" class="d-flex align-items-center ">
                <img src="../assets/images/article/article07.png" alt="article" class="me-lg-6 me-3">
                <div class="article-content">
                  <h4 class="fw-bold fs-lg-4 fs-5">抗癌飲食不能吃糖？營養師揭癌症患者該怎麼吃？</h4>
                  <p class="fs-lg-5 fs-6">許多癌症患者易誤信偏方、謠言、迷思，包括「聽說癌細胞喜歡吃糖，那就不要吃糖把癌細胞餓死」，進而變成除了甜點、手搖飲等甜品不吃，白飯、麵條等澱粉不吃，就連水果、全榖雜糧類等也通通不吃。嫚嫚營養師指出，這樣的極端作法反而容易使得癌症病程更不樂觀、更加惡化，並分享有助抗癌的飲食關鍵及促進食慾的妙招</p>
                </div>
              </a>
            </div>
            <div class="col-lg-10 swiper-slide">
              <a href="article_healthNews_page.html" class="d-flex align-items-center ">
                <img src="../assets/images/article/article08.png" alt="article" class="me-lg-6 me-3">
                <div class="article-content">
                  <h4 class="fw-bold fs-lg-4 fs-5">抗癌飲食不能吃糖？營養師揭癌症患者該怎麼吃？</h4>
                  <p class="fs-lg-5 fs-6">許多癌症患者易誤信偏方、謠言、迷思，包括「聽說癌細胞喜歡吃糖，那就不要吃糖把癌細胞餓死」，進而變成除了甜點、手搖飲等甜品不吃，白飯、麵條等澱粉不吃，就連水果、全榖雜糧類等也通通不吃。嫚嫚營養師指出，這樣的極端作法反而容易使得癌症病程更不樂觀、更加惡化，並分享有助抗癌的飲食關鍵及促進食慾的妙招</p>
                </div>
              </a>
            </div>
            <div class="col-lg-10 swiper-slide">
              <a href="article_healthNews_page.html" class="d-flex align-items-center ">
                <img src="../assets/images/article/article07.png" alt="article" class="me-lg-6 me-3">
                <div class="article-content">
                  <h4 class="fw-bold fs-lg-4 fs-5">抗癌飲食不能吃糖？營養師揭癌症患者該怎麼吃？</h4>
                  <p class="fs-lg-5 fs-6">許多癌症患者易誤信偏方、謠言、迷思，包括「聽說癌細胞喜歡吃糖，那就不要吃糖把癌細胞餓死」，進而變成除了甜點、手搖飲等甜品不吃，白飯、麵條等澱粉不吃，就連水果、全榖雜糧類等也通通不吃。嫚嫚營養師指出，這樣的極端作法反而容易使得癌症病程更不樂觀、更加惡化，並分享有助抗癌的飲食關鍵及促進食慾的妙招</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <%- include('./layout/swiper-buttons') -%>
      </div>
      

      <!-- tab button -->
      <ul class="nav nav-tabs border-0 d-flex flex-lg-column  position-absolute flex-nowrap z-1 px-2" id="scrollBar">
        <li class="nav-item article-tab btn mb-lg-4 position-relative active">
          <a
            class="nav-link stretched-link text-white fs-lg-4 fs-7 border-0 text-nowrap"
            href="#cancer"
            >癌症飲食</a
          >
        </li>
        <li class="nav-item article-tab btn mb-lg-4 position-relative">
          <a
            class="nav-link stretched-link text-white fs-lg-4 fs-7 border-0 text-nowrap"
            href="#special"
            >特殊飲食</a
          >
        </li>
        <li class="nav-item article-tab btn mb-lg-4 position-relative">
          <a
            class="nav-link stretched-link text-white fs-lg-4 fs-7 border-0 text-nowrap"
            href="#knowledge"
            >飲食知識</a
          >
        </li>
        <li class="nav-item article-tab btn position-relative">
          <a
            class="nav-link stretched-link text-white fs-lg-4 fs-7 border-0 text-nowrap"
            href="#profession"
            >專業照護</a
          >
        </li>
      </ul>

    </section>

    <section class="furtherReading pt-lg-9 pt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-lg-7 mb-8">
            <ul>
              <li class="d-flex flex-lg-row flex-column mb-lg-7 mb-6">
                <div class="text-light me-lg-8 mb-lg-0 mb-2 flex-shrink-0 d-flex flex-lg-column">
                  <p class="me-lg-0 me-2">3天前</p>
                  <p>工商時報</p>
                </div>
                <a href="article_healthNews_page.html">
                  <h3 class="fw-bold fs-lg-3 fs-4">再生醫療商機 百家爭鳴</h3>
                  <p class="mb-2">全球再生醫療市場2050年將達3,800億美元，商機誘人，加上再生醫療雙法也有機會力拚2023年過關上路，吸引長聖、基亞、訊聯、三顧、向榮、台寶等廠商搶卡位，台塑生醫、佳世達、鴻海集團也加碼布局，凸顯國內再生醫療將進入百花爭鳴的新世代！</p>
                  <div class="d-flex">
                    <div class="badge badge-secondary me-2">
                      細胞治療
                    </div>
                    <div class="badge badge-secondary">
                      醫療生技
                    </div>
                  </div>
                </a>
              </li>
              <li class="d-flex flex-lg-row flex-column mb-lg-7 mb-6">
                <div class="text-light me-lg-8 mb-lg-0 mb-2 flex-shrink-0 d-flex flex-lg-column">
                  <p class="me-lg-0 me-2">3天前</p>
                  <p>工商時報</p>
                </div>
                <a href="article_healthNews_page.html">
                  <h3 class="fw-bold fs-lg-3 fs-4">用別人捐的細胞抗癌，有望更便宜 再生醫療新時代降臨？</h3>
                  <p class="mb-2">【2023經濟大預測】細胞療法是近年醫界與生技圈的熱門關鍵字，但目前僅限抽取自體細胞治療。隨著「再生醫療雙法」送審，未來有望放寬用別人捐贈的細胞，價格也可能下滑。救命新療法要上路，哪些挑戰要克服？</p>
                  <div class="d-flex">
                    <div class="badge badge-secondary me-2">
                      細胞抗癌
                    </div>
                    <div class="badge badge-secondary me-2">
                      細胞治療
                    </div>
                    <div class="badge badge-secondary">
                      再生醫學
                    </div>
                  </div>
                </a>
              </li>
              <li class="d-flex flex-lg-row flex-column mb-lg-7 mb-6">
                <div class="text-light me-lg-8 mb-lg-0 mb-2 flex-shrink-0 d-flex flex-lg-column">
                  <p class="me-lg-0 me-2">3天前</p>
                  <p>工商時報</p>
                </div>
                <a href="article_healthNews_page.html">
                  <h3 class="fw-bold fs-lg-3 fs-4">CAR-T Kite的Yescarta更受歡迎??!! 細胞治療首重【細胞合格率】生產時間與客戶溝通服務</h3>
                  <p class="mb-2">在提到 CAR-T 細胞療法產品市占率時，早期進入市場固然重要，但能否讓患者獲得及時治療、CAR-T 細胞品質，以及客戶服務品質才是關鍵。例如，近期多發性骨髓瘤的 BCMA CAR-T 細</p>
                  <div class="d-flex">
                    <div class="badge badge-secondary me-2">
                      細胞抗癌
                    </div>
                    <div class="badge badge-secondary me-2">
                      細胞治療
                    </div>
                    <div class="badge badge-secondary">
                      再生醫學
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <!-- pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-lg-start justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span class="material-symbols-rounded">
                      navigate_before
                      </span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span class="material-symbols-rounded">
                      navigate_next
                      </span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-4 align-self-end d-flex justify-content-center">
            <img src="../assets/images/article/illustration.png" alt="illustration">
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer') -%> <%- include('./layout/body_bottom') -%>
  </body>
</html>
