<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>

    <main
      class="article-feedback-page-title d-flex flex-column justify-content-center"
    >
      <div class="container">
        <h1 class="fw-bold text-white mb-lg-4 fs-lg-2 fs-3">成功案例</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-white fs-lg-6 fs-7 mb-0">
            <li class="breadcrumb-item">首頁</li>
            <li class="breadcrumb-item">大家怎麼說</li>
            <li class="breadcrumb-item" aria-current="page">成功案例</li>
          </ol>
        </nav>
      </div>
    </main>

    <section class="card-coverflow py-lg-9 py-7 mb-11">
      <div class="text-center mb-lg-8 mb-7">
        <h2 class="fw-bold fs-lg-2 fs-4 mb-lg-2">聽聽他們都怎麼說？</h2>
        <subtitle class="fs-lg-3 fs-5">次次提供最嚴謹的照顧與最細心的關懷，陪你度過每一次的療程</subtitle>
      </div>
      <div id="tabs">
        <div class="d-flex justify-content-center mb-lg-7 mb-6">
          <ul class="nav nav-tabs">
            <li class="nav-item fs-lg-5 fs-6">
              <a
                class="nav-link active d-flex align-items-center px-lg-6 px-5 py-3"
                aria-current="page"
                href="#custom-feedback"
              >
              客製照護餐
              </a>
            </li>
            <li class="nav-item fs-lg-5 fs-6">
              <a
                class="nav-link d-flex align-items-center px-lg-6 px-5 py-3"
                href="#protein-feedback"
                >高蛋白燉飲</a
              >
            </li>
            <li class="nav-item fs-lg-5 fs-6">
              <a
                class="nav-link d-flex align-items-center px-lg-6 px-5 py-3"
                href="#lunchBox-feedback"
                >機能調理餐</a
              >
            </li>
          </ul>
        </div>
          <div class="swiper coverflowSwiper mb-6" id="custom-feedback">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">膽囊切除</div>
                      <img src="../assets/images/layout/avatar-1.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">50歲 / 吳先生</div>
                  <p class="text-light fs-lg-5 fs-6">
                    膽囊切除後需要低油飲食控制，術後有腹瀉問題。後來透過照料理積極飲控，讓身體已恢復原本狀態，偶而能吃一點垃圾食物，但消化都是相當正常且順利...
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">婦科手術</div>
                      <img src="../assets/images/layout/avatar-2.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">77歲 / 張小姐</div>
                  <p class="text-light fs-lg-5 fs-6">
                    77歲的張媽媽，107年因為舌頭潰瘍一直無法痊癒，就醫後確認為舌癌。手術後因切除右側一小部分舌頭初期只能吃流質，但天天喝營養品讓張媽媽非常的害怕...
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">肝臟移植手術</div>
                      <img src="../assets/images/layout/avatar-3.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">77歲 / 蔡先生</div>
                  <p class="text-light fs-lg-5 fs-6">
                    膽囊切除後需要低油飲食控制，術後有腹瀉問題。後來透過照料理積極飲控，讓身體已恢復原本狀態，偶而能吃一點垃圾食物，但消化都是相當正常且順利...
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">人工關節換置</div>
                      <img src="../assets/images/layout/avatar-4.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">87歲 / 陳小姐</div>
                  <p class="text-light fs-lg-5 fs-6">
                    術後有腹脹和排便困擾，照料理規劃忌產氣食物且需足夠熱量與蛋白質。原本靠自煮，但總是無法達到需要的營養熱量，術後恢復相當緩慢，幸好遇到了照料理...
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">膽囊切除手術</div>
                      <img src="../assets/images/layout/avatar-5.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">吳小姐 / 65歲</div>
                  <p class="text-light fs-lg-5 fs-6">
                    管體中資程！子，強法娥縷回，蛇目作嘶黨何三台飾思中退反次三了這臺風向。想又長說跳資國，由盡美井鐵爛蜻肩怡情誰裡供機的芯啊音告國凶中；聽清比城亢，，到找應？外先的向我藹徒外讓網話絕籲的用了友第了拾我的原
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">婦科手術</div>
                      <img src="../assets/images/layout/avatar-6.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">48歲 / 謝小姐</div>
                  <p class="text-light fs-lg-5 fs-6">
                    管體中資程！子，強法娥縷回，蛇目作嘶黨何三台飾思中退反次三了這臺風向。想又長說跳資國，由盡美井鐵爛蜻肩怡情誰裡供機的芯啊音告國凶中；聽清比城亢，，到找應？外先的向我藹徒外讓網話絕籲的用了友第了拾我的原
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">胰臟移除手術</div>
                      <img src="../assets/images/layout/avatar-7.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">31歲 / 林小姐</div>
                  <p class="text-light fs-lg-5 fs-6">
                    管體中資程！子，強法娥縷回，蛇目作嘶黨何三台飾思中退反次三了這臺風向。想又長說跳資國，由盡美井鐵爛蜻肩怡情誰裡供機的芯啊音告國凶中；聽清比城亢，，到找應？外先的向我藹徒外讓網話絕籲的用了友第了拾我的原
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper coverflowSwiper mb-lg-9 mb-6" id="protein-feedback">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">苷醇雙雞燉飲</div>
                      <img src="../assets/images/layout/avatar-1.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">50歲 / 吳先生</div>
                  <p class="text-light fs-lg-5 fs-6">
                    膽囊切除後需要低油飲食控制，術後有腹瀉問題。後來透過照料理積極飲控，讓身體已恢復原本狀態，偶而能吃一點垃圾食物，但消化都是相當正常且順利...
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">苷醇牛犇燉飲</div>
                      <img src="../assets/images/layout/avatar-2.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">77歲 / 張小姐</div>
                  <p class="text-light fs-lg-5 fs-6">
                    77歲的張媽媽，107年因為舌頭潰瘍一直無法痊癒，就醫後確認為舌癌。手術後因切除右側一小部分舌頭初期只能吃流質，但天天喝營養品讓張媽媽非常的害怕...
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">苷醇藻鱸燉飲</div>
                      <img src="../assets/images/layout/avatar-3.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">77歲 / 蔡先生</div>
                  <p class="text-light fs-lg-5 fs-6">
                    膽囊切除後需要低油飲食控制，術後有腹瀉問題。後來透過照料理積極飲控，讓身體已恢復原本狀態，偶而能吃一點垃圾食物，但消化都是相當正常且順利...
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">苷醇牛犇燉飲</div>
                      <img src="../assets/images/layout/avatar-4.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">87歲 / 陳小姐</div>
                  <p class="text-light fs-lg-5 fs-6">
                    術後有腹脹和排便困擾，照料理規劃忌產氣食物且需足夠熱量與蛋白質。原本靠自煮，但總是無法達到需要的營養熱量，術後恢復相當緩慢，幸好遇到了照料理...
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">苷醇牛犇燉飲</div>
                      <img src="../assets/images/layout/avatar-5.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">吳小姐 / 65歲</div>
                  <p class="text-light fs-lg-5 fs-6">
                    管體中資程！子，強法娥縷回，蛇目作嘶黨何三台飾思中退反次三了這臺風向。想又長說跳資國，由盡美井鐵爛蜻肩怡情誰裡供機的芯啊音告國凶中；聽清比城亢，，到找應？外先的向我藹徒外讓網話絕籲的用了友第了拾我的原
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">苷醇雙雞燉飲</div>
                      <img src="../assets/images/layout/avatar-6.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">48歲 / 謝小姐</div>
                  <p class="text-light fs-lg-5 fs-6">
                    管體中資程！子，強法娥縷回，蛇目作嘶黨何三台飾思中退反次三了這臺風向。想又長說跳資國，由盡美井鐵爛蜻肩怡情誰裡供機的芯啊音告國凶中；聽清比城亢，，到找應？外先的向我藹徒外讓網話絕籲的用了友第了拾我的原
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">苷醇雙雞燉飲</div>
                      <img src="../assets/images/layout/avatar-7.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">31歲 / 林小姐</div>
                  <p class="text-light fs-lg-5 fs-6">
                    管體中資程！子，強法娥縷回，蛇目作嘶黨何三台飾思中退反次三了這臺風向。想又長說跳資國，由盡美井鐵爛蜻肩怡情誰裡供機的芯啊音告國凶中；聽清比城亢，，到找應？外先的向我藹徒外讓網話絕籲的用了友第了拾我的原
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper coverflowSwiper mb-lg-9 mb-6" id="lunchBox-feedback">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">低糖好新纖</div>
                      <img src="../assets/images/layout/avatar-1.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">50歲 / 吳先生</div>
                  <p class="text-light fs-lg-5 fs-6">
                    膽囊切除後需要低油飲食控制，術後有腹瀉問題。後來透過照料理積極飲控，讓身體已恢復原本狀態，偶而能吃一點垃圾食物，但消化都是相當正常且順利...
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">田園好蔬適</div>
                      <img src="../assets/images/layout/avatar-2.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">77歲 / 張小姐</div>
                  <p class="text-light fs-lg-5 fs-6">
                    77歲的張媽媽，107年因為舌頭潰瘍一直無法痊癒，就醫後確認為舌癌。手術後因切除右側一小部分舌頭初期只能吃流質，但天天喝營養品讓張媽媽非常的害怕...
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">均衡好食多</div>
                      <img src="../assets/images/layout/avatar-3.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">77歲 / 蔡先生</div>
                  <p class="text-light fs-lg-5 fs-6">
                    膽囊切除後需要低油飲食控制，術後有腹瀉問題。後來透過照料理積極飲控，讓身體已恢復原本狀態，偶而能吃一點垃圾食物，但消化都是相當正常且順利...
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">咀嚼好輕鬆</div>
                      <img src="../assets/images/layout/avatar-4.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">87歲 / 陳小姐</div>
                  <p class="text-light fs-lg-5 fs-6">
                    術後有腹脹和排便困擾，照料理規劃忌產氣食物且需足夠熱量與蛋白質。原本靠自煮，但總是無法達到需要的營養熱量，術後恢復相當緩慢，幸好遇到了照料理...
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">少鹽好鉀在</div>
                      <img src="../assets/images/layout/avatar-5.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">吳小姐 / 65歲</div>
                  <p class="text-light fs-lg-5 fs-6">
                    管體中資程！子，強法娥縷回，蛇目作嘶黨何三台飾思中退反次三了這臺風向。想又長說跳資國，由盡美井鐵爛蜻肩怡情誰裡供機的芯啊音告國凶中；聽清比城亢，，到找應？外先的向我藹徒外讓網話絕籲的用了友第了拾我的原
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">咀嚼好輕鬆</div>
                      <img src="../assets/images/layout/avatar-6.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">48歲 / 謝小姐</div>
                  <p class="text-light fs-lg-5 fs-6">
                    管體中資程！子，強法娥縷回，蛇目作嘶黨何三台飾思中退反次三了這臺風向。想又長說跳資國，由盡美井鐵爛蜻肩怡情誰裡供機的芯啊音告國凶中；聽清比城亢，，到找應？外先的向我藹徒外讓網話絕籲的用了友第了拾我的原
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">多多好蛋白</div>
                      <img src="../assets/images/layout/avatar-7.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">31歲 / 林小姐</div>
                  <p class="text-light fs-lg-5 fs-6">
                    管體中資程！子，強法娥縷回，蛇目作嘶黨何三台飾思中退反次三了這臺風向。想又長說跳資國，由盡美井鐵爛蜻肩怡情誰裡供機的芯啊音告國凶中；聽清比城亢，，到找應？外先的向我藹徒外讓網話絕籲的用了友第了拾我的原
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="article_feeback_page.html" class="card p-6">
                  <div class="card-title m-0 d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="food-name fw-bold text-primary fs-lg-2 fs-3 d-flex flex-column">多多好蛋白</div>
                      <img src="../assets/images/layout/avatar-7.svg" alt="avatar">
                    </div>
                  </div>
                  <div class="fw-bold fs-lg-3 fs-5 mb-2">31歲 / 林小姐</div>
                  <p class="text-light fs-lg-5 fs-6">
                    管體中資程！子，強法娥縷回，蛇目作嘶黨何三台飾思中退反次三了這臺風向。想又長說跳資國，由盡美井鐵爛蜻肩怡情誰裡供機的芯啊音告國凶中；聽清比城亢，，到找應？外先的向我藹徒外讓網話絕籲的用了友第了拾我的原
                  </p>
                </a>
              </div>
            </div>
          </div>
      </div>
      <%- include('./layout/swiper-buttons') -%>
    </section>

    <%- include('./layout/cta-product') -%>

    <%- include('./layout/footer') -%> <%- include('./layout/body_bottom') -%>
  </body>
</html>
