<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>

    <main
      class="article-healthNews-page-title d-flex flex-column justify-content-center"
    >
      <div class="container">
        <h1 class="fw-bold text-white mb-lg-4 fs-lg-2 fs-3">健康專欄</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-white fs-lg-6 fs-7 mb-0">
            <li class="breadcrumb-item">首頁</li>
            <li class="breadcrumb-item">大家怎麼說</li>
            <li class="breadcrumb-item" aria-current="page">健康專欄</li>
          </ol>
        </nav>
      </div>
    </main>

    <section class="healthNews container py-lg-9 py-4 position-relative" id="tabs">

      <!-- 癌症飲食 -->
      <div id="cancer">
        <div class="banner-title rounded overflow-hidden position-relative d-flex align-items-lg-center justify-content-lg-start justify-content-center">
          <div class="wording text-white z-1">
            <h2 class="mb-2 text-white fs-lg-2 fs-4">抗癌該怎麼吃才夠營養？ <br>確診、治療、癌後3 階段大不同！</h2>
            <p class="d-lg-block d-none">掌握手術前、治療中、治療後三大階段的飲食方法，才有足夠的免疫力與體力對抗癌細胞。</p>
          </div>
        </div>
      </div>

      <!-- 特殊飲食 -->
      <div id="special">
        <div class="banner-title rounded overflow-hidden position-relative d-flex align-items-lg-center justify-content-lg-start justify-content-center">
              <div class="wording text-white z-1">
                <h2 class="mb-2 text-white fs-lg-2 fs-4">生酮、168斷食、不吃碳水化合物 <br>熱門特殊飲食法評比，怎麼吃不挨餓又能降體脂？</h2>
                <p class="d-lg-block d-none">時下熱門的特殊飲食法，像是「生酮飲食」、「蘋果減肥法」、「168斷食」，各有其優缺點。</p>
              </div>
        </div>
      </div>

      <!-- 飲食知識 -->
      <div id="knowledge">
        <div class="banner-title rounded overflow-hidden position-relative d-flex align-items-lg-center justify-content-lg-start justify-content-center">
          <div class="wording text-white z-1">
            <h2 class="mb-2 text-white fs-lg-2 fs-4">飲食怎麼樣才算健康？ <br>健康飲食怎麼吃？營養師曝「最佳飲食法」操作指南</h2>
            <p class="d-lg-block d-none">身心靈的健康與飲食是有很大關聯的，近幾年因健康相關風氣盛行，更多人開始討論健康飲食，到底有什麼樣的飲食法有助於促進健康？</p>
          </div>
        </div>
      </div>

      <!-- 專業照護 -->
      <div id="profession">
        <div class="banner-title rounded overflow-hidden position-relative d-flex align-items-lg-center justify-content-lg-start justify-content-center">
          <div class="wording text-white z-1">
            <h2 class="mb-2 text-white fs-lg-2 fs-4">長照路上不孤單 <br>來看看政府提供哪些照護資源！</h2>
            <p class="d-lg-block d-none">長期照顧是一條漫長而辛苦的過程，無論對於被照護者本人，或是家屬而言，都可能承受極大的經濟與心理壓力。</p>
          </div>
        </div>
      </div>
      

      <!-- tab button -->
      <ul class="nav nav-tabs border-0 d-flex flex-lg-column  position-absolute flex-nowrap z-1 px-2" id="scrollBar">
        <li class="nav-item article-tab btn mb-lg-4 position-relative active">
          <a
            class="nav-link stretched-link text-white fs-lg-4 fs-7 border-0 text-nowrap"
            href="#cancer"
            >癌症飲食</a
          >
        </li>
        <li class="nav-item article-tab btn mb-lg-4 position-relative">
          <a
            class="nav-link stretched-link text-white fs-lg-4 fs-7 border-0 text-nowrap"
            href="#special"
            >特殊飲食</a
          >
        </li>
        <li class="nav-item article-tab btn mb-lg-4 position-relative">
          <a
            class="nav-link stretched-link text-white fs-lg-4 fs-7 border-0 text-nowrap"
            href="#knowledge"
            >飲食知識</a
          >
        </li>
        <li class="nav-item article-tab btn position-relative">
          <a
            class="nav-link stretched-link text-white fs-lg-4 fs-7 border-0 text-nowrap"
            href="#profession"
            >專業照護</a
          >
        </li>
      </ul>

    </section>

    <%- include('./layout/footer') -%> <%- include('./layout/body_bottom') -%>
  </body>
</html>
