<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>

    <main
      class="article-healthNews-page-title d-flex flex-column justify-content-center"
    >
      <div class="container">
        <h1 class="fw-bold text-white mb-lg-4 fs-lg-2 fs-3">健康專欄</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-white fs-lg-6 fs-7 mb-0">
            <li class="breadcrumb-item">首頁</li>
            <li class="breadcrumb-item">大家怎麼說</li>
            <li class="breadcrumb-item" aria-current="page">健康專欄</li>
          </ol>
        </nav>
      </div>
    </main>

    <section class="healthNews container py-9 position-relative" id="tabs">

      <!-- 癌症飲食 -->
      <div id="cancer">
        <div class="banner-title position-relative">
          <div class="row">
            <div class="col-10 me-auto z-1">
              <div class="wording text-white">
                <h2 class="mb-2 text-white">抗癌該怎麼吃才夠營養？ <br>確診、治療、癌後3 階段大不同！</h2>
                <p>掌握手術前、治療中、治療後三大階段的飲食方法，才有足夠的免疫力與體力對抗癌細胞。</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 特殊飲食 -->
      <div id="special">
        <div class="banner-title position-relative">
          <div class="row">
            <div class="col-10 me-auto z-1">
              <div class="wording text-white">
                <h2 class="mb-2 text-white">抗癌該怎麼吃才夠營養？ <br>確診、治療、癌後3 階段大不同！</h2>
                <p>掌握手術前、治療中、治療後三大階段的飲食方法，才有足夠的免疫力與體力對抗癌細胞。</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- tab button -->
      <ul class="nav nav-tabs border-0 d-flex flex-lg-column  position-absolute">
        <li class="nav-item article-tab btn mb-3 position-relative active">
          <a
            class="nav-link stretched-link text-white fs-lg-4 fs-7 border-0"
            href="#cancer"
            >癌症飲食</a
          >
        </li>
        <li class="nav-item article-tab btn mb-3 position-relative">
          <a
            class="nav-link stretched-link text-white fs-lg-4 fs-7 border-0"
            href="#special"
            >特殊飲食</a
          >
        </li>
        <li class="nav-item article-tab btn mb-3 position-relative">
          <a
            class="nav-link stretched-link text-white fs-lg-4 fs-7 border-0"
            href="#knowledge"
            >飲食知識</a
          >
        </li>
        <li class="nav-item article-tab btn position-relative">
          <a
            class="nav-link stretched-link text-white fs-lg-4 fs-7 border-0"
            href="#profession"
            >專業照護</a
          >
        </li>
      </ul>

    </section>

    <%- include('./layout/footer') -%> <%- include('./layout/body_bottom') -%>
  </body>
</html>
