<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>
    <main class="healthNews-page pb-lg-11 pb-9 pt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb mb-4">
              <ol class="breadcrumb text-dark fs-lg-6 fs-7">
                <li class="breadcrumb-item">首頁</li>
                <li class="breadcrumb-item">大家怎麼說</li>
                <li class="breadcrumb-item">健康專欄</li>
                <li class="breadcrumb-item" aria-current="page">癌症飲食</li>
              </ol>
            </nav>
            <h1 class="fw-bold fs-lg-1 fs-2 mb-lg-4 mb-2">
              抗癌飲食不能吃糖？營養師揭癌症患者該怎麼吃？
            </h1>
            <p class="fs-lg-5 fs-6 mb-6">
              <span class="material-symbols-rounded me-2"> calendar_today </span>
              2023/09/15
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 mb-lg-0 mb-9">
            <div class="d-flex flex-column align-items-center">
              <div class="mb-lg-9 mb-6">
                <img src="../assets/images/article/image 1.png" alt="article-pic" class="mb-6">
                <p class="mb-6">罹癌後除了接受正規治療，營養補充也非常重要，除了醫生外，癌症患者也會透過營養師衛教了解基本飲食原則，包括飲食需高熱量、高蛋白、不生食以及常見癌症副作用的飲食對策等等。但往往回到日常生活，真的很難掌握所謂的「高熱量」、「高蛋白」應該怎麼吃比較好，許多患者都是在正餐的時間以外，透過營養保健食品的補充來達到營養師所建議的營養攝取量，而在胃口不佳、噁心嘔吐的時期，湯水類的食物更是許多人飲食補充的優先選擇。</p>
                <p class="mb-6">湯水類的食物基本上可以分成四種，分別是：市售營養品、雞精鱸魚精系列、煲湯燉湯系列、果汁茶飲類，以下就分別提醒大家各項湯水的好與壞。</p>
                <img src="../assets/images/article/image 2.png" alt="article-pic" class="mb-6">
                <div class="mb-7">
                  <h4 class="fw-bold mb-3">
                    一、市售營養品
                  </h4>
                  <p>優點：種類繁多、針對不同疾病有對應的配方、標示清楚、可常溫保存</p>
                  <p class="mb-6">缺點：以甜口味為主，台灣人多數較不適應、較濃稠飽足感強</p>
                  <p>各大廠牌除了一般配方、糖尿病配方、腎病配方等，許多也推出了癌症專用配方、單品配方(僅補充蛋白質、碳水化合物、中鏈脂肪酸等等)，走訪各大藥局透過營養師的推薦，許多人都可以買到家人朋友適合的商品。但因大多數以甜口味為主，要注意的是整體口味是否適應的問題。</p>
                </div>
                <div class="mb-7">
                  <h4 class="fw-bold mb-3">
                    二、雞精鱸魚精系列
                  </h4>
                  <p>優點：取得方便、份量小、可常溫保存</p>
                  <p class="mb-6">缺點：單價較高、以小分子胺基酸為主成分較單一</p>
                  <p>雞精、鱸魚精等相關產品主要成分是胺基酸、核苷酸…等小分子蛋白質，最大的優點就是好消化、好吸收，且以購買方便度、份量、好不好入口來思考，雞精或鱸魚精是蠻好的營養補充品，但因為整體蛋白質含量不高，若今天是因為吃太少而導致的營養攝取不足，建議還是要攝取原態食物或營養補充品才能獲得完整且充足的三大營營養素，而若是吸收力較差或想要恢復元氣的病患，再透過雞精、鱸魚精來調養即可。</p>
                </div>
                <div class="mb-7">
                  <h4 class="fw-bold mb-3">
                    三、煲湯燉湯系列
                  </h4>
                  <p>優點：商品眾多、居家及通路方便取得、口味好入口</p>
                  <p class="mb-6">缺點：湯汁過多容易飽，可能會吃不下其他食物</p>
                  <p class="mb-4">台灣人愛喝湯，生病之後有更多人會透過湯品來調理身體，像是手術後要喝鱸魚湯就是這個例子。從居家附近餐廳到大賣場，湯品的種類、口味等非常多樣化，生病期間慢慢挑總會找到自己喜歡的。</p>
                  <p>但營養師要提醒大家「先喝湯、再吃料」。許多人以為「喝湯」就能把大多數的營養喝下肚，其實不是喔！特別在治療期間，不管是魚湯、排骨湯、雞湯，若希望攝取湯裡面的優質蛋白質，還是得細細咀嚼裡面的肉才行。先喝湯，只會讓病患飽足感快速增加，如果反而吃不下飯就得不償失了。</p>
                </div>
                <div class="mb-7">
                  <h4 class="fw-bold mb-3">
                    四、果汁茶飲類
                  </h4>
                  <p>優點：無肉腥味通常好入口、便宜、好取得好製作</p>
                  <p class="mb-6">缺點：生鮮衛生安全、通常以醣類為主要營養成分、湯汁過多容易飽</p>
                  <p class="mb-4">多數人在治療期嗅覺、味覺都會改變，對肉腥味的敏感度會大幅增加，此時通常沒有添加肉類的蔬菜汁、水果汁對病患來說會非常好入口。雖然蔬果汁還有許多天然植化素，並可提供醣類、纖維等營養成分，但對於補充優質蛋白質卻幫助不大，且在治療期間因為免疫力下降，醫生及營養師也會建議不可以吃生的食物、水果要去皮等等。</p>
                  <p>因此會建議，治療期間可以適量以水果(去皮)、果汁作為點心，但不應該為主要營養來源，且不建議使用生機飲食避免增加感染的風險喔！</p>
                </div>
                <p>以上四種常見湯水種類大家都了解了嗎?<br>
                  生病的時候，胃口大幅降低但卻得吃的比平常更多，該怎麼吃真的好煩惱，希望今天提到的四大種類能讓大家更清楚的想想日常該怎麼選，若有其他問題，都歡迎大家到照料理FB私訊告訴我們喔！</p>
              </div>
              <a href="article_healthNews.html" class="btn btn-outline-primary d-inline-flex align-items-center">
                返回健康專欄
                <span class="material-symbols-rounded ms-2">
                  arrow_right_alt
                  </span>
              </a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="mb-8">
              <h3 class="fw-bold mb-4">文章關鍵字</h3>
              <div class="d-flex flex-wrap">
                <a href="#" class="badge badge-secondary me-2 mb-2">
                  細胞治療
                </a>
                <a href="#" class="badge badge-secondary me-2 mb-2">
                  低醣飲食
                </a>
                <a href="#" class="badge badge-secondary me-2 mb-2">
                  抗癌
                </a>
                <a href="#" class="badge badge-secondary me-2 mb-2">
                  醫療生技
                </a>
                <a href="#" class="badge badge-secondary me-2 mb-2">
                  婦科癌細胞手術
                </a>
                <a href="#" class="badge badge-secondary me-2 mb-2">
                  癌症飲食
                </a>
                <a href="#" class="badge badge-secondary me-2 mb-2">
                  糖分攝取
                </a>
                <a href="#" class="badge badge-secondary me-2 mb-2">
                  專業營養師
                </a>
              </div>
            </div>
            <div>
              <h3 class="fw-bold mb-4">延伸閱讀</h3>
              <ol>
                <li class="pb-3 border-bottom">
                  <a href="#"  class="d-flex justify-content-between">
                    <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                      1
                    </span>
                    <p>
                      全球再生醫療市場2050年將達3,800億美元，商機誘人，加上再生醫療雙法也有機會力拚2023年過關上路，吸引長聖、基亞、訊聯、三顧、向榮、台寶等廠商搶卡位，台塑生醫、佳世達、鴻海集團也加碼布局，凸顯國內再生醫療將進入百花爭鳴的新世代！
                    </p>
                  </a>
                </li>
                <li class="py-3 border-bottom">
                  <a href="#"  class="d-flex justify-content-between">
                    <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                      2
                    </span>
                    <p>
                      【2023經濟大預測】細胞療法是近年醫界與生技圈的熱門關鍵字，但目前僅限抽取自體細胞治療。隨著「再生醫療雙法」送審，未來有望放寬用別人捐贈的細胞，價格也可能下滑。救命新療法要上路，哪些挑戰要克服？
                    </p>
                  </a>
                </li>
                <li class="py-3 border-bottom">
                  <a href="#"  class="d-flex justify-content-between">
                    <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                      3
                    </span>
                    <p>
                      在提到 CAR-T 細胞療法產品市占率時，早期進入市場固然重要，但能否讓患者獲得及時治療、CAR-T 細胞品質，以及客戶服務品質才是關鍵。例如，近期多發性骨髓瘤的 BCMA CAR-T 細
                    </p>
                  </a>
                </li>
                <li class="py-3 border-bottom">
                  <a href="#"  class="d-flex justify-content-between">
                    <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                      4
                    </span>
                    <p>
                      全球再生醫療市場2050年將達3,800億美元，商機誘人，加上再生醫療雙法也有機會力拚2023年過關上路，吸引長聖、基亞、訊聯、三顧、向榮、台寶等廠商搶卡位，台塑生醫、佳世達、鴻海集團也加碼布局，凸顯國內再生醫療將進入百花爭鳴的新世代！
                    </p>
                  </a>
                </li>
                <li class="py-3">
                  <a href="#"  class="d-flex justify-content-between">
                    <span class=" text-primary border border-primary rounded-circle me-2 fs-6 fw-bold text-center">
                      5
                    </span>
                    <p>
                      在提到 CAR-T 細胞療法產品市占率時，早期進入市場固然重要，但能否讓患者獲得及時治療、CAR-T 細胞品質，以及客戶服務品質才是關鍵。例如，近期多發性骨髓瘤的 BCMA CAR-T 細
                    </p>
                  </a>
                </li>
            </ol>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer') -%>
    <%- include('./layout/body_bottom') -%>
  </body>
</html>
