<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>
    <main class="banner py-lg-6 py-4 d-flex flex-lg-row flex-column align-items-center">
      <!-- Swiper -->
      <div class="swiper mySwiper mx-lg-0">
        <div class="swiper-wrapper">
          <div class="swiper-slide" lazy="true">
            <img
              src="../assets/images/home/banner1.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide" lazy="true">
            <img
              src="../assets/images/home/banner2.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide" lazy="true">
            <img
              src="../assets/images/home/banner3.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/home/banner4.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/home/banner5.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/home/banner6.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/home/banner7.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/home/banner8.png"
              alt="banner"
              class="rounded"
            />
          </div>
        </div>
      </div>
      <div class="banner-wording">
        <h1 class="text-primary mb-2 position-relative fs-lg-1 fs-2">全方位 <br>營養照護專家
        </h1>
        <p class="fs-lg-4 fs-5 mb-6">以健康為主軸，營養專業為基礎，滿足你從日常餐飲到特殊照護各階段的營養餐點需求</p>
        <a href="../pages/shopping/mall.html" class="btn btn-primary">
          線上購物
          <span class="material-symbols-rounded ms-2"> east </span>
        </a>
      </div>
    </main>
    <section class="painPoint py-lg-9 py-6">
      <div class="container">
        <div class="row flex-lg-row flex-column-reverse align-items-center">
          <div class="col-lg-7 col-10">
            <img src="../assets/images/home/painpoint.svg" alt="painpoint">
          </div>
          <div class="col-lg-4 ms-auto text-lg-start text-center mb-lg-0 mb-6">
            <h2 class="text-dark fs-lg-2 fs-4 mb-lg-7 mb-4">你是否....</h2>
            <p class="fw-bold fs-lg-3 fs-5 mb-lg-7 mb-4">
              常煩惱三餐該怎麼辦？ <br>
              不知道該怎麼吃才能補充營養？<br>
              如果這正是你的心聲
            </p>
            <h2 class="text-primary fs-lg-2 fs-4">那你絕對不能錯過照料理 !</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="service py-lg-9 py-6">
      <div class="container">
        <div class="section-title d-flex justify-content-between align-items-center mb-7">
          <div>
            <h2 class="text-primary mb-1">我們提供哪些服務</h2>
            <subtitle class="fw-bold fs-lg-4">專業的態度，健康的食物</subtitle>
          </div>
          <div id="tabs">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active d-flex align-items-center" aria-current="page" href="#tabs-1">
                  餐點介紹
                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="16" viewBox="0 0 11 16" fill="none" class="ms-2">
                    <path d="M10.9804 10.633C10.9804 13.5971 8.52235 16 5.4902 16C2.45804 16 0 13.5971 0 10.633C0 7.66895 5.4902 0 5.4902 0C5.4902 0 10.9804 7.66895 10.9804 10.633Z" fill="#C7594D"/>
                  </svg>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tabs-2">公司介紹</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row" id="tabs-1">
          <div class="col-4">
            <a href="../pages/about/team.html" class="item d-inline-block position-relative">
              <img src="../assets/images/home/公司介紹-1.png" alt="service">
              <div class="item-info text-white position-absolute px-6 py-4 bottom-0 start-0 z-3" >
                <div class="title fw-bold fs-4">
                  專業團隊分工
                </div>
                <p>團隊精細分工，因為有各個崗位的專業，才能成就今日的美味料理</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer') -%> <%- include('./layout/body_bottom') -%>
  </body>
</html>
