<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>
    <main class="banner py-6 d-flex align-items-center">
      <!-- Swiper -->
      <div class="swiper mySwiper mx-lg-0">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="../assets/images/home/banner1.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/home/banner2.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/home/banner3.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/home/banner4.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/home/banner5.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/home/banner6.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/home/banner7.png"
              alt="banner"
              class="rounded"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../assets/images/home/banner8.png"
              alt="banner"
              class="rounded"
            />
          </div>
        </div>
      </div>
      <div class="banner-wording">
        <h1 class="text-primary mb-2 position-relative">全方位 <br>營養照護專家
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="13" height="21" viewBox="0 0 13 21" fill="none" class="position-absolute top-0 start-40">
            <path d="M6.36402 11.2141C6.36402 11.1083 6.32775 11.0202 6.25523 10.9496C6.21897 10.8791 6.14644 10.8438 6.03766 10.8438C4.40586 10.8438 3.00976 10.3501 1.84937 9.36272C0.688982 8.37531 0.108787 7.0529 0.108787 5.39547C0.108787 3.80856 0.688982 2.52141 1.84937 1.53401C3.04603 0.511335 4.51464 0 6.25523 0C8.43096 0 10.099 0.722922 11.2594 2.16877C12.4198 3.61461 13 5.60705 13 8.1461C13 10.8967 12.2022 13.3829 10.6067 15.6045C9.04742 17.8615 6.81729 19.5894 3.91632 20.7884C3.5537 20.9295 3.2092 21 2.88285 21C2.48396 21 2.10321 20.9118 1.74059 20.7355C0.979079 20.4181 0.453278 19.8715 0.16318 19.0957C0.0543933 18.8136 0 18.5139 0 18.1965C0 17.8086 0.0906555 17.4383 0.271967 17.0856C0.598326 16.4156 1.12413 15.9043 1.84937 15.5516C4.3152 14.4232 5.82008 12.9773 6.36402 11.2141Z" fill="#C7594D"/>
          </svg> -->
          <img src="" alt="">
        </h1>
        <p class="fs-4 mb-6">以健康為主軸，營養專業為基礎，滿足你從日常餐飲到特殊照護各階段的營養餐點需求</p>
        <a href="../pages/shopping/mall.html" class="btn btn-primary">
          線上購物
          <span class="material-symbols-rounded ms-2"> east </span>
        </a>
      </div>
    </main>
    <section></section>

    <%- include('./layout/footer') -%> <%- include('./layout/body_bottom') -%>
  </body>
</html>
