<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>

    <main class="member_login mb-lg-10 mb-6">
      <div class="container">
        <div class="row position-relative">
          <div class="col-lg-4 col-11 mx-auto login">
            <h3 class="text-primary text-center fw-bold mb-lg-10 mb-8">
              會員登入
            </h3>
            <form action="#" class="mb-lg-10 mb-8">
              <div class="mb-6">
                <label for="#account" class="form-label">帳號</label>
                <input type="text" class="form-control" id="account" placeholder="請輸入信箱">
              </div>
              <div >
                <label for="#password" class="form-label">密碼</label>
                <input type="password" class="form-control" id="password" placeholder="請輸入密碼">
              </div>
            </form>
            <div class="login_button d-flex flex-column align-items-center mb-lg-10 mb-8">
              <a href="../pages/index.html" class="btn btn-outline-primary mb-3">
                開始購物吧！
              </a>
              <a href="#" class="fs-6 forget">忘記密碼？</a>
            </div>
            <div class="d-flex align-items-center justify-content-center fs-6">
              還不是會員嗎？快來加入吧！
              <a href="#" class="btn btn-outline-dark ms-2">註冊會員</a>
            </div>
          </div>
          <div class="col-lg-4 col-11 mx-auto forgetPassword position-absolute top-0 start-50 ">
            <h3 class="text-primary text-center fw-bold mb-lg-10 mb-8">
              忘記密碼
            </h3>
            <form action="#" class="mb-lg-10 mb-8">
              <div>
                <label for="#account" class="form-label">帳號</label>
                <input type="text" class="form-control" id="account" placeholder="請輸入信箱">
              </div>
            </form>
            <div class="login_button d-flex flex-column align-items-center mb-lg-10 mb-8">
              <a href="#" class="btn btn-outline-primary mb-3">
                重設密碼
              </a>
              <a href="#" class="retun_login fs-6 d-flex align-items-center">
                返回至會員登入
                <span class="material-symbols-rounded ms-2">
                  keyboard_return
                  </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer') -%> 
    <%- include('./layout/body_bottom') -%>
  </body>
</html>