<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>
    <div class="membership pt-4 pb-9">
      <div class="container">
        <nav aria-label="breadcrumb" class="pb-lg-6 pb-4">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item"><a href="#">會員中心</a></li>
          </ol>
        </nav>
        <div class="row" id="tabs">
          <div class="col-lg-2 sidebar mb-lg-0">
            <ul class="nav nav-tabs border-0 d-flex flex-lg-column mb-lg-0 mb-5">
              <li class="nav-item fs-lg-5 fs-6">
                <a
                  class="nav-link border-0 active d-flex align-items-center justify-content-lg-start justify-content-center px-lg-0 px-5 py-3"
                  aria-current="page"
                  href="#editProfile"
                >
                  編輯資料
                </a>
              </li>
              <li class="nav-item fs-lg-5 fs-6">
                <a
                  class="nav-link border-0 d-flex align-items-center justify-content-lg-start justify-content-center px-lg-0 px-5 py-3"
                  href="#followOrder"
                  >追蹤訂單</a
                >
              </li>
              <li class="nav-item fs-lg-5 fs-6">
                <a
                  class="nav-link border-0 d-flex align-items-center justify-content-lg-start justify-content-center px-lg-0 px-5 py-3"
                  href="#commentFeedback"
                  >留言回饋</a
                >
              </li>
            </ul>
          </div>
  
          <div class="col-lg-10">
            <!-- 編輯資料 -->
            <div id="editProfile">
              <div class="pagetitle mb-lg-7 mb-6">
                <h3 class="fw-bold fs-lg-3 fs-4">編輯資料</h3>
                <p class="text-primary fs-lg-5 fs-6">
                  管理你的檔案以保護你的帳戶
                </p>
              </div>
              <div class="basicInfo">
                <div class="row gx-lg-11">
                  <div class="col-lg-6 mb-lg-0 mb-9">
                    <h4 class="fw-bold fs-lg-4 fs-5 mb-4">基本資料</h4>
                    <div class="d-flex align-items-center mb-9">
                      <span
                        class="material-symbols-rounded fs-lg-1 fs-2 userPic rounded-circle d-flex align-items-center justify-content-center me-6"
                      >
                        person
                      </span>
                      <div>
                        <p class="text-light fs-6 mb-4">
                          檔案大小：最大1MB <br />
                          檔案限制：JPEG / PNG
                        </p>
                        <label for="uploadPic">
                          <div
                            class="btn btn-outline-dark d-flex align-items-center"
                          >
                            選擇圖片
                            <span class="material-symbols-rounded ms-2">
                              upload
                            </span>
                          </div>
                          <input class="d-none" type="file" id="uploadPic" />
                        </label>
                      </div>
                    </div>
                    <form action="#">
                      <form>
                        <div class="mb-6">
                          <label for="userName" class="form-label fs-5"
                            >姓名</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="userName"
                            aria-describedby="emailHelp"
                            value="王小明"
                          />
                        </div>
                        <div class="mb-6">
                          <label for="email" class="form-label fs-5">信箱</label>
                          <input
                            type="email"
                            class="form-control"
                            id="email"
                            value="xuannn0915@gmail.com"
                            aria-describedby="emailHelp"
                          />
                        </div>
                        <div class="mb-6">
                          <div class="d-flex justify-content-between align-items-center">
                            <label for="password" class="form-label fs-5"
                              >密碼</label
                            >
                            <a
                              class="link-warning d-inline-flex align-items-center"
                              data-bs-toggle="modal"
                              href="#setNewPassword"
                            >
                              設定新密碼
                              <span class="material-symbols-rounded ms-2 fs-4">
                                autorenew
                              </span>
                            </a>
                          </div>
                          <input
                            type="password"
                            class="form-control mb-2"
                            id="password"
                            value="123456"
                            disabled
                          />
                        </div>
                        <div class="d-flex flex-column mb-6">
                          <label for="birthday" class="form-label fs-5">生日</label>
                          <div class="d-flex justify-content-between">
                            <select class="form-select me-4" aria-label="Default select example">
                              <option value="">年</option>
                              <option value="2005">2005</option>
                              <option value="2004">2004</option>
                              <option value="2003">2003</option>
                              <option value="2002">2002</option>
                              <option value="2001">2001</option>
                              <option value="2000">2000</option>
                            </select>
                            <select class="form-select me-4" aria-label="Default select example">
                              <option value="">月</option>
                              <option value="12">12</option>
                              <option value="11">11</option>
                              <option value="10">10</option>
                              <option value="09">09</option>
                              <option value="08">08</option>
                              <option value="07">07</option>
                              <option value="06">06</option>
                              <option value="05">05</option>
                              <option value="04">04</option>
                              <option value="03">03</option>
                              <option value="02">02</option>
                              <option value="01">01</option>
                            </select>
                            <select class="form-select" aria-label="Default select example">
                              <option value="">日</option>
                              <option value="01">01</option>
                              <option value="02">02</option>
                              <option value="03">03</option>
                              <option value="04">04</option>
                              <option value="05">05</option>
                              <option value="06">06</option>
                              <option value="07">07</option>
                              <option value="08">08</option>
                              <option value="09">09</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                            </select>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                          儲存變更
                        </button>
                      </form>
                    </form>
                  </div>
                  <div class="col-lg-6">
                    <div class="creditCard mb-lg-11 mb-9">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <h4 class="fw-bold fs-lg-4 fs-5">信用卡</h4>
                        <a class="link-warning d-flex align-items-center" href="#addCreditCard"
                        data-bs-toggle="modal" >
                          新增常用信用卡
                          <span class="material-symbols-rounded ms-2"> add </span>
                        </a>
                      </div>
                      <div class="card-list mb-1">
                        <div class="card mb-2">
                          <div class="card-body d-flex justify-content-between align-items-center">
                            <p>
                              <img src="../assets/images/membership/visa.svg" alt="visa" class="me-2">
                              ****0403
                            </p>
                            <a href="#" class="material-symbols-rounded"> delete </a>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body d-flex justify-content-between align-items-center">
                            <p>
                              <img src="../assets/images/membership/visa.svg" alt="visa" class="me-2">
                              ****5566
                            </p>
                            <a href="#" class="material-symbols-rounded"> delete </a>
                          </div>
                        </div>
                      </div>
                      <p class="fs-6 text-light">
                        最多新增三張信用卡
                      </p>
                    </div>
                    <div class="
                    recipientAddress">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <h4 class="fw-bold fs-lg-4 fs-5">收件地</h4>
                        <a class="link-warning d-flex align-items-center" href="#addAddress"
                        data-bs-toggle="modal" >
                        新增常用收件地
                          <span class="material-symbols-rounded ms-2"> add </span>
                        </a>
                      </div>
                      <div class="card-list mb-1">
                        <div class="card border-0 border-bottom bg-transparent">
                          <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                              <p class="fw-bold text-primary">
                                公司
                              </p>
                              新北市新店區北新路二段225號13樓
                            </div>
                            <a href="#" class="material-symbols-rounded"> delete </a>
                          </div>
                        </div>
                        <div class="card border-0 border-bottom bg-transparent">
                          <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                              <p class="fw-bold text-primary">
                                我的家
                              </p>
                              雲林縣斗六市中正路一段33巷458號15樓
                            </div>
                            <a href="#" class="material-symbols-rounded"> delete </a>
                          </div>
                        </div>
                      </div>
                      <p class="fs-6 text-light">
                        最多新增三個收件地
                      </p>
                    </div>                  
                  </div>
                </div>
              </div>
            </div>
  
            <!-- 追蹤訂單 -->
            <div id="followOrder">
              <div class="pagetitle mb-lg-7 mb-6">
                <h3 class="fw-bold fs-lg-3 fs-4">訂單管理</h3>
                <p class="text-primary fs-lg-5 fs-6">
                  追蹤你的訂單以領取你的餐點
                </p>
              </div>
              <table class="table bg-white border rounded">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            <!-- 留言回饋 -->
            <div id="commentFeedback">
              <div class="pagetitle mb-lg-7 mb-6">
                <h3 class="fw-bold fs-lg-3 fs-4">留言回饋</h3>
                <p class="text-primary fs-lg-5 fs-6">
                  分享你的心得以了解你的體驗
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>


    <!-- reset password modal -->
    <div
      class="modal fade"
      id="setNewPassword"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">設定新密碼</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="#">
              <div class="mb-3">
                <label for="oldPassword" class="form-label d-flex">舊密碼
                  <span class="text-danger ms-1">*</span>
                </label>
                <input type="text" class="form-control" id="oldPassword" placeholder="請輸入舊密碼">
              </div>
              <div class="mb-3">
                <label for="newPassword" class="form-label d-flex">新密碼
                  <span class="text-danger ms-1">*</span>
                </label>
                <input type="password" class="form-control" id="newPassword" placeholder="請輸入新密碼(至少8個字元)">
              </div>
              <div class="mb-3">
                <label for="confirmNewPassword" class="form-label d-flex">新密碼
                  <span class="text-danger ms-1">*</span>
                </label>
                <input type="password" class="form-control" id="confirmNewPassword" placeholder="請再次輸入新密碼">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-dark"
              data-bs-dismiss="modal"
            >
              取消
            </button>
            <button type="button" class="btn btn-primary d-block">更新</button>
          </div>
        </div>
      </div>
    </div>

    <!-- add credit card modal -->
    <div
    class="modal fade"
    id="addCreditCard"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog  modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCreditCard">新增信用卡</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="hints rounded p-4 mb-6 rounded">
            <div class="fw-bold text-success">
              您的信用卡資訊將會被嚴格保護。
            </div>
            <p class="text-light">
              照料理並不會留存您的信用卡完整資訊，合作服務商符合PCI-DSS國際安全認證，致力提供安全且便捷的交易環境。
            </p>
          </div>
          <h4 class="fw-bold mb-3">
            卡片詳情
          </h4>
          <form action="#" class="mb-7 border rounded p-4">
            <div class="mb-3">
              <label for="cardNum" class="form-label">信用卡號碼</label>
              <input type="text" class="form-control" id="cardNum" aria-describedby="emailHelp" placeholder="請輸入信用卡號">
            </div>
            <div class="d-flex flex-lg-row flex-column mb-3">
              <div class=" me-lg-2 mb-lg-0 mb-3 w-lg-50 w-100">
                <label for="cardDate" class="form-label">卡片到期日</label>
                <input type="text" class="form-control" id="cardDate" aria-describedby="emailHelp" placeholder="請輸入到期日(MM/YY)">
              </div>
              <div class="w-lg-50 w-100">
                <label for="cardVerification" class="form-label">驗證碼</label>
                <input type="text" class="form-control" id="cardVerification" aria-describedby="emailHelp" placeholder="請輸入安全驗證碼">
              </div>
            </div>
            <div>
              <label for="cardName" class="form-label">持卡者姓名</label>
              <input type="text" class="form-control" id="cardName" aria-describedby="emailHelp" placeholder="請輸入持卡者姓名">
            </div>
          </form>
          <h4 class="fw-bold mb-3">
            帳單地址
          </h4>
          <form action="#" class="mb-7 border rounded p-4">
            <div class="mb-3">
              <label for="billAddress" class="form-label">帳單地址</label>
              <input type="text" class="form-control" id="billAddress" aria-describedby="emailHelp" placeholder="請輸入信用卡帳單地址">
            </div>
            <div>
              <label for="Postal code" class="form-label">郵遞區號</label>
              <input type="text" class="form-control" id="Postal code" aria-describedby="emailHelp" placeholder="請輸入郵遞區號">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            data-bs-dismiss="modal"
          >
            取消
          </button>
          <button type="button" class="btn btn-primary">新增</button>
        </div>
      </div>
    </div>
    </div>

    <!-- add address modal -->
    <div
    class="modal fade"
    id="addAddress"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAddress">新增地址</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="mb-3">
              <label for="noteName" class="form-label">標註名稱</label>
              <input type="text" class="form-control" id="noteName" aria-describedby="emailHelp" placeholder="請輸入標注名稱">
            </div>
            <div class="d-flex flex-lg-row flex-column mb-3">
              <div class="me-lg-2 mb-lg-0 mb-3 w-lg-50 w-100">
                <label for="county" class="form-label">縣市</label>
                <select class="form-select" aria-label="Default select example" id="county">
                  <option selected>請選擇縣市</option>
                  <option value="1">台北市</option>
                  <option value="2">新北市</option>
                  <option value="3">桃園市</option>
                </select>
              </div>
              <div class="w-lg-50 w-100">
                <label for="district" class="form-label">區域</label>
                <select class="form-select" aria-label="Default select example" id="district">
                  <option selected>請選擇區域</option>
                  <option value="1">新店區</option>
                  <option value="2">大安區</option>
                  <option value="3">中正區</option>
                </select>
              </div>
            </div>
            <div class="mb-3">
              <label for="street" class="form-label">地址</label>
              <input type="text" class="form-control" id="street" aria-describedby="emailHelp" placeholder="請輸入完整地址">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            data-bs-dismiss="modal"
          >
            取消
          </button>
          <button type="button" class="btn btn-primary">新增</button>
        </div>
      </div>
    </div>
    </div>
  </div>

    <%- include('./layout/footer') -%> <%- include('./layout/body_bottom') -%>
  </body>
</html>
