<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>

    <main
      class="others-manual-page-title d-flex flex-column justify-content-center"
    >
      <div class="container">
        <h1 class="fw-bold text-white mb-lg-4 fs-lg-2 fs-3">料理怎麼買</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-white fs-lg-6 fs-7 mb-0">
            <li class="breadcrumb-item">首頁</li>
            <li class="breadcrumb-item">料理怎麼買</li>
          </ol>
        </nav>
      </div>
    </main>

    <section class="py-lg-9 py-6 order-proccess">
      <div class="container">
        <div class="text-center mb-lg-8 mb-6">
          <div class="fw-bold text-black fs-lg-1 fs-3 mb-lg-2">
            訂餐流程讓我告訴你
          </div>
          <p class="fs-lg-3 fs-5">不知該如何獲得美味照料理的你先別慌</p>
        </div>
        <div class=" row">
          <div
            class="col-lg-4 mb-lg-0 mb-8 item"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            <div class="d-flex flex-column align-items-center">
              <img
                src="../assets/images/other/線上訂購.svg"
                alt="illustration"
                class="mb-6"
              />
              <div class="px-lg-9 px-6">
                <h3 class="fw-bold fs-lg-3 fs-4">01 線上訂購</h3>
                <p class="mb-3">
                  可在線上商城完成所有餐點購買，若購買混都歡迎來電詢問
                </p>
                <div class="d-flex align-items-center mb-1">
                  <span class="material-symbols-rounded me-2"> schedule </span>
                  08:30～17:30
                </div>
                <div class="d-flex align-items-center">
                  <span class="material-symbols-rounded me-2"> call </span>
                  02-6637-5712
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 mb-lg-0 mb-8 item"
            data-aos="fade-up"
            data-aos-duration="1700"
          >
            <div class="d-flex flex-column align-items-center">
              <img
                src="../assets/images/other/追蹤配送.svg"
                alt="illustration"
                class="mb-6"
              />
              <div class="px-lg-9 px-6">
                <h3 class="fw-bold fs-lg-3 fs-4">02 追蹤配送</h3>
                <p class="mb-3">
                  請關注料理的配送狀態，避免忘記取餐的情況，或到約定的時間及地點取餐。
                </p>
                <div class="d-flex align-items-center mb-1">
                  <span class="material-symbols-rounded me-2"> info </span>
                  冷送餐點約3~5天內快速到貨
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 item"
            data-aos="fade-up"
            data-aos-duration="1900"
          >
            <div class="d-flex flex-column align-items-center">
              <img
                src="../assets/images/other/輕鬆享用.svg"
                alt="illustration"
                class="mb-6"
              />
              <div class="px-lg-9 px-6">
                <h3 class="fw-bold fs-lg-3 fs-4">03 輕鬆享用</h3>
                <p class="mb-3">
                  除了熱送的機能餐盒與客製照護餐可直接享用，其他料理皆經過簡單輕鬆的加熱或烹調即可上桌。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="py-lg-9 py-6">
      <div class="container">
        <div class="mb-lg-8 mb-6">
          <div class="fw-bold text-black fs-lg-1 fs-3 mb-lg-2">
            彈性配送，貼心服務
          </div>
          <p class="fs-lg-3 fs-5">配送方式說明</p>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-lg-0 mb-6" data-aos="fade-up"
          data-aos-anchor-placement="top-center" data-aos-duration="1000">
            <div class="d-flex flex-lg-row flex-column">
              <img
                src="../assets/images/other/deliver-1.png"
                alt="deliver"
                class="me-lg-6 mb-lg-0 mb-2"
              />
              <div class="d-flex flex-column justify-content-lg-between">
                <div class="mb-lg-0 mb-4">
                  <div
                    class="d-flex justify-content-between align-items-center mb-2"
                  >
                    <h3 class="fw-bold fs-lg-3 fs-4">熱食配送</h3>
                    <p class="fw-bold text-primary">週一~週日供餐</p>
                  </div>
                  <p>
                    因應疫情，將原先環保餐具改為天然紙漿碗、內層為220℃的PET模。每天現做熱送，一日三餐最多可兩次配送。
                  </p>
                </div>
                <div>
                  <span class="badge badge-secondary rounded-pill fw-bold">北北基桃</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up"
          data-aos-anchor-placement="top-center" data-aos-duration="1000">
            <div class="d-flex flex-lg-row flex-column">
              <img
                src="../assets/images/other/deliver-2.png"
                alt="deliver"
                class="me-lg-6 mb-lg-0 mb-2"
              />
              <div class="d-flex flex-column justify-content-between">
                <div class="mb-lg-0 mb-4">
                  <div
                    class="d-flex justify-content-between align-items-center mb-2"
                  >
                    <h3 class="fw-bold fs-lg-3 fs-4">冷藏宅配</h3>
                    <p class="fw-bold text-primary">週二～週六供餐</p>
                  </div>
                  <p>
                    使用天然紙漿碗、內層為220℃PET模 ，電鍋微波加熱都安心。使用急速冷卻機，鎖住原味與營養，今天做明天到。
                  </p>
                </div>
                <div>
                  <span class="badge badge-secondary rounded-pill fw-bold">全台灣</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/cta-mall') -%>
    <%- include('./layout/footer') -%> <%-
    include('./layout/body_bottom') -%>
  </body>
</html>
