<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>

    <main
      class="product-customize-page-title d-flex flex-column justify-content-center"
    >
      <div class="container">
        <h1 class="fw-bold text-white mb-lg-4 fs-lg-1 fs-3">客制照護餐</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-white fs-lg-6 fs-7 mb-0">
            <li class="breadcrumb-item">首頁</li>
            <li class="breadcrumb-item">好料報你知</li>
            <li class="breadcrumb-item" aria-current="page">客制照護餐</li>
          </ol>
        </nav>
      </div>
    </main>

    <section class="product-customize mb-10 position-relative">
      <div id="tabs" class="overflow-hidden">
        <!-- tabs-lg -->
        <ul class="nav-lg nav nav-tabs border-0 d-flex align-items-center">
          <li class="nav-item w-50">
            <a
              class="nav-link active text-center fw-bold py-4 fs-lg-3 fs-4"
              aria-current="page"
              href="#surgery"
            >
              術後照護餐
            </a>
          </li>
          <li class="nav-item w-50">
            <a
              class="nav-link text-center fw-bold py-4 fs-lg-3 fs-4"
              aria-current="page"
              href="#Chemotherapy"
            >
              化療照護餐
            </a>
          </li>
        </ul>

        <!-- page surgery -->
        <div id="surgery" class="py-lg-9 py-6">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-11 mx-auto">
                <div
                  class="foreword d-flex align-items-center justify-content-center p-lg-6 p-4 border border-primary"
                >
                  <img
                    src="../assets/images/product/illustration-1.svg"
                    alt="illustration"
                  />
                  <div class="d-flex flex-column align-items-center">
                    <title
                      class="text-black fw-bold fs-4 d-lg-block mb-2 d-none"
                    >
                      治療期間，約有80%的病患會發生營養不良的狀況
                    </title>
                    <p class="mb-8 d-lg-block d-none text-center">
                      缺乏正確的營養介入，不只造成體力下滑影響生活品質，<br />嚴重甚至必須得中斷治療。
                    </p>
                    <h3
                      class="fw-bold fs-lg-3 fs-5 text-primary d-flex align-items-center"
                    >
                      吃得正確，治療有力氣，日常有活力
                    </h3>
                  </div>
                </div>
              </div>
              <div
                class="steps col-lg-10 col-11 mx-auto d-flex flex-lg-row flex-column-reverse py-lg-10 py-8"
              >
                <img
                  src="../assets/images/product/illustration-2.svg"
                  alt="illustration"
                  class="d-lg-none d-block mx-auto"
                />
                <ol class="mb-lg-0 mb-8">
                  <li class="mb-lg-8 mb-6">
                    <div class="fw-bold fs-lg-1 fs-3 text-primary">01</div>
                    <div class="text-black fw-bold fs-lg-3 fs-5">
                      專業營養諮詢
                    </div>
                    <p>
                      提供表單讓客戶諮詢營養師餐點相關提問，並提供餐點購買選擇。
                    </p>
                  </li>
                  <li class="mb-lg-8 mb-6">
                    <div class="fw-bold fs-lg-1 fs-3 text-primary">02</div>
                    <div class="text-black fw-bold fs-lg-3 fs-5">
                      營養餐食規劃
                    </div>
                    <p>
                      依據不同需求，設計合適的餐點，讓正確的營養加速您的療程。
                    </p>
                  </li>
                  <li>
                    <div class="fw-bold fs-lg-1 fs-3 text-primary">03</div>
                    <div class="text-black fw-bold fs-lg-3 fs-5">
                      定期追蹤與關心
                    </div>
                    <p>
                      服務期間，定期關心用餐狀況，並根據用餐回饋適時調整菜色
                    </p>
                  </li>
                </ol>
                <div
                  class="d-flex flex-column align-items-center justify-content-between"
                >
                  <div class="text-center">
                    <div class="text-black fw-bold fs-lg-1 fs-4 mb-lg-4 mb-0">
                      營養需求，量身打造
                    </div>
                    <p class="fs-lg-3">客製照護餐的三大流程</p>
                  </div>
                  <img
                    src="../assets/images/product/illustration-2.svg"
                    alt="illustration"
                    class="d-lg-block d-none"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="custom-menu py-lg-9 py-7">
            <div class="container">
              <div class="row">
                <div class="col-lg-10 mx-auto">
                  <div class="d-flex flex-column align-items-center">
                    <div class="text-black fw-bold fs-lg-1 fs-4 mb-lg-4 mb-0">
                      怎麼吃？我們幫你處理！
                    </div>
                    <p class="fs-lg-3 mb-6">術後照護餐介紹</p>
                    <div id="tabs">
                      <!-- custom menu tabs -->
                      <div class="d-flex justify-content-center mb-lg-7 mb-6">
                        <ul class="nav nav-tabs">
                          <li class="nav-item fs-lg-5 fs-6">
                            <a
                              class="nav-link active d-flex align-items-center px-lg-6 px-5 py-3"
                              aria-current="page"
                              href="#surgery-menu-1"
                            >
                              膽囊切除
                            </a>
                          </li>
                          <li class="nav-item fs-lg-5 fs-6">
                            <a
                              class="nav-link d-flex align-items-center px-lg-6 px-5 py-3"
                              href="#surgery-menu-2"
                              >婦科術後</a
                            >
                          </li>
                          <li class="nav-item fs-lg-5 fs-6">
                            <a
                              class="nav-link d-flex align-items-center px-lg-6 px-5 py-3"
                              href="#surgery-menu-3"
                              >人工關節置換</a
                            >
                          </li>
                        </ul>
                      </div>

                      <!-- custom product -->
                      <div id="surgery-menu-1">
                        <div class="pic-box overflow-hidden mb-4 position-relative">
                          <img
                            src="../assets/images/product/custom01-d.png"
                            alt="product"
                          />
                        </div>
                        <ul class="pros d-flex flex-lg-row flex-column">
                          <li
                            class="d-flex align-items-start me-lg-8 mb-lg-0 mb-3"
                          >
                            <div class="d-flex flex-column">
                              <div class="fw-bold fs-lg-4 fs-5">
                                漸進式油脂量調整
                              </div>
                              <div class="fs-lg-5 fs-6">避免術後腹瀉不適</div>
                            </div>
                          </li>
                          <li
                            class="d-flex align-items-start me-lg-8 mb-lg-0 mb-3"
                          >
                            <div class="d-flex flex-column">
                              <div class="fw-bold fs-lg-4 fs-5">
                                漸進式油脂量調整
                              </div>
                              <div class="fs-lg-5 fs-6">避免術後腹瀉不適</div>
                            </div>
                          </li>
                          <li
                            class="d-flex align-items-start me-lg-8 mb-lg-0 mb-3"
                          >
                            <div class="d-flex flex-column">
                              <div class="fw-bold fs-lg-4 fs-5">
                                漸進式油脂量調整
                              </div>
                              <div class="fs-lg-5 fs-6">避免術後腹瀉不適</div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="row" id="surgery-menu-2"></div>
                      <div class="row" id="surgery-menu-3"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="Chemotherapy"></div>
      </div>
    </section>

    <%- include('./layout/footer') -%> <%- include('./layout/body_bottom') -%>
  </body>
</html>
