<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>
  <main class="productInfo pt-lg-4 pt-11 pb-lg-9 pb-7 position-relative">      
    <div class="container">
      <nav aria-label="breadcrumb" class="mb-lg-6 mb-4 fs-lg-5 fs-6">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="#">首頁</a></li>
          <li class="breadcrumb-item"><a href="#">線上買好料</a></li>
          <li class="breadcrumb-item"><a href="#">全部商品</a></li>
          <li class="breadcrumb-item"><a href="#"> 化療照護餐01</a></li>
        </ol>
      </nav>
      <div class="row">
        <div class="col-lg-7">
          <img src="../assets/images/shopping/custom01-m.png" alt="product" class="rounded">
        </div>
        <div class="col-lg-5">
          <div class="d-flex align-items-center justify-content-between mb-lg-6 mb-4">
            <div>
              <h3 class="fw-bold fs-lg-3 fs-4">
                化療照護餐01
              </h3>
              <p class="text-primary fs-lg-4">
                婦科癌症適用
              </p>
            </div>
            <button class="btn btn-outline-dark d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#productAdjust">
              客製餐點
              <span class="material-symbols-rounded ms-2"> discover_tune </span>
            </button>
          </div>
          <form action="#" class="mb-6">
            <div class="mb-3 row bg-white rounded">
              <label for="staticEmail" class="col-2 col-form-label fw-bold">主食</label>
              <div class="col-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="白米飯">
              </div>
            </div>
            <div class="mb-3 row bg-white rounded">
              <label for="staticEmail" class="col-2 col-form-label fw-bold">主餐</label>
              <div class="col-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="椒鹽雞腿排">
              </div>
            </div>
            <div class="mb-3 row bg-white rounded">
              <label for="staticEmail" class="col-2 col-form-label fw-bold">配菜</label>
              <div class="col-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="清炒花椰菜 / 蒜香四季豆 / 柴魚風味蒸蛋">
              </div>
            </div>
            <div class="mb-3 row bg-white rounded">
              <label for="staticEmail" class="col-2 col-form-label fw-bold">湯品</label>
              <div class="col-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="薑絲蛤蠣湯">
              </div>
            </div>
            <div class="mb-3 row bg-white rounded">
              <label for="staticEmail" class="col-2 col-form-label fw-bold">水果</label>
              <div class="col-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="燕巢芭樂">
              </div>
            </div>
            <div class="mb-3 row bg-white rounded">
              <div class="col-12 col-form-label">
                <label for="note" class=" fw-bold">備註</label>
                  <textarea class="form-control" placeholder="新增備註" id="note" rows="2"></textarea>
              </div>
              </div>
          </form>
          <div class="d-flex align-items-center justify-content-between mb-6">
            <div class="incrementer">
              <input type="number" value="0" min="0" max="100" step="1"/>
            </div>
            <h3 class="fw-bold d-flex align-items-center">
              <p class="fs-5 me-2">單價</p>
              NT$350
            </h3>
          </div>
          <button class="btn btn-primary d-flex align-items-center text-nowrap ms-auto">
            加入購物車
            <span class="material-symbols-rounded ms-2"> shopping_cart </span>
          </button>
        </div>
      </div>

    </div>



    <!-- productAdjust Modal -->
    <div class="modal fade" id="productAdjust" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">客製選項</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>
</main>

    <%- include('./layout/footer') -%> <%- include('./layout/body_bottom') -%>
  </body>
</html>
