<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>
  <main class="shoppingBag pt-4 pb-lg-9 pb-7">      
    <div class="container">
      <nav aria-label="breadcrumb" class="mb-lg-6 mb-4 fs-lg-5 fs-6">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="#">首頁</a></li>
          <li class="breadcrumb-item"><a href="#">購物袋</a></li>
          <li class="breadcrumb-item"><a href="#">購物袋</a></li>
        </ol>
      </nav>
      <div class="d-flex flex-lg-row flex-column align-items-center justify-content-between mb-lg-6 mb-4">
        <h3 class="fw-bold mb-lg-0 mb-4 align-self-start">購物袋</h3>
        <div class="wizard d-flex align-items-center">
          <div class="d-flex flex-lg-row flex-column align-items-center active">
            <h3 class="fw-bold rounded-circle me-lg-1 mb-lg-0 mb-1 text-center">
              1
            </h3>
            購物袋
          </div>
          <span class="material-symbols-rounded mx-2"> east </span>
          <div class="d-flex flex-lg-row flex-column  align-items-center">
            <h3 class="fw-bold rounded-circle me-lg-1 mb-lg-0 mb-1 text-center ">
              2
            </h3>
            填寫資料
          </div>
          <span class="material-symbols-rounded mx-2"> east </span>
          <div class="d-flex flex-lg-row flex-column  align-items-center">
            <h3 class="fw-bold rounded-circle me-lg-1 mb-lg-0 mb-1 text-center ">
              3
            </h3>
            完成訂單
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9 me-auto">
          <div class="rounded border bg-white overflow-hidden">
            <table class="table table-borderless table-hover mb-6">
              <thead>
                <tr>
                  <th scope="col" colspan="4" class="pb-0">
                    <p class="deliver px-4 text-primary">
                      熱食配送
                    </p>
                  </th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th scope="col" colspan="2">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-borderless table-hover">
              <thead>
                <tr>
                  <th scope="col" colspan="4" class="pb-0">
                    <p class="deliver px-4 text-primary">
                      冷藏配送
                    </p>
                  </th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th scope="col" colspan="2">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
</main>







    <%- include('./layout/recommend') -%> 
    <%- include('./layout/footer') -%> 
    <%- include('./layout/body_bottom') -%>
  </body>
</html>
