<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>
  <div class="mall pt-lg-4 pt-11 pb-9 position-relative" id="tabs">      
    <div class="container">
      <div class="sidebar position-absolute mb-lg-0 mb-5">
        <ul class="nav nav-tabs border-0 d-flex flex-lg-column justify-content-lg-start justify-content-between">
          <li class="nav-item fs-lg-5 fs-6">
            <a
              class="nav-link border-0 active d-flex align-items-center justify-content-lg-start justify-content-center px-lg-0 px-5 py-3"
              aria-current="page"
              href="#allProduct"
            >
            全部商品
            </a>
          </li>
          <li class="nav-item fs-lg-5 fs-6">
            <a
              class="nav-link border-0 d-flex align-items-center justify-content-lg-start justify-content-center px-lg-0 px-5 py-3"
              href="#custom"
              >客製照護餐</a
            >
          </li>
          <li class="nav-item fs-lg-5 fs-6">
            <a
              class="nav-link border-0 d-flex align-items-center justify-content-lg-start justify-content-center px-lg-0 px-5 py-3"
              href="#protein"
              >高蛋白燉飲</a
            >
          </li>
          <li class="nav-item fs-lg-5 fs-6">
            <a
              class="nav-link border-0 d-flex align-items-center justify-content-lg-start justify-content-center px-lg-0 px-5 py-3"
              href="#lunchBox"
              >機能調理餐</a
            >
          </li>
        </ul>
        <hr class="my-6 d-lg-block d-none">
        <div class="d-lg-block d-none">
          <h5 class="fw-bold mb-4">依價格選購</h5>
          <form action="#">
            <div class="mb-3 form-check d-flex align-items-center">
              <input type="checkbox" class="form-check-input me-2" id="100-200">
              <label class="form-check-label" for="100-200">$100-$200</label>
            </div>
            <div class="mb-3 form-check d-flex align-items-center">
              <input type="checkbox" class="form-check-input me-2" id="200-300">
              <label class="form-check-label" for="200-300">$200-$300</label>
            </div>
            <div class="mb-3 form-check d-flex align-items-center">
              <input type="checkbox" class="form-check-input me-2" id="300-400">
              <label class="form-check-label" for="300-400">$300-$400</label>
            </div>
            <div class="mb-3 form-check d-flex align-items-center">
              <input type="checkbox" class="form-check-input me-2" id="400up">
              <label class="form-check-label" for="400up">$400以上</label>
            </div>
          </form>
        </div>
      </div>

          <!-- 全部商品 -->
          <div id="allProduct">
            <nav aria-label="breadcrumb" class="mb-lg-6 mb-4 fs-lg-5 fs-6">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="#">首頁</a></li>
                <li class="breadcrumb-item"><a href="#">線上買好料</a></li>
                <li class="breadcrumb-item"><a href="#">全部商品</a></li>
              </ol>
            </nav>
            <div class="row">
              <div class="col-lg-10 ms-auto">
                <div class="pagetitle mb-lg-7 mb-6 d-flex justify-content-between align-items-center">
                  <h3 class="fw-bold fs-lg-3 fs-4">全部商品</h3>
                  <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="productSorting" data-bs-toggle="dropdown" aria-expanded="false">
                      商品排序
                    </button>
                    <ul class="dropdown-menu border-light" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">上架由新到舊</a></li>
                      <li><a class="dropdown-item" href="#">上架由舊到新</a></li>
                      <li><a class="dropdown-item" href="#">價格由低到高</a></li>
                      <li><a class="dropdown-item" href="#">價格由高到低</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 客製照護餐 -->
          <div id="custom">
            <nav aria-label="breadcrumb" class="mb-lg-6 mb-4 fs-lg-5 fs-6">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                <li class="breadcrumb-item"><a href="#">線上買好料</a></li>
                <li class="breadcrumb-item"><a href="#">客製照護餐</a></li>
              </ol>
            </nav>
            <div class="row">
              <div class="col-lg-10 ms-auto">
                <div class="pagetitle mb-lg-7 mb-6 d-flex justify-content-between align-items-center">
                  <h3 class="fw-bold fs-lg-3 fs-4">客製照護餐</h3>
                  <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="productSorting" data-bs-toggle="dropdown" aria-expanded="false">
                      商品排序
                    </button>
                    <ul class="dropdown-menu border-light" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">上架由新到舊</a></li>
                      <li><a class="dropdown-item" href="#">上架由舊到新</a></li>
                      <li><a class="dropdown-item" href="#">價格由低到高</a></li>
                      <li><a class="dropdown-item" href="#">價格由高到低</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 高蛋白燉飲 -->
          <div id="protein">
            <nav aria-label="breadcrumb" class="mb-lg-6 mb-4 fs-lg-5 fs-6">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                <li class="breadcrumb-item"><a href="#">線上買好料</a></li>
                <li class="breadcrumb-item"><a href="#">高蛋白燉飲</a></li>
              </ol>
            </nav>
            <div class="row">
              <div class="col-lg-10 ms-auto">     
                <div class="pagetitle mb-lg-7 mb-6 d-flex justify-content-between align-items-center">
                  <h3 class="fw-bold fs-lg-3 fs-4">高蛋白燉飲</h3>
                  <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="productSorting" data-bs-toggle="dropdown" aria-expanded="false">
                      商品排序
                    </button>
                    <ul class="dropdown-menu border-light" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">上架由新到舊</a></li>
                      <li><a class="dropdown-item" href="#">上架由舊到新</a></li>
                      <li><a class="dropdown-item" href="#">價格由低到高</a></li>
                      <li><a class="dropdown-item" href="#">價格由高到低</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 機能調理餐 -->
          <div id="lunchBox">
            <nav aria-label="breadcrumb" class="mb-lg-6 mb-4 fs-lg-5 fs-6">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                <li class="breadcrumb-item"><a href="#">線上買好料</a></li>
                <li class="breadcrumb-item"><a href="#">機能調理餐</a></li>
              </ol>
            </nav>
            <div class="row">
              <div class="col-lg-10 ms-auto">     
                <div class="pagetitle mb-lg-7 mb-6 d-flex justify-content-between align-items-center">
                  <h3 class="fw-bold fs-lg-3 fs-4">機能調理餐</h3>
                  <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="productSorting" data-bs-toggle="dropdown" aria-expanded="false">
                      商品排序
                    </button>
                    <ul class="dropdown-menu border-light" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">上架由新到舊</a></li>
                      <li><a class="dropdown-item" href="#">上架由舊到新</a></li>
                      <li><a class="dropdown-item" href="#">價格由低到高</a></li>
                      <li><a class="dropdown-item" href="#">價格由高到低</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>


  <!-- reset password modal -->
  <div
    class="modal fade"
    id="setNewPassword"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">設定新密碼</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="mb-3">
              <label for="oldPassword" class="form-label d-flex">舊密碼
                <span class="text-danger ms-1">*</span>
              </label>
              <input type="text" class="form-control" id="oldPassword" placeholder="請輸入舊密碼">
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label d-flex">新密碼
                <span class="text-danger ms-1">*</span>
              </label>
              <input type="password" class="form-control" id="newPassword" placeholder="請輸入新密碼(至少8個字元)">
            </div>
            <div class="mb-3">
              <label for="confirmNewPassword" class="form-label d-flex">新密碼
                <span class="text-danger ms-1">*</span>
              </label>
              <input type="password" class="form-control" id="confirmNewPassword" placeholder="請再次輸入新密碼">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            data-bs-dismiss="modal"
          >
            取消
          </button>
          <button type="button" class="btn btn-primary d-block">更新</button>
        </div>
      </div>
    </div>
  </div>

  <!-- add credit card modal -->
  <div
  class="modal fade"
  id="addCreditCard"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog  modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCreditCard">新增信用卡</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="hints rounded p-4 mb-6 rounded">
          <div class="fw-bold text-success">
            您的信用卡資訊將會被嚴格保護。
          </div>
          <p class="text-light">
            照料理並不會留存您的信用卡完整資訊，合作服務商符合PCI-DSS國際安全認證，致力提供安全且便捷的交易環境。
          </p>
        </div>
        <h4 class="fw-bold mb-3">
          卡片詳情
        </h4>
        <form action="#" class="mb-7 border rounded p-4">
          <div class="mb-3">
            <label for="cardNum" class="form-label">信用卡號碼</label>
            <input type="text" class="form-control" id="cardNum" aria-describedby="emailHelp" placeholder="請輸入信用卡號">
          </div>
          <div class="d-flex flex-lg-row flex-column mb-3">
            <div class=" me-lg-2 mb-lg-0 mb-3 w-lg-50 w-100">
              <label for="cardDate" class="form-label">卡片到期日</label>
              <input type="text" class="form-control" id="cardDate" aria-describedby="emailHelp" placeholder="請輸入到期日(MM/YY)">
            </div>
            <div class="w-lg-50 w-100">
              <label for="cardVerification" class="form-label">驗證碼</label>
              <input type="text" class="form-control" id="cardVerification" aria-describedby="emailHelp" placeholder="請輸入安全驗證碼">
            </div>
          </div>
          <div>
            <label for="cardName" class="form-label">持卡者姓名</label>
            <input type="text" class="form-control" id="cardName" aria-describedby="emailHelp" placeholder="請輸入持卡者姓名">
          </div>
        </form>
        <h4 class="fw-bold mb-3">
          帳單地址
        </h4>
        <form action="#" class="mb-7 border rounded p-4">
          <div class="mb-3">
            <label for="billAddress" class="form-label">帳單地址</label>
            <input type="text" class="form-control" id="billAddress" aria-describedby="emailHelp" placeholder="請輸入信用卡帳單地址">
          </div>
          <div>
            <label for="Postal code" class="form-label">郵遞區號</label>
            <input type="text" class="form-control" id="Postal code" aria-describedby="emailHelp" placeholder="請輸入郵遞區號">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-dismiss="modal"
        >
          取消
        </button>
        <button type="button" class="btn btn-primary">新增</button>
      </div>
    </div>
  </div>
  </div>

  <!-- add address modal -->
  <div
  class="modal fade"
  id="addAddress"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAddress">新增地址</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="mb-3">
            <label for="noteName" class="form-label">標註名稱</label>
            <input type="text" class="form-control" id="noteName" aria-describedby="emailHelp" placeholder="請輸入標注名稱">
          </div>
          <div class="d-flex flex-lg-row flex-column mb-3">
            <div class="me-lg-2 mb-lg-0 mb-3 w-lg-50 w-100">
              <label for="county" class="form-label">縣市</label>
              <select class="form-select" aria-label="Default select example" id="county">
                <option selected>請選擇縣市</option>
                <option value="1">台北市</option>
                <option value="2">新北市</option>
                <option value="3">桃園市</option>
              </select>
            </div>
            <div class="w-lg-50 w-100">
              <label for="district" class="form-label">區域</label>
              <select class="form-select" aria-label="Default select example" id="district">
                <option selected>請選擇區域</option>
                <option value="1">新店區</option>
                <option value="2">大安區</option>
                <option value="3">中正區</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="street" class="form-label">地址</label>
            <input type="text" class="form-control" id="street" aria-describedby="emailHelp" placeholder="請輸入完整地址">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-dismiss="modal"
        >
          取消
        </button>
        <button type="button" class="btn btn-primary">新增</button>
      </div>
    </div>
  </div>
  </div>

  <!-- View Order modal -->
  <div
  class="modal fade"
  id="viewOrder"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAddress">訂單明細</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-between">
          <div class="fw-bold text-primary">
            編號：A123456789
          </div>
          2023/04/05
        </div>
        <ul>
          <li class="py-4 px-lg-4 px-2 border-bottom d-flex flex-lg-row flex-column justify-content-between align-items-lg-center">
            <div class="d-flex flex-column mb-lg-0 mb-4">
              <p class="fw-bold ">化療照護餐01</p>
              <p class=" mb-2">紫米飯/三杯雞/清炒高麗菜/金沙四季豆/柴魚蒸蛋/蘿蔔排骨/燕巢芭樂</p>
              <p class="fs-6 text-light">備註：不要加香菜</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <p class=" me-lg-6">1份</p>
              <p class="">NT$350</p>
            </div>
          </li>
          <li class="py-4 px-lg-4 px-2 border-bottom d-flex flex-lg-row flex-column justify-content-between align-items-lg-center">
            <div class="d-flex flex-column mb-lg-0 mb-4">
              <p class="fw-bold ">化療照護餐01</p>
              <p class=" mb-2">紫米飯/三杯雞/清炒高麗菜/金沙四季豆/柴魚蒸蛋/蘿蔔排骨/燕巢芭樂</p>
              <p class="fs-6 text-light">備註：不要加香菜</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <p class=" me-lg-6">1份</p>
              <p class="">NT$350</p>
            </div>
          </li>
          <li class="py-4 px-lg-4 px-2 border-bottom d-flex flex-lg-row flex-column justify-content-between align-items-lg-center">
            <div class="d-flex flex-column mb-lg-0 mb-4">
              <p class="fw-bold ">苷醇雙雞燉飲</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <p class=" me-lg-6">1份</p>
              <p class="">NT$350</p>
            </div>
          </li>            
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-dismiss="modal"
        >
          關閉
        </button>
      </div>
    </div>
  </div>
  </div>

  <!-- Write Comment modal -->
  <div
  class="modal fade"
  id="writeComment"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAddress">餐點評分</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-between">
          <div class="fw-bold text-primary">
            編號：A123456789
          </div>
          2023/04/05
        </div>
        <ul>
          <li class="py-4 px-lg-4 px-2 border-bottom">
            <div class="d-flex flex-lg-row flex-column justify-content-between align-items-lg-center mb-2">
              <div class="d-flex flex-column mb-lg-0 mb-4">
                <p class="fw-bold ">化療照護餐01</p>
                <p class=" mb-2">紫米飯/三杯雞/清炒高麗菜/金沙四季豆/柴魚蒸蛋/蘿蔔排骨/燕巢芭樂</p>
                <p class="fs-6 text-light">備註：不要加香菜</p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p class=" me-lg-6">1份</p>
                <p class="">NT$350</p>
              </div>
            </div>
              <div class="d-flex align-items-center mb-2">
                <span class="material-symbols-rounded text-warning"> star </span>
                <span class="material-symbols-rounded text-warning"> star </span>
                <span class="material-symbols-rounded text-warning"> star </span>
                <span class="material-symbols-rounded text-warning"> star </span>
                <span class="material-symbols-rounded text-warning"> star </span>
              </div>
              <textarea class="form-control" placeholder="告訴我們你的用餐心得吧！"></textarea>
          </li>
          <li class="py-4 px-lg-4 px-2 border-bottom">
            <div class="d-flex flex-lg-row flex-column justify-content-between align-items-lg-center mb-2">
              <div class="d-flex flex-column mb-lg-0 mb-4">
                <p class="fw-bold ">化療照護餐01</p>
                <p class=" mb-2">紫米飯/三杯雞/清炒高麗菜/金沙四季豆/柴魚蒸蛋/蘿蔔排骨/燕巢芭樂</p>
                <p class="fs-6 text-light">備註：不要加香菜</p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p class=" me-lg-6">1份</p>
                <p class="">NT$350</p>
              </div>
            </div>
              <div class="d-flex align-items-center mb-2">
                <span class="material-symbols-rounded text-warning"> star </span>
                <span class="material-symbols-rounded text-warning"> star </span>
                <span class="material-symbols-rounded text-warning"> star </span>
                <span class="material-symbols-rounded text-light"> star </span>
                <span class="material-symbols-rounded text-light"> star </span>
              </div>
              <textarea class="form-control" placeholder="告訴我們你的用餐心得吧！"></textarea>
          </li>
          <li class="py-4 px-lg-4 px-2 border-bottom">
            <div class="d-flex flex-lg-row flex-column justify-content-between align-items-lg-center mb-2">
              <div class="d-flex flex-column mb-lg-0 mb-4">
                <p class="fw-bold ">苷醇雙雞燉飲</p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p class=" me-lg-6">1份</p>
                <p class="">NT$350</p>
              </div>
            </div>
              <div class="d-flex align-items-center mb-2">
                <span class="material-symbols-rounded text-warning"> star </span>
                <span class="material-symbols-rounded text-warning"> star </span>
                <span class="material-symbols-rounded text-warning"> star </span>
                <span class="material-symbols-rounded text-light"> star </span>
                <span class="material-symbols-rounded text-light"> star </span>
              </div>
              <textarea class="form-control" placeholder="告訴我們你的用餐心得吧！"></textarea>
          </li>            
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-dismiss="modal"
        >
          關閉
        </button>
        <button
        type="button"
        class="btn btn-primary"
        data-bs-dismiss="modal"
      >
        儲存
      </button>
      </div>
    </div>
  </div>
  </div>
</div>

    <%- include('./layout/footer') -%> <%- include('./layout/body_bottom') -%>
  </body>
</html>
