<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>
  <div class="mall pt-lg-4 pt-11 pb-9 position-relative" id="tabs">      
    <div class="container">
      <div class="sidebar position-absolute mb-lg-0 mb-5">
        <ul class="nav nav-tabs border-0 d-flex flex-lg-column justify-content-lg-start justify-content-evenly">
          <li class="nav-item fs-lg-5 fs-6">
            <a
              class="nav-link border-0 active d-flex align-items-center justify-content-lg-start justify-content-center px-lg-0 px-5 py-3"
              aria-current="page"
              href="#allProduct"
            >
            全部商品
            </a>
          </li>
          <li class="nav-item fs-lg-5 fs-6">
            <a
              class="nav-link border-0 d-flex align-items-center justify-content-lg-start justify-content-center px-lg-0 px-5 py-3"
              href="#custom"
              >客製照護餐</a
            >
          </li>
          <li class="nav-item fs-lg-5 fs-6">
            <a
              class="nav-link border-0 d-flex align-items-center justify-content-lg-start justify-content-center px-lg-0 px-5 py-3"
              href="#protein"
              >高蛋白燉飲</a
            >
          </li>
          <li class="nav-item fs-lg-5 fs-6">
            <a
              class="nav-link border-0 d-flex align-items-center justify-content-lg-start justify-content-center px-lg-0 px-5 py-3"
              href="#lunchBox"
              >機能調理餐</a
            >
          </li>
        </ul>
        <hr class="my-6 d-lg-block d-none">
        <div class="d-lg-block d-none">
          <h5 class="fw-bold mb-4">依價格選購</h5>
          <form action="#">
            <div class="mb-3 form-check d-flex align-items-center">
              <input type="checkbox" class="form-check-input me-2" id="100-200">
              <label class="form-check-label" for="100-200">$100-$200</label>
            </div>
            <div class="mb-3 form-check d-flex align-items-center">
              <input type="checkbox" class="form-check-input me-2" id="200-300">
              <label class="form-check-label" for="200-300">$200-$300</label>
            </div>
            <div class="mb-3 form-check d-flex align-items-center">
              <input type="checkbox" class="form-check-input me-2" id="300-400">
              <label class="form-check-label" for="300-400">$300-$400</label>
            </div>
            <div class="mb-3 form-check d-flex align-items-center">
              <input type="checkbox" class="form-check-input me-2" id="400up">
              <label class="form-check-label" for="400up">$400以上</label>
            </div>
          </form>
        </div>
      </div>

          <!-- 全部商品 -->
          <div id="allProduct">
            <nav aria-label="breadcrumb" class="mb-lg-6 mb-4 fs-lg-5 fs-6">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="#">首頁</a></li>
                <li class="breadcrumb-item"><a href="#">線上買好料</a></li>
                <li class="breadcrumb-item"><a href="#">全部商品</a></li>
              </ol>
            </nav>
            <div class="row">
              <div class="col-lg-10 ms-auto">
                <div class="pagetitle mb-lg-7 mb-6 d-flex justify-content-between align-items-center">
                  <h3 class="fw-bold fs-lg-3 fs-4">全部商品</h3>
                  <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="productSorting" data-bs-toggle="dropdown" aria-expanded="false">
                      商品排序
                    </button>
                    <ul class="dropdown-menu border-light" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">上架由新到舊</a></li>
                      <li><a class="dropdown-item" href="#">上架由舊到新</a></li>
                      <li><a class="dropdown-item" href="#">價格由低到高</a></li>
                      <li><a class="dropdown-item" href="#">價格由高到低</a></li>
                    </ul>
                  </div>
                </div>
                <div class="row gx-lg-5 gx-3">
                  <div class="col-md-4 col-6 mb-lg-7 mb-6">
                    <a href="#" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/custom01-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap"  data-bs-toggle="modal" data-bs-target="#customModal">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">術後照護餐01</h5>
                          <div class="badge badge-secondary">
                            膽囊切除
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 col-6 mb-lg-7 mb-6">
                    <a href="#" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/soup02-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap" data-bs-toggle="modal" data-bs-target="#otherModal">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">高蛋白燉飲02</h5>
                          <div class="badge badge-secondary">
                            苷醇牛犇
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 col-6 mb-lg-7 mb-6">
                    <a href="shopping_customInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/custom03-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap" data-bs-toggle="modal" data-bs-target="#customModal">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">術後照護餐03</h5>
                          <div class="badge badge-secondary">
                            人工關節換置
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 col-6 mb-lg-7 mb-6">
                    <a href="shopping_customInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/custom04-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap" data-bs-toggle="modal" data-bs-target="#customModal">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">化療照護餐01</h5>
                          <div class="badge badge-secondary">
                            乳癌適用
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 col-6 mb-lg-7 mb-6">
                    <a href="shopping_otherInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/lunch03-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap" data-bs-toggle="modal" data-bs-target="#otherModal">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">機能調理餐03</h5>
                          <div class="badge badge-secondary">
                            多多好蛋白
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 col-6 mb-lg-7 mb-6">
                    <a href="shopping_otherInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/lunch02-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap" data-bs-toggle="modal" data-bs-target="#otherModal">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">機能調理餐02</h5>
                          <div class="badge badge-secondary">
                            均衡好食多
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 col-6 mb-lg-7 mb-6">
                    <a href="shopping_otherInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/soup01-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap" data-bs-toggle="modal" data-bs-target="#otherModal">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">高蛋白燉飲01</h5>
                          <div class="badge badge-secondary">
                            苷醇雙雞
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 col-6 mb-lg-7 mb-6">
                    <a href="shopping_otherInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/lunch01-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap" data-bs-toggle="modal" data-bs-target="#otherModal">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">機能調理餐01</h5>
                          <div class="badge badge-secondary">
                            低糖好新纖
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 col-6 mb-lg-7 mb-6">
                    <a href="shopping_customInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/custom05-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap" data-bs-toggle="modal" data-bs-target="#customModal">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">化療照護餐02</h5>
                          <div class="badge badge-secondary">
                            肺癌適用
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                </div>
                <%- include('./layout/table-pagination') -%>
              </div>
            </div>
          </div>

          <!-- 客製照護餐 -->
          <div id="custom">
            <nav aria-label="breadcrumb" class="mb-lg-6 mb-4 fs-lg-5 fs-6">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                <li class="breadcrumb-item"><a href="#">線上買好料</a></li>
                <li class="breadcrumb-item"><a href="#">客製照護餐</a></li>
              </ol>
            </nav>
            <div class="row">
              <div class="col-lg-10 ms-auto">
                <div class="pagetitle mb-lg-7 mb-6 d-flex justify-content-between align-items-center">
                  <h3 class="fw-bold fs-lg-3 fs-4">客製照護餐</h3>
                  <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="productSorting" data-bs-toggle="dropdown" aria-expanded="false">
                      商品排序
                    </button>
                    <ul class="dropdown-menu border-light" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">上架由新到舊</a></li>
                      <li><a class="dropdown-item" href="#">上架由舊到新</a></li>
                      <li><a class="dropdown-item" href="#">價格由低到高</a></li>
                      <li><a class="dropdown-item" href="#">價格由高到低</a></li>
                    </ul>
                  </div>
                </div>
                <div class="row gx-lg-5 gx-3">
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_customInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/custom01-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">術後照護餐01</h5>
                          <div class="badge badge-secondary">
                            膽囊切除
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_customInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/custom02-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">術後照護餐02</h5>
                          <div class="badge badge-secondary">
                            婦科術後
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_customInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/custom03-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">術後照護餐03</h5>
                          <div class="badge badge-secondary">
                            人工關節換置
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_customInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/custom04-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">化療照護餐01</h5>
                          <div class="badge badge-secondary">
                            乳癌適用
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_customInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/custom05-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">化療照護餐02</h5>
                          <div class="badge badge-secondary">
                            肺癌適用
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_customInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/custom06-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">化療照護餐03</h5>
                          <div class="badge badge-secondary">
                            大腸癌適用
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 高蛋白燉飲 -->
          <div id="protein">
            <nav aria-label="breadcrumb" class="mb-lg-6 mb-4 fs-lg-5 fs-6">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                <li class="breadcrumb-item"><a href="#">線上買好料</a></li>
                <li class="breadcrumb-item"><a href="#">高蛋白燉飲</a></li>
              </ol>
            </nav>
            <div class="row">
              <div class="col-lg-10 ms-auto">     
                <div class="pagetitle mb-lg-7 mb-6 d-flex justify-content-between align-items-center">
                  <h3 class="fw-bold fs-lg-3 fs-4">高蛋白燉飲</h3>
                  <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="productSorting" data-bs-toggle="dropdown" aria-expanded="false">
                      商品排序
                    </button>
                    <ul class="dropdown-menu border-light" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">上架由新到舊</a></li>
                      <li><a class="dropdown-item" href="#">上架由舊到新</a></li>
                      <li><a class="dropdown-item" href="#">價格由低到高</a></li>
                      <li><a class="dropdown-item" href="#">價格由高到低</a></li>
                    </ul>
                  </div>
                </div>
                <div class="row  gx-lg-5 gx-3">
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_otherInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/soup01-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">高蛋白燉飲01</h5>
                          <div class="badge badge-secondary">
                            苷醇雙雞
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_otherInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/soup02-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">高蛋白燉飲02</h5>
                          <div class="badge badge-secondary">
                            苷醇牛犇
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_otherInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/soup03-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">高蛋白燉飲03</h5>
                          <div class="badge badge-secondary">
                            苷醇藻鱸
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 機能調理餐 -->
          <div id="lunchBox">
            <nav aria-label="breadcrumb" class="mb-lg-6 mb-4 fs-lg-5 fs-6">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                <li class="breadcrumb-item"><a href="#">線上買好料</a></li>
                <li class="breadcrumb-item"><a href="#">機能調理餐</a></li>
              </ol>
            </nav>
            <div class="row">
              <div class="col-lg-10 ms-auto">     
                <div class="pagetitle mb-lg-7 mb-6 d-flex justify-content-between align-items-center">
                  <h3 class="fw-bold fs-lg-3 fs-4">機能調理餐</h3>
                  <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="productSorting" data-bs-toggle="dropdown" aria-expanded="false">
                      商品排序
                    </button>
                    <ul class="dropdown-menu border-light" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">上架由新到舊</a></li>
                      <li><a class="dropdown-item" href="#">上架由舊到新</a></li>
                      <li><a class="dropdown-item" href="#">價格由低到高</a></li>
                      <li><a class="dropdown-item" href="#">價格由高到低</a></li>
                    </ul>
                  </div>
                </div>
                <div class="row  gx-lg-5 gx-3">
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_otherInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/lunch01-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">機能調理餐01</h5>
                          <div class="badge badge-secondary">
                            低糖好新纖
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_otherInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/lunch02-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">機能調理餐02</h5>
                          <div class="badge badge-secondary">
                            均衡好食多
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_otherInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/lunch03-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">機能調理餐03</h5>
                          <div class="badge badge-secondary">
                            多多好蛋白
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_otherInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/lunch04-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">機能調理餐04</h5>
                          <div class="badge badge-secondary">
                            田園好蔬適
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_otherInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/lunch05-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">機能調理餐05</h5>
                          <div class="badge badge-secondary">
                            咀嚼好輕鬆
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 mb-lg-7 mb-6">
                    <a href="shopping_otherInfo.html" class="card border-0 ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/lunch06-m.png" alt="product" class="card-pic">
                        <div class="btn btn-primary d-flex align-items-center position-absolute top-50 start-50 text-nowrap">
                          加入購物車
                          <span class="material-symbols-rounded ms-2"> shopping_cart </span>
                        </div>
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="fs-lg-4">機能調理餐06</h5>
                          <div class="badge badge-secondary">
                            少鹽好鉀在
                          </div>
                        </div>
                        <h5 class="fw-bold">
                          NT$350
                        </h5>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>


  <!-- custom modal -->
  <div
    class="modal fade"
    id="customModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">加入購物車</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            data-bs-dismiss="modal"
          >
            取消
          </button>
          <button type="button" class="btn btn-primary d-block text-nowrap">加入購物車</button>
        </div>
      </div>
    </div>
  </div>

  <!-- other modal -->
  <div
  class="modal fade"
  id="otherModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog  modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCreditCard">加入購物車</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        .......
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-dismiss="modal"
        >
          取消
        </button>
        <button type="button" class="btn btn-primary text-nowrap">加入購物車</button>
      </div>
    </div>
  </div>
  </div>
</div>

    <%- include('./layout/footer') -%> <%- include('./layout/body_bottom') -%>
  </body>
</html>
