<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header') -%>
  <main class="shoppingBag pt-4 pb-lg-9" id="tabs">      
    <div class="layout container position-relative">
      <div class="row">
        <div class="
        orderSummary col-lg-3 ms-auto mb-lg-0 mb-6">
          <div class="card mb-4 overflow-hidden">
            <div class="card-title px-4 py-2 bg-secondary">訂單摘要</div>
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between mb-4">
                <p>小計</p>
                <p>NT$1050</p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p>運費</p>
                <p>NT$100</p>
              </div>
              <hr>
              <div class="d-flex align-items-center justify-content-between mb-4 fw-bold">
                <p>合計</p>
                <p>NT$1150</p>
              </div>
              <!-- tab button -->
              <ul class="nav nav-tabs border-0 d-flex flex-column-reverse">
                <li class="nav-item  wizard-tab tab-3 hide text-center">
                  <a
                    class="nav-link border-0 link-light"
                    aria-current="page"
                    href="#bag"
                  >
                  返回購物袋
                  <span class="material-symbols-rounded">
                    keyboard_return
                    </span>
                  </a>
                </li>
                <li class="nav-item  wizard-tab tab-2 btn btn-primary open position-relative">
                  <a
                    class="nav-link border-0 stretched-link text-white"
                    href="#fillInfo"
                    >前往結帳</a
                  >
                </li>
                <li class="nav-item wizard-tab tab-1 btn btn-primary hide mb-2 position-relative">
                  <a
                    class="nav-link border-0 stretched-link text-white"
                    href="#orderComplete"
                    >完成訂單</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="text-light d-flex mb-4">
            <span class="material-symbols-rounded me-2"> error </span>
            <p>
              由於餐點皆為現作，為了保持餐點的風味，商品皆以宅配到府的方式送達
            </p>
          </div>
          <div class="text-light d-flex">
            <span class="material-symbols-rounded me-2"> error </span>
            <p>
              宅配僅限台灣本島，熱食配送僅限北北基地區，詳情請見「料理怎麼買」
            </p>
          </div>
        </div>
        <div class="receiveOrder col-lg-3 ms-auto mb-lg-0 mb-6">
          <img src="../assets/images/shopping/illustration.svg" alt="illustration" class="p-6 d-lg-block d-none">
          <h4 class="fw-bold text-center mb-2">
            <p>已收到訂單</p>
            <p>訂單編號A123456789</p>
          </h4>
          <a href="shopping_mall.html" class="btn btn-primary d-block">立即去購物！</a>
        </div>
      </div>


      <!-- 購物袋 -->
      <div id="bag">
        <nav aria-label="breadcrumb" class="mb-lg-6 mb-4 fs-lg-5 fs-6">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">首頁</li>
            <li class="breadcrumb-item">購物袋</li>
            <li class="breadcrumb-item">購物袋</li>
          </ol>
        </nav>
        <div class="d-flex flex-lg-row flex-column align-items-center justify-content-between mb-lg-6 mb-4">
          <h3 class="fw-bold mb-lg-0 mb-4 align-self-start">購物袋</h3>
          <div class="wizard d-flex align-items-center">
            <div class="d-flex flex-lg-row flex-column align-items-center active">
              <h3 class="fw-bold rounded-circle me-lg-1 mb-lg-0 mb-1 text-center">
                1
              </h3>
              購物袋
            </div>
            <span class="material-symbols-rounded mx-2"> east </span>
            <div class="d-flex flex-lg-row flex-column  align-items-center">
              <h3 class="fw-bold rounded-circle me-lg-1 mb-lg-0 mb-1 text-center ">
                2
              </h3>
              填寫資料
            </div>
            <span class="material-symbols-rounded mx-2"> east </span>
            <div class="d-flex flex-lg-row flex-column  align-items-center">
              <h3 class="fw-bold rounded-circle me-lg-1 mb-lg-0 mb-1 text-center ">
                3
              </h3>
              完成訂單
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 me-auto">
            <!-- desktop table -->
            <div class="rounded border bg-white overflow-hidden d-lg-block d-none">
              <table class="table table-borderless table-hover mb-6">
                <thead>
                  <tr>
                    <th scope="col" colspan="4" class="pb-0">
                      <p class=" px-4 border-5 border-start border-primary text-primary">
                        熱食配送
                      </p>
                    </th>
                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th scope="col" colspan="2">品項/規格</th>
                    <th scope="col">單價</th>
                    <th scope="col">數量</th>
                    <th scope="col">小計</th>
                    <th scope="col">刪除</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="td-124">
                      <img src="../assets/images/product/custom01-m.png" alt="product" class="flex-shrink-0 rounded object-fit-cover">
                    </td>
                    <td class="td-auto">
                      <h5 class="fw-bold mb-2">術後照護餐01
                        <span class="badge badge-secondary ms-2">
                          膽囊切除
                        </span>
                      </h5>
                      <p class="mb-2">紫米飯/三杯雞/清炒高麗菜/金沙四季豆/柴魚蒸蛋/蘿蔔排骨/燕巢芭樂</p>
                      <p class="text-light">備註：不要加香菜</p>
                    </td>
                    <td class="td-88">$350</td>
                    <td class="td-160">
                      <%- include('./layout/incrementer'); -%>
                    </td>
                    <td class="td-88">$350</td>
                    <td class="td-88"> 
                      <div class="btn btn-outline-warning">
                      <span class="material-symbols-rounded"> delete </span>
                    </div>
                  </td>
                  </tr>
                  <tr>
                    <td class="td-124">
                      <img src="../assets/images/product/custom02-m.png" alt="product" class="flex-shrink-0 rounded object-fit-cover">
                    </td>
                    <td class="td-auto">
                      <h5 class="fw-bold mb-2">術後照護餐02
                        <span class="badge badge-secondary ms-2">
                          婦科術後
                        </span>
                      </h5>
                      <p class="mb-2">紫米飯/三杯雞/清炒高麗菜/金沙四季豆/柴魚蒸蛋/蘿蔔排骨/燕巢芭樂</p>
                      <p class="text-light">備註：不要加香菜</p>
                    </td>
                    <td class="td-88">$350</td>
                    <td class="td-160">
                      <%- include('./layout/incrementer'); -%>
                    </td>
                    <td class="td-88">$350</td>
                    <td class="td-88"> 
                      <div class="btn btn-outline-warning">
                      <span class="material-symbols-rounded"> delete </span>
                    </div>
                  </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-borderless table-hover">
                <thead>
                  <tr>
                    <th scope="col" colspan="4" class="pb-0">
                      <p class="px-4 border-5 border-start border-primary text-primary">
                        冷藏配送
                      </p>
                    </th>
                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th scope="col" colspan="2">品項/規格</th>
                    <th scope="col">單價</th>
                    <th scope="col">數量</th>
                    <th scope="col">小計</th>
                    <th scope="col">刪除</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="td-124">
                      <img src="../assets/images/product/soup01-m.png" alt="product" class="flex-shrink-0 rounded object-fit-cover">
                    </td>
                    <td class="td-auto">
                      <h5 class="fw-bold">
                        高蛋白燉飲01
                        <span class="badge badge-secondary ms-2">
                          苷醇雙雞
                        </span>
                      </h5>
                    </td>
                    <td class="td-88">$350</td>
                    <td class="td-160">
                          <%- include('./layout/incrementer'); -%>
                    </td>
                    <td class="td-88">$350</td>
                    <td class="td-88"> 
                      <div class="btn btn-outline-warning">
                      <span class="material-symbols-rounded"> delete </span>
                    </div>
                  </td>
                  </tr>
                  <tr>
                    <td class="td-124">
                      <img src="../assets/images/product/lunch01-m.png" alt="product" class="flex-shrink-0 rounded object-fit-cover">
                    </td>
                    <td class="td-auto">
                      <h5 class="fw-bold">機能調理餐01
                        <span class="badge badge-secondary ms-2">
                          低糖好新纖
                        </span>
                      </h5>
                    </td>
                    <td class="td-88">$350</td>
                    <td class="td-160">
                          <%- include('./layout/incrementer'); -%>
                    </td>
                    <td class="td-88">$350</td>
                    <td class="td-88"> 
                      <div class="btn btn-outline-warning">
                      <span class="material-symbols-rounded"> delete </span>
                    </div>
                  </td>
                  </tr>
                  <tr>
                    <td class="td-124">
                      <img src="../assets/images/product/lunch02-m.png" alt="product" class="flex-shrink-0 rounded object-fit-cover">
                    </td>
                    <td class="td-auto">
                      <h5 class="fw-bold">機能調理餐02
                        <span class="badge badge-secondary ms-2">
                          均衡好食多
                        </span>
                      </h5>
                    </td>
                    <td class="td-88">$350</td>
                    <td class="td-160">
                          <%- include('./layout/incrementer'); -%>
                    </td>
                    <td class="td-88">$350</td>
                    <td class="td-88"> 
                      <div class="btn btn-outline-warning">
                      <span class="material-symbols-rounded"> delete </span>
                    </div>
                  </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- mobile card -->
            <div class="mobile-card rounded border bg-white overflow-hidden d-lg-none">
              <div class="p-4 border-bottom">
                <h5 class="px-4 fw-bold border-5 border-start border-primary text-primary mb-4">熱食配送</h5>
                <div class="mb-4 pb-4 border-bottom">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bold">
                      術後照護餐01
                    </h5>
                    <div>
                      <span>
                        NT$350
                      </span>
                      <span class="btn btn-outline-warning ms-4">
                        <span class="material-symbols-rounded"> delete </span>
                      </span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <img src="../assets/images/product/custom01-m.png" alt="product" class="me-2 flex-shrink-0 rounded object-fit-cover">
                    <div>
                      <p class="badge badge-secondary mb-2">
                        膽囊切除
                      </p>
                      <p class="mb-2 fs-6">紫米飯/三杯雞/清炒高麗菜/金沙四季豆/柴魚蒸蛋/蘿蔔排骨/燕巢芭樂</p>
                      <p class="text-light mb-2 fs-6">備註：不要加香菜</p>
                      <div class="d-flex align-items-center justify-content-between">
                            <%- include('./layout/incrementer'); -%>
                        <p>$350</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bold">
                      術後照護餐02
                    </h5>
                    <div>
                      <span>
                        NT$350
                      </span>
                      <span class="btn btn-outline-warning ms-4">
                        <span class="material-symbols-rounded"> delete </span>
                      </span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <img src="../assets/images/product/custom02-m.png" alt="product" class="me-2 flex-shrink-0 rounded object-fit-cover">
                    <div>
                      <p class="badge badge-secondary mb-2">
                        婦科術後
                      </p>
                      <p class="mb-2 fs-6">紫米飯/三杯雞/清炒高麗菜/金沙四季豆/柴魚蒸蛋/蘿蔔排骨/燕巢芭樂</p>
                      <p class="text-light mb-2 fs-6">備註：不要加香菜</p>
                      <div class="d-flex align-items-center justify-content-between">
                            <%- include('./layout/incrementer'); -%>
                        <p>$350</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-4">
                <h5 class="px-4 fw-bold border-5 border-start border-primary text-primary mb-4">冷藏配送</h5>
                <div class="mb-4 pb-4 border-bottom">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bold">
                      高蛋白燉飲01
                    </h5>
                    <div>
                      <span>
                        NT$350
                      </span>
                      <span class="btn btn-outline-warning ms-4">
                        <span class="material-symbols-rounded"> delete </span>
                      </span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <img src="../assets/images/product/soup01-m.png" alt="product" class="me-2 flex-shrink-0 rounded object-fit-cover">
                    <div class="w-100">
                      <p class="badge badge-secondary mb-2">
                        苷醇雙雞
                      </p>
                      <div class="d-flex align-items-center justify-content-between">
                            <%- include('./layout/incrementer'); -%>
                        <p>$350</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-4 pb-4 border-bottom">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bold">
                      機能調理餐01
                    </h5>
                    <div>
                      <span>
                        NT$350
                      </span>
                      <span class="btn btn-outline-warning ms-4">
                        <span class="material-symbols-rounded"> delete </span>
                      </span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <img src="../assets/images/product/lunch01-m.png" alt="product" class="me-2 flex-shrink-0 rounded object-fit-cover">
                    <div class="w-100">
                      <p class="badge badge-secondary mb-2">
                        低糖好新纖
                      </p>
                      <div class="d-flex align-items-center justify-content-between">
                            <%- include('./layout/incrementer'); -%>
                        <p>$350</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="fw-bold">
                      機能調理餐02
                    </h5>
                    <div>
                      <span>
                        NT$350
                      </span>
                      <span class="btn btn-outline-warning ms-4">
                        <span class="material-symbols-rounded"> delete </span>
                      </span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <img src="../assets/images/product/lunch02-m.png" alt="product" class="me-2 flex-shrink-0 rounded object-fit-cover">
                    <div class="w-100">
                      <p class="badge badge-secondary mb-2">
                        均衡好食多
                      </p>
                      <div class="d-flex align-items-center justify-content-between">
                            <%- include('./layout/incrementer'); -%>
                        <p>$350</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- recommend -->
            <section class="recommend py-lg-9 py-7">
              <div class="container px-0">
                <h4 class="fw-bold mb-4">推薦商品</h4>
                <div class="row gx-5 flex-nowrap overflow-x-scroll" id="scrollBar">
                  <div class="col-lg-4 col-9">
                    <a href="shopping_customInfo.html" class="card border-0 bg-transparent ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/custom01-m.png" alt="product" class="card-pic">
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex flex-lg-row flex-column align-items-lg-start justify-content-between">
                            <h5 class="fs-lg-4 mb-lg-0 mb-2">
                              術後照護餐01
                              <p class="fs-5">
                                NT$350
                              </p>
                            </h5>
                            <div class="badge badge-secondary align-self-start">
                              膽囊切除
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-9">
                    <a href="shopping_soupInfo.html" class="card border-0 bg-transparent ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/soup01-m.png" alt="product" class="card-pic">
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex flex-lg-row flex-column align-items-lg-start justify-content-between">
                            <h5 class="fs-lg-4 mb-lg-0 mb-2">
                              高蛋白燉飲01
                              <p class="fs-5">
                                NT$350
                              </p>
                            </h5>
                            <div class="badge badge-secondary align-self-start">
                              苷醇雙雞
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-9">
                    <a href="shopping_lunchInfo.html" class="card border-0 bg-transparent ">
                      <div class="card-box overflow-hidden rounded position-relative">
                        <img src="../assets/images/product/lunch01-m.png" alt="product" class="card-pic">
                      </div>
                      <div class="card-body px-0 py-2">
                        <div class="d-flex flex-lg-row flex-column align-items-lg-start justify-content-between">
                            <h5 class="fs-lg-4 mb-lg-0 mb-2">
                              機能調理餐01
                              <p class="fs-5">
                                NT$350
                              </p>
                            </h5>
                            <div class="badge badge-secondary align-self-start">
                              低糖好新纖
                            </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      
      <!-- 填寫資料 -->
      <div id="fillInfo" class="mb-6">
        <nav aria-label="breadcrumb" class="mb-lg-6 mb-4 fs-lg-5 fs-6">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">首頁</li>
            <li class="breadcrumb-item">購物袋</li>
            <li class="breadcrumb-item">填寫資料</li>
          </ol>
        </nav>
        <div class="d-flex flex-lg-row flex-column align-items-center justify-content-between mb-lg-6 mb-4">
          <h3 class="fw-bold mb-lg-0 mb-4 align-self-start">填寫資料</h3>
          <div class="wizard d-flex align-items-center">
            <div class="d-flex flex-lg-row flex-column align-items-center">
              <h3 class="fw-bold rounded-circle me-lg-1 mb-lg-0 mb-1 text-center">
                1
              </h3>
              購物袋
            </div>
            <span class="material-symbols-rounded mx-2"> east </span>
            <div class="d-flex flex-lg-row flex-column  align-items-center active">
              <h3 class="fw-bold rounded-circle me-lg-1 mb-lg-0 mb-1 text-center ">
                2
              </h3>
              填寫資料
            </div>
            <span class="material-symbols-rounded mx-2"> east </span>
            <div class="d-flex flex-lg-row flex-column  align-items-center">
              <h3 class="fw-bold rounded-circle me-lg-1 mb-lg-0 mb-1 text-center ">
                3
              </h3>
              完成訂單
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 me-auto">
            <form action="#" class="rounded border bg-white overflow-hidden p-4">
              <div class="mb-8">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <h5 class=" px-4 border-5 border-start border-primary text-primary">
                    收件人資料
                  </h5>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="收件人資料同會員">
                    <label class="form-check-label align-baseline" for="收件人資料同會員">
                      收件人資料同會員
                    </label>
                  </div>
                </div>
                <div class="mb-4">
                  <label for="name" class="form-label">
                    姓名
                  </label>
                  <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="請輸入姓名">
                </div>
                <div class="mb-4">
                  <label for="email" class="form-label">
                    電子信箱
                  </label>
                  <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="請輸入電子信箱">
                </div>
                <div>
                  <label for="phone" class="form-label">
                    電話號碼
                  </label>
                  <input type="tel" class="form-control" id="phone" aria-describedby="phone" placeholder="請輸入電話號碼">
                </div>
              </div>
              <div class="mb-8">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <h5 class=" px-4 border-5 border-start border-primary text-primary">
                    收貨地址
                  </h5>
                  <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#receiveLocation">
                    常用收件地
                  </button>
                </div>
                <div class="mb-4">
                  <label for="location" class="form-label">
                    收件地址
                  </label>
                  <div class="d-flex">
                    <select class="form-select me-4" aria-label="receiveLocation">
                      <option selected>選擇縣市</option>
                      <option value="1">台北市</option>
                      <option value="2">新北市</option>
                      <option value="3">桃園市</option>
                    </select>
                    <select class="form-select" aria-label="receiveLocation">
                      <option selected>選擇區域</option>
                      <option value="1">中正區</option>
                      <option value="2">大安區</option>
                      <option value="3">中山區</option>
                    </select>
                  </div>
                </div>
                  <input type="text" class="form-control" id="street" aria-describedby="street" placeholder="請輸入詳細地址">
              </div>
              <div class="mb-8">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <h5 class=" px-4 border-5 border-start border-primary text-primary">
                    付款方式
                  </h5>
                  <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#payment">
                    常用信用卡
                  </button>
                </div>
                <div class="mb-4">
                  <label for="creditCard" class="form-label">
                    卡片詳情
                  </label>
                  <input type="text" class="form-control" id="creditCard" aria-describedby="creditCard" placeholder="信用卡號碼">
                </div>
                <div class="mb-4 d-flex">
                  <input type="text" class="form-control me-4" id="deadline" aria-describedby="deadline" placeholder="到期日(MM/YY)">
                  <input type="text" class="form-control" id="safetyCode" aria-describedby="safetyCode" placeholder="安全驗證碼">
                </div>
                  <input type="text" class="form-control" id="ownerName" aria-describedby="ownerName" placeholder="持卡者名字">
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- 填寫資料 -->
      <div id="orderComplete" class="mb-6">
        <nav aria-label="breadcrumb" class="mb-lg-6 mb-4 fs-lg-5 fs-6">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">首頁</li>
            <li class="breadcrumb-item">購物袋</li>
            <li class="breadcrumb-item">完成訂單</li>
          </ol>
        </nav>
        <div class="d-flex flex-lg-row flex-column align-items-center justify-content-between mb-lg-6 mb-4">
          <h3 class="fw-bold mb-lg-0 mb-4 align-self-start">完成訂單</h3>
          <div class="wizard d-flex align-items-center">
            <div class="d-flex flex-lg-row flex-column align-items-center">
              <h3 class="fw-bold rounded-circle me-lg-1 mb-lg-0 mb-1 text-center">
                1
              </h3>
              購物袋
            </div>
            <span class="material-symbols-rounded mx-2"> east </span>
            <div class="d-flex flex-lg-row flex-column  align-items-center">
              <h3 class="fw-bold rounded-circle me-lg-1 mb-lg-0 mb-1 text-center ">
                2
              </h3>
              填寫資料
            </div>
            <span class="material-symbols-rounded mx-2"> east </span>
            <div class="d-flex flex-lg-row flex-column  align-items-center active">
              <h3 class="fw-bold rounded-circle me-lg-1 mb-lg-0 mb-1 text-center ">
                3
              </h3>
              完成訂單
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 me-auto">
            <!-- desktop table -->
            <div class="rounded border bg-white overflow-hidden d-lg-block d-none">
              <table class="table table-borderless mb-6">
                <thead>
                  <tr>
                    <th scope="col" colspan="4" class="pb-0">
                      <p class=" px-4 border-5 border-start border-primary text-primary">
                        熱食配送
                      </p>
                    </th>
                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th scope="col" colspan="2">品項/規格</th>
                    <th scope="col">數量</th>
                    <th scope="col">小計</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="td-124">
                      <img src="../assets/images/product/custom01-m.png" alt="product" class="flex-shrink-0 rounded object-fit-cover">
                    </td>
                    <td class="td-auto">
                      <h5 class="fw-bold mb-2">術後照護餐01
                        <span class="badge badge-secondary ms-2">
                          膽囊切除
                        </span>
                      </h5>
                      <p class="mb-2">紫米飯/三杯雞/清炒高麗菜/金沙四季豆/柴魚蒸蛋/蘿蔔排骨/燕巢芭樂</p>
                      <p class="text-light">備註：不要加香菜</p>
                    </td>
                    <td class="td-88">
                      1份
                    </td>
                    <td class="td-88">$350</td>
                  </tr>
                  <tr>
                    <td class="td-124">
                      <img src="../assets/images/product/custom02-m.png" alt="product" class="flex-shrink-0 rounded object-fit-cover">
                    </td>
                    <td class="td-auto">
                      <h5 class="fw-bold mb-2">術後照護餐02
                        <span class="badge badge-secondary ms-2">
                          婦科術後
                        </span>
                      </h5>
                      <p class="mb-2">紫米飯/三杯雞/清炒高麗菜/金沙四季豆/柴魚蒸蛋/蘿蔔排骨/燕巢芭樂</p>
                      <p class="text-light">備註：不要加香菜</p>
                    </td>
                    <td class="td-88">
                      1份
                    </td>
                    <td class="td-88">$350</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-borderless border-bottom mb-0">
                <thead>
                  <tr>
                    <th scope="col" colspan="4" class="pb-0">
                      <p class="px-4 border-5 border-start border-primary text-primary">
                        冷藏配送
                      </p>
                    </th>
                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th scope="col" colspan="2">品項/規格</th>
                    <th scope="col">數量</th>
                    <th scope="col">小計</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="td-124">
                      <img src="../assets/images/product/soup01-m.png" alt="product" class="flex-shrink-0 rounded object-fit-cover">
                    </td>
                    <td class="td-auto">
                      <h5 class="fw-bold">
                        高蛋白燉飲01
                        <span class="badge badge-secondary ms-2">
                          苷醇雙雞
                        </span>
                      </h5>
                    </td>
                    <td class="td-88">
                      1份
                    </td>
                    <td class="td-88">$350</td>
                  </tr>
                  <tr>
                    <td class="td-124">
                      <img src="../assets/images/product/lunch01-m.png" alt="product" class="flex-shrink-0 rounded object-fit-cover">
                    </td>
                    <td class="td-auto">
                      <h5 class="fw-bold">
                        機能調理餐01
                        <span class="badge badge-secondary ms-2">
                          低糖好新纖
                        </span>
                      </h5>
                    </td>
                    <td class="td-88">
                      1份
                    </td>
                    <td class="td-88">$350</td>
                  </tr>
                  <tr>
                    <td class="td-124">
                      <img src="../assets/images/product/lunch02-m.png" alt="product" class="flex-shrink-0 rounded object-fit-cover">
                    </td>
                    <td class="td-auto">
                      <h5 class="fw-bold">
                        機能調理餐02
                        <span class="badge badge-secondary ms-2">
                          均衡好食多
                        </span>
                      </h5>
                    </td>
                    <td class="td-88">
                      1份
                    </td>
                    <td class="td-88">$350</td>
                  </tr>
                </tbody>
              </table>
              <div class="p-4 d-flex flex-column align-items-end">
                <div class="d-flex justify-content-between w-25 mb-4">
                  <p>小計</p>
                  <p>NT$1050</p>
                </div>
                <div class="d-flex justify-content-between w-25 mb-4">
                  <p>運費</p>
                  <p>NT$100 </p>
                </div>
                <div class="d-flex justify-content-between w-25 fw-bold text-primary">
                  <p>合計</p>
                  <p>NT$1150 </p>
                </div>
              </div>
            </div>
            <!-- mobile card -->
            <div class="mobile-card rounded border bg-white overflow-hidden d-lg-none">
              <div class="p-4 border-bottom">
                <h5 class="px-4 fw-bold border-5 border-start border-primary text-primary mb-4">熱食配送</h5>
                <div class="mb-4 pb-4 border-bottom d-flex">
                    <img src="../assets/images/product/custom01-m.png" alt="product" class="me-2 flex-shrink-0 rounded object-fit-cover">
                    <div>
                      <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="fw-bold">
                          術後照護餐01
                        </h5>
                        <p class="badge badge-secondary">
                          膽囊切除
                        </p>
                      </div>
                      <p class="mb-2 fs-6">紫米飯/三杯雞/清炒高麗菜/金沙四季豆/柴魚蒸蛋/蘿蔔排骨/燕巢芭樂</p>
                      <p class="text-light mb-2 fs-6">備註：不要加香菜</p>
                      <div class="d-flex align-items-center justify-content-between">
                        <p>1份</p>
                        <p>$350</p>
                      </div>
                    </div>
                </div>
                <div class="d-flex">
                  <img src="../assets/images/product/custom02-m.png" alt="product" class="me-2 flex-shrink-0 rounded object-fit-cover">
                  <div>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                      <h5 class="fw-bold">
                        術後照護餐02
                      </h5>
                      <p class="badge badge-secondary">
                        婦科術後
                      </p>
                    </div>
                    <p class="mb-2 fs-6">紫米飯/三杯雞/清炒高麗菜/金沙四季豆/柴魚蒸蛋/蘿蔔排骨/燕巢芭樂</p>
                    <p class="text-light mb-2 fs-6">備註：不要加香菜</p>
                    <div class="d-flex align-items-center justify-content-between">
                      <p>1份</p>
                      <p>$350</p>
                    </div>
                  </div>
              </div>
              </div>
              <div class="p-4 border-bottom">
                <h5 class="px-4 fw-bold border-5 border-start border-primary text-primary mb-4">冷藏配送</h5>
                <div class="mb-4 pb-4 border-bottom d-flex">
                    <img src="../assets/images/product/soup01-m.png" alt="product" class="me-2 flex-shrink-0 rounded object-fit-cover">
                    <div class="w-100">
                      <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="fw-bold">
                          高蛋白燉飲01
                        </h5>
                        <p class="badge badge-secondary">
                          苷醇雙雞
                        </p>
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                        <p>1份</p>
                        <p>$350</p>
                      </div>
                    </div>
                </div>
                <div class="mb-4 pb-4 border-bottom d-flex">
                  <img src="../assets/images/product/lunch01-m.png" alt="product" class="me-2 flex-shrink-0 rounded object-fit-cover">
                  <div class="w-100">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                      <h5 class="fw-bold">
                        機能調理餐01
                      </h5>
                      <p class="badge badge-secondary">
                        低糖好新纖
                      </p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                      <p>1份</p>
                      <p>$350</p>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <img src="../assets/images/product/lunch02-m.png" alt="product" class="me-2 flex-shrink-0 rounded object-fit-cover">
                  <div class="w-100">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                      <h5 class="fw-bold">
                        機能調理餐02
                      </h5>
                      <p class="badge badge-secondary">
                        均衡好食多
                      </p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                      <p>1份</p>
                      <p>$350</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-4 d-flex flex-column align-items-end">
                <div class="d-flex justify-content-between w-100 mb-4">
                  <p>小計</p>
                  <p>NT$1050</p>
                </div>
                <div class="d-flex justify-content-between w-100 mb-4">
                  <p>運費</p>
                  <p>NT$100 </p>
                </div>
                <div class="d-flex justify-content-between w-100 fw-bold text-primary">
                  <p>合計</p>
                  <p>NT$1150 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 常用收件地 -->
    <div class="modal fade" id="receiveLocation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">選擇收件地址</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="#">
              <div class="mb-4">
                <input class="btn-check d-none" type="radio" name="location" id="home"  autocomplete="off" checked>
                <label class="card p-4 btn btn-outline-dark text-start" for="home">
                  <h5 class="fw-bold">我的家</h5>
                  雲林縣斗六市中正路一段33巷458號15樓
                </label>
              </div>
              <div class="mb-4">
                <input class="btn-check d-none" type="radio" name="location" id="company"  autocomplete="off">
                <label class="card p-4 btn btn-outline-dark text-start" for="company">
                  <h5 class="fw-bold">公司</h5>
                  新北市新店區北新路二段225號13樓
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 常用信用卡 -->
    <div class="modal fade" id="payment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">選擇信用卡</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="#">
              <div class="mb-4">
                <input class="btn-check d-none" type="radio" name="creditcard" id="creditcard1"  autocomplete="off" checked>
                <label class="card p-4 btn btn-outline-dark text-start" for="creditcard1">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="fw-bold mb-1">中國信託</h5>
                      ********50304
                    </div>
                    <img src="../assets/images/shopping/creditcard-1.png" alt="creditcard">
                  </div>
                </label>
              </div>
              <div class="mb-4">
                <input class="btn-check d-none" type="radio" name="creditcard" id="creditcard2"  autocomplete="off" checked>
                <label class="card p-4 btn btn-outline-dark text-start" for="creditcard2">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="fw-bold mb-1">永豐商業銀行</h5>
                      ********12345
                    </div>
                    <img src="../assets/images/shopping/creditcard-2.png" alt="creditcard">
                  </div>
                </label>
              </div>
              <div class="mb-4">
                <input class="btn-check d-none" type="radio" name="creditcard" id="creditcard3"  autocomplete="off" checked>
                <label class="card p-4 btn btn-outline-dark text-start" for="creditcard3">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="fw-bold mb-1">台新銀行</h5>
                      ********98765
                    </div>
                    <img src="../assets/images/shopping/creditcard-3.png" alt="creditcard">
                  </div>
                </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>
</main>







    <%- include('./layout/footer') -%> 
    <%- include('./layout/body_bottom') -%>
  </body>
</html>
